<% parent_string = classification_alias_id.nil? ? "IS NULL" : " = '#{classification_alias_id}'" %>
<% types = DataCycleCore::ClassificationAlias.joins(classification_trees: [:classification_tree_label]).where("classification_tree_labels.name = ?", tree_label).where("classification_trees.parent_classification_alias_id #{parent_string}") %>

<!-- remove embedded content classifications -->
<!-- todo: make this more generic -->
<% excluded_types = ['Website','MobileApplication','Inklusiv-Leistungen','Zeitleiste-Eintrag','Frage','Antwort','Rezept-Komponente'] %>
<% types = types.select { |type| !excluded_types.include?(type.name) }%>

<div class="row expanded-filter-listitem filter" data-tree-label="<%= tree_label.downcase %>">
    <div class="columns small-12 large-2">
        <span class="title">
            <%= render 'data_cycle_core/shared/icon', icon_type: tree_label.downcase %>
            <span class="inner-title"><%= display_label %></span>
        </span>
    </div>

    <div class="columns small-12 large-10">
        <ul class="clearfix">
            <% types.sort{|a,b| a.name <=> b.name}.each do |item| %>
                <%= render 'data_cycle_core/backend/partials/filter/classification_items', item: item %>
            <% end %>
        </ul>
    </div>
</div>