<%= render 'data_cycle_core/contents/viewers/attribute', key: key, definition: definition, value: value, options: options do |item_diff| %>
    <div class="detail-type classification">
        <span class="detail-content tags">
            <% value.presence&.each do |a| %>
                <span class="tag <%= "has-changed removed" if changes_by_mode(item_diff, '-').include?(a.id) %>"><%= a.primary_classification_alias.name %></span>
            <% end %>
            <% if changes_by_mode(item_diff, '+').present? %>
                <% DataCycleCore::Classification.where(id: changes_by_mode(item_diff, '+')).each do |a| %>
                    <span class="tag has-changed added"><%= a.primary_classification_alias.name %></span>
                <% end %>
            <% end %>
        </span>
    </div>
<% end %>
