<% overlay_id = SecureRandom.hex(10) %>
<%= link_to tag.i(class: 'fa fa-map'), '#', class: 'polygon-map-link', data: {
                    toggle: overlay_id,
                    dc_tooltip: t('classification_administration.classification_polygon.link_tooltip', locale: active_ui_locale)
                  } %>

<div class="reveal classification-polygon-reveal" id="<%= overlay_id %>" data-reveal>
  <h3><%= classification_title(classification_alias) %></h3>

  <div class="geographic remote-render"
        data-remote-path="data_cycle_core/classifications/classification_polygon_map"
        data-remote-options="<%= to_query_params({ classification_alias: classification_alias }).to_json %>">
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
