<%= render partial: 'classification_tree', collection: classification_trees.includes(sub_classification_alias: [:sub_classification_trees, :classifications, :external_source]), locals: { classification_tree_label: classification_tree_label, ancestors: classification_tree.present? ? classification_tree.ancestors.pluck(:id).reverse + [classification_tree.id] : [] } %>

<% if @page < @total_pages %>
  <li class="load-more-link">
    <span class="inner-item">
      <% if classification_tree.present? %>
        <%= link_to t('common.load_more', locale: active_ui_locale), classifications_path(classification_tree_id: classification_tree&.id, page: (@page + 1)), data: {remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: active_ui_locale)}"}, class: 'button small secondary' %>
      <% else %>
        <%= link_to t('common.load_more', locale: active_ui_locale), classifications_path(classification_tree_label_id: classification_tree_label&.id, page: (@page + 1)), data: {remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: active_ui_locale)}"}, class: 'button small secondary' %>
      <% end %>
    </span>
  </li>
<% end %>

<% if can?(:create, classification_tree_label) %>
  <li class="new-button">
    <div class="new-button-spacer"><a href="#" class="button-prime small create"><i class="fa fa-plus"></i></a></div>
    <%= render 'classification_alias_form',
              classification_tree_label: classification_tree_label,
              classification_tree: classification_tree,
              classification_alias: DataCycleCore::ClassificationAlias.new %>
  </li>
<% end %>
