<%= t('common.are_you_sure', locale: DataCycleCore.ui_language) %>

<% if classification_tree_label.statistics.linked_content_count.positive? %>
  <span class='warning'>
    <i class='fa fa-exclamation-triangle' aria-hidden='true'></i>
    <%= t('data_cycle_core.classification_tree_relations', locale: DataCycleCore.ui_language) %>
  </span>
<% end %>

<% if classification_tree_label.statistics.descendant_count.positive? %>
  <span class='warning'>
    <i class='fa fa-exclamation-triangle' aria-hidden='true'></i>
    <%= t('data_cycle_core.child_classification_relations',
          count: classification_tree_label.statistics.descendant_count,
          data: t('data_cycle_core.this_classification_tree', locale: DataCycleCore.ui_language),
          locale: DataCycleCore.ui_language) %>
  </span>
<% end %>
