<% classification_trees.includes(sub_classification_alias: :sub_classification_trees).each do |classification_tree| %>
  <li>
    <% if classification_tree.sub_classification_alias.sub_classification_trees.size > 0 %>
      <%= link_to classification_tree.sub_classification_alias.try(:name),
                  classifications_path(classification_tree_id: classification_tree.id),
                  data: {remote: true, 'disable-with' => '<i class="fa fa-spinner fa-spin"></i> Loading ...'} %>
      <ul id="<%= classification_tree.id %>">
      </ul>
    <% else %>
      <%= classification_tree.sub_classification_alias.try(:name) %>
    <% end %>
  </li>
<% end %>
