<p><%= t('actions.delete_confirmation_html', type: classification_alias.model_name.human(locale: active_ui_locale), name: classification_alias.full_path, locale: active_ui_locale) %></p>

<% if classification_alias.linked_contents.exists? %>
  <div class="warning callout">
    <%= t('data_cycle_core.classification_relations_html', count: classification_alias.linked_contents.size, locale: active_ui_locale) %>
  </div>
<% end %>

<% if classification_alias.sub_classification_alias.exists? %>
  <div class="warning callout">
    <%= t('data_cycle_core.child_classification_relations_html', count: classification_alias.sub_classification_alias.size, data: t('data_cycle_core.this_classification', locale: active_ui_locale), locale: active_ui_locale) %>
  </div>
<% end %>
