<%= render partial: 'mapped_classification_alias', collection: mapped_classification_aliases, as: :mapped_classification_alias, locals: { classification_tree_label: classification_tree_label, type: type } %>

<% if mapped_classification_aliases.any? && !last_page %>
  <li class="load-more-link <%= type %>">
    <span class="inner-item">
      <% id_param = classification_type.is_a?(DataCycleCore::ClassificationAlias) ? { mapped_classification_alias_id: classification_type.id } : { classification_tree_id: classification_type&.id } %>

      <%= link_to t('common.load_all', locale: active_ui_locale),
                  classifications_path(**id_param, load_all: true, page: (page + 1), type: type, classification_tree_label_id: classification_tree_label.id, html_id: html_id),
                  data: {
                    remote: true,
                    disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: active_ui_locale)}"
                  },
                  class: 'button small secondary' %>

      <%= link_to t('common.load_more', locale: active_ui_locale),
                  classifications_path(**id_param, page: (page + 1), type: type, classification_tree_label_id: classification_tree_label.id, html_id: html_id),
                  data: {
                    remote: true,
                    disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: active_ui_locale)}"
                  },
                  class: 'button small secondary' %>
    </span>
  </li>
<% end %>
