<% breadcrumb :classifications, autoroot: false %>

<div id="classification-administration" class="row">
  <div class="small-12 columns">
    <h1><%= t('data_cycle_core.classifications') %></h1>

    <ul>
      <% @classification_tree_labels.each do |tree_label| %>
        <li id="<%= tree_label.id %>">
          <%= link_to tree_label.name,
                      classifications_path(classification_tree_label_id: tree_label.id),
                      data: {remote: true, 'disable-with' => '<i class="fa fa-spinner fa-spin"></i> ' + t("common.loading")} %>
          <% if can?(:destroy, tree_label) %>
            <%= link_to classifications_path(classification_tree_label_id: tree_label.id),
                        data: {remote: true, method: :delete, 'disable-with' => '<i class="fa fa-spinner fa-spin"></i>'} do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>

          <ul>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
