<% breadcrumb :classifications, autoroot: false %>

<div id="classification-administration" class="row">
  <div class="small-12 columns">
    <h1><%= t('data_cycle_core.classifications', locale: active_ui_locale) %></h1>

    <% external_systems = DataCycleCore::ExternalSystem.all %>

    <% @classification_tree_labels.group_by { |tree_label|
        tree_label.external_source_id || external_systems.select { |s|
          tree_label.name.to_s.downcase.start_with?(s.name.to_s.downcase) || tree_label.name.to_s.downcase.start_with?(s.identifier.to_s.downcase)
        }.first&.id
      }.each do |external_source_id, tree_labels| %>

      <% if external_source_id %>
        <h4><%= DataCycleCore::ExternalSystem.find(external_source_id).name %></h4>
      <% end %>

      <ul class="classification_trees backend-treeview-list">
        <%= render partial: 'classification_tree_label', collection: tree_labels, as: :tree_label %>

        <% if !external_source_id && can?(:create, DataCycleCore::ClassificationTreeLabel) %>
          <%= render 'data_cycle_core/classifications/new_classification_tree_label' %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
