<% breadcrumb :edit_from_index, @user_group, :name %>

<% content_for :top_content do %>

<div>

    <div id="edit-form">

        <%= render 'form', content: @user_group %>

    </div>

</div>

<% end %>
