<% breadcrumb :index, 'user_groups' %>

<% content_for :top_content do %>
  <%= render 'data_cycle_core/users/filter', view: 'user_groups', form_path: user_groups_path if user_signed_in? %>
<% end %>

<%= render 'results', content_class: 'user_groups', contents: @contents %>

<% random_id = SecureRandom::hex(10) %>
<% if can? :create, DataCycleCore::UserGroup %>
  <% content_for :new_button do %>
    <a class="button-prime new-object-circle" href="#" data-open="newContent"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <%= render 'new' %>
  <% end %>
<% end %>
