<% breadcrumb :'data_cycle_core/user_groups' %>

<% @mode = "flex" %>
<%= render 'data_cycle_core/user_groups/partials/grid', contents: @user_groups %>

<% if can? :create, DataCycleCore::UserGroup %>
  <div id="new-object-circle">
      <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
      <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
          <a class="option last" href="#" data-open="newContent"><i class="fa fa-folder-open-o" aria-hidden="true"></i><%= t('actions.new.user_group') %></a>
      </div>
  </div>

  <%= render 'data_cycle_core/user_groups/partials/new' %>
<% end %>
