<% breadcrumb :'data_cycle_core/user_groups' %>

<%= render 'results', contents: @paginateObject %>

<% if can? :create, DataCycleCore::UserGroup %>
  <% content_for :new_button do %>
    <div id="new-object-circle">
        <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
            <a class="option last" href="#" data-open="newContent"><i class="fa fa-folder-open-o" aria-hidden="true"></i><%= t('actions.new', data: @user_groups.model_name.human(locale: DataCycleCore.ui_language), locale: DataCycleCore.ui_language ) %></a>
        </div>
    </div>

    <%= render 'new' %>
  <% end %>
<% end %>
