**/.git/
**/.bundle/
**/log/*
**/*.log
**/pkg/
**/db/*.sqlite3
**/db/*.sqlite3-journal
**/public/eyebase/*
**/public/filmcommission/*
**/public/downloads/*
**/public/uploads
**/public/assets
**/lib/assets
**/test/fixtures/files/shp
**/tmp/
**/.byebug_history
**/.irb-history
**/node_modules/
**/gemsurance_report.html
**/.idea
**/db/backups
**/rdoc/
**/package-lock.json
**/coverage
**/.env
**/benchmark/
**/.DS_Store
