# docker compose configs
COMPOSE_FILE=vendor/gems/data-cycle-core/docker-compose.yaml
COMPOSE_PROJECT_NAME=data-cycle-base
COMPOSE_WEB_BUILD_CONTEXT=../../../
COMPOSE_WEB_DOCKER_FILE=./vendor/gems/data-cycle-core/Dockerfile
COMPOSE_WEB_COMMAND=./vendor/gems/data-cycle-core/docker/setup.sh

# default datacycle configs
SSH_AUTH_SOCK=/ssh-agent
APPLICATION_ROOT=/var/www/app
APPLICATION_PORT=3003
POSTGRES_EXTERNAL_PORT=5432
