##############################
##### production settings ####
##### 8GB RAM - 4 CPU ########
##### basic.datacycle.at #####

##### docker compose configs #####
COMPOSE_FILE=vendor/gems/data-cycle-core/docker-compose.yaml:vendor/gems/data-cycle-core/docker-compose-production.yaml
COMPOSE_PROJECT_NAME=data_cycle_base
GITLAB_CI_PROJECT_NAME=data-cycle-base
DOCKER_RESTART_POLICY=unless-stopped
COMPOSE_WEB_DOCKER_FILE=./vendor/gems/data-cycle-core/Dockerfile
DC_DOCKER_SETUP_PATH=/app/docker/

##### public application configs #####
PUBLIC_APPLICATION_PORT=3003
PUBLIC_APPLICATION_HOST=basic.datacycle.at
# PUBLIC_POSTGRES_PORT=5432
# PUBLIC_MONGODB_PORT=27017

##### imgproxy configs #####
IMGPROXY_KEY=
IMGPROXY_SALT=
IMGPROXY_IGNORE_SSL_VERIFICATION=true
IMGPROXY_MAX_SRC_RESOLUTION=100
IMGPROXY_READ_TIMEOUT=60
IMGPROXY_WRITE_TIMEOUT=60
IMGPROXY_DOWNLOAD_TIMEOUT=60
IMGPROXY_KEEP_ALIVE_TIMEOUT=60
IMGPROXY_PORT=9000
IMGPROXY_ENABLE_WEBP_DETECTION=true
IMGPROXY_PRESETS='default=sharpen:1.0'
IMGPROXY_STRIP_METADATA=false
IMGPROXY_USE_ETAG=true

##### redis configs #####
REDIS_SERVER=redis
REDIS_PORT=6379
REDIS_CACHE_DATABASE=2
REDIS_CABLE_DATABASE=10
REDIS_CACHE_NAMESPACE=data-cycle-base_production
REDIS_MAX_MEMORY=1gb

##### postgres configs #####
POSTGRES_USER=data-cycle-base
POSTGRES_PASSWORD=
POSTGRES_DATABASE=data-cycle-base_production
# POSTGRES_PORT=5432
# POSTGRES_HOST=postgres
# POSTGRES_VERSION=13

##### mongodb configs #####
MONGODB_HOST=mongodb
MONGODB_CACHE_SIZE_GB=1

##### rails configs #####
APPLICATION_ROOT=/app
APP_HOST=basic.datacycle.at
APP_PROTOCOL=https
TZ=Europe/Vienna
PUMA_MAX_THREADS=5
PUMA_MAX_MEMORY=2048
WEB_CONCURRENCY=3
SECRET_KEY_BASE=
IMGPROXY_DC_SIGNATURE_URL=https://basic.datacycle.at

##### Environment #####
RAILS_ENV=production
APP_DOCKER_ENV=production
NODE_ENV=production
# RAILS_LOG_TO_STDOUT=true

##### varnish config #####
# VARNISH_SIZE=100M
# VARNISH_STATIC_SIZE=2G

##### docker volume configs #####
BASE_DATA_VOLUME_PATH=/home/pixelpoint/data_cycle/data_cycle_base/dcdata
BASE_DC_PUBLIC_UPLOADS_VOLUME_PATH=/home/pixelpoint/data_cycle/data_cycle_base/dcdata
BASE_DC_IMPORT_VOLUME_PATH=/home/pixelpoint/data_cycle/data_cycle_base/dcdata
BASE_LOG_VOLUME_PATH=/home/pixelpoint/data_cycle/data_cycle_base/log
BASE_CACHE_VOLUME_PATH=/home/pixelpoint/data_cycle/data_cycle_base/cache
BASE_HISTORY_VOLUME_PATH=/home/pixelpoint/data_cycle/data_cycle_base/history
BASE_BACKUP_VOLUME_PATH=/home/pixelpoint/data_cycle/data_cycle_base/backups

##### appsignal configs #####
#APPSIGNAL_APP_NAME=basic.datacycle.at
#APPSIGNAL_ENV=production

##### core settings #####
# CORE_RAKE_PREFIX=app:
# CORE_DUMMY_PREFIX=/test/dummy

##### migration settings #####
# ENV vars to skip migrations
