##############################
##### development settings ###
##### 8GB RAM - 4 CPU ########

##### docker compose configs #####
COMPOSE_FILE=docker-compose.yaml:docker-compose-local.yaml
COMPOSE_PROJECT_NAME=data_cycle_core
GITLAB_CI_PROJECT_NAME=data-cycle-core
DOCKER_RESTART_POLICY=unless-stopped
COMPOSE_WEB_DOCKER_FILE=./Dockerfile-core
DC_DOCKER_SETUP_PATH=/app/docker/

##### public application configs #####
PUBLIC_APPLICATION_PORT=3010
PUBLIC_APPLICATION_HOST=localhost
# PUBLIC_POSTGRES_PORT=5432
# PUBLIC_MONGODB_PORT=27017
# PUBLIC_MAILHOG_PORT=1025

##### imgproxy configs #####
IMGPROXY_KEY=8877215e1d7e86892fadc1431a7a98e9aed1220b88bb6cd67ac0741ed2ee184f
IMGPROXY_SALT=2476e3b309a90ef661ae42444180955156623839e9560ffb8baa6b00a6b2be1d
IMGPROXY_IGNORE_SSL_VERIFICATION=true
IMGPROXY_MAX_SRC_RESOLUTION=100
IMGPROXY_READ_TIMEOUT=60
IMGPROXY_WRITE_TIMEOUT=60
IMGPROXY_DOWNLOAD_TIMEOUT=60
IMGPROXY_KEEP_ALIVE_TIMEOUT=60
IMGPROXY_PORT=9000
IMGPROXY_ENABLE_WEBP_DETECTION=true
IMGPROXY_PRESETS='default=sharpen:1.0'
IMGPROXY_STRIP_METADATA=false
IMGPROXY_USE_ETAG=true

##### redis configs #####
REDIS_SERVER=redis
REDIS_PORT=6379
REDIS_CACHE_DATABASE=2
REDIS_CABLE_DATABASE=10
REDIS_CACHE_NAMESPACE=data-cycle-core_development
REDIS_MAX_MEMORY=1gb

##### postgres configs #####
POSTGRES_USER=data-cycle-core
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=data-cycle-core_development2
# POSTGRES_PORT=5432
# POSTGRES_HOST=postgres
# POSTGRES_VERSION=13

##### mongodb configs #####
MONGODB_HOST=mongodb
MONGODB_CACHE_SIZE_GB=1

##### rails configs #####
APPLICATION_ROOT=/app/test/dummy
APP_HOST=localhost:3010
APP_PROTOCOL=http
TZ=Europe/Vienna
PUMA_MAX_WORKERS=1
PUMA_MAX_MEMORY=4096
PUMA_MAX_THREADS=5
SECRET_KEY_BASE=f0c50495f96319d929af69e420fe061710f0d81a57607479245ec28af7494e4d0424822e73808c1b153eb0c7ee9c6d4a9b505dca5241f8265bb10b39
IMGPROXY_DC_SIGNATURE_URL=http://nginx:3010

##### Environment #####
RAILS_ENV=development
APP_DOCKER_ENV=development
NODE_ENV=development
RAILS_LOG_TO_STDOUT=true

##### core settings #####
CORE_RAKE_PREFIX=app:
CORE_DUMMY_PREFIX=/test/dummy

##### migration settings #####
# ENV vars to skip migrations
