# docker compose configs
COMPOSE_FILE=docker-compose.yaml
COMPOSE_PROJECT_NAME=data-cycle-core
COMPOSE_WEB_BUILD_CONTEXT=.
COMPOSE_WEB_DOCKER_FILE=./Dockerfile
COMPOSE_WEB_COMMAND=./docker/setup-core.sh

# default datacycle configs
SSH_AUTH_SOCK=/ssh-agent
APPLICATION_ROOT=/var/www/app/test/dummy
APPLICATION_PORT=3010
POSTGRES_EXTERNAL_PORT=5432
