##### docker compose configs #####
COMPOSE_FILE=docker-compose.yaml
COMPOSE_PROJECT_NAME=data-cycle-core
COMPOSE_WEB_BUILD_CONTEXT=./
COMPOSE_WEB_DOCKER_FILE=./Dockerfile-core
COMPOSE_WEB_COMMAND=./docker/setup-core.sh

##### default datacycle configs #####
APPLICATION_ROOT=/var/www/app/test/dummy
PUBLIC_APPLICATION_PORT=3010
CORE_RAKE_PREFIX=app:
# PUBLIC_POSTGRES_PORT=5432
# PUBLIC_MONGODB_PORT=27017
# PUBLIC_MAILHOG_PORT=1025
# PUBLIC_REDIS_PORT=6379
# PUBLIC_NGINX_HTTP_PORT=80
# PUBLIC_IMAGINARY_PORT=9000
