##### docker compose configs #####
COMPOSE_FILE=vendor/gems/data-cycle-core/docker-compose.yaml:vendor/gems/data-cycle-core/docker-compose-dev.yaml
COMPOSE_PROJECT_NAME=data-cycle-base
# COMPOSE_WEB_BUILD_CONTEXT=../../../
# COMPOSE_WEB_DOCKER_FILE=./vendor/gems/data-cycle-core/Dockerfile
# COMPOSE_WEB_COMMAND=./vendor/gems/data-cycle-core/docker/setup.sh

##### default datacycle configs #####
SSH_SOCK=/run/host-services/ssh-auth.sock
# PUBLIC_APPLICATION_PORT=3003
# PUBLIC_POSTGRES_PORT=5432
# PUBLIC_MONGODB_PORT=27017
# PUBLIC_MAILHOG_PORT=1025
# PUBLIC_REDIS_PORT=6379
# PUBLIC_NGINX_HTTP_PORT=80
# PUBLIC_IMAGINARY_PORT=9000
