# docker compose configs
COMPOSE_FILE=vendor/gems/data-cycle-core/docker-compose.yaml
COMPOSE_PROJECT_NAME=data-cycle-base
COMPOSE_WEB_BUILD_CONTEXT=../../../
COMPOSE_WEB_DOCKER_FILE=./vendor/gems/data-cycle-core/Dockerfile
COMPOSE_WEB_COMMAND=./vendor/gems/data-cycle-core/docker/setup.sh

# default datacycle configs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_VERSION=11
MONGODB_HOST=mongodb
ALLOW_IP_RANGE=172.18.0.0/12
TZ=Europe/Vienna
APP_HOST=localhost:3003
APP_PROTOCOL=http
MAILHOG_HOST=mailhog
SSH_AUTH_SOCK=/ssh-agent
APPLICATION_ROOT=/var/www/app
APPLICATION_PORT=3003
