# docker compose configs
COMPOSE_FILE=docker-compose.yaml
COMPOSE_PROJECT_NAME=data-cycle-core
DOCKER_WEB_BUILD_CONTEXT=.
DOCKER_CORE_PATH=.
DOCKER_CORE_POSTFIX=-core

# default datacycle configs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_VERSION=11
MONGODB_HOST=mongodb
ALLOW_IP_RANGE=172.18.0.0/12
TZ=Europe/Vienna
APP_HOST=localhost:3010
APP_PROTOCOL=http
MAILHOG_HOST=mailhog
SSH_AUTH_SOCK=/ssh-agent
APPLICATION_ROOT=/var/www/app/test/dummy
APPLICATION_PORT=3010
