.bundle/
pkg/
**/db/*.sqlite3
**/db/*.sqlite3-journal
**/db/backups
**/tmp/
**/public/eyebase/*
**/public/filmcommission/*
**/public/downloads/*
**/public/uploads
**/public/assets
**/private/import
**/docker/hist
**/log/
*.log
.byebug_history
.irb-history
**/node_modules/
lib/assets
gemsurance_report.html
**/.idea
rdoc/
**/package-lock.json
coverage
.env
.env.production
benchmark/

# Vite Ruby
**/public/vite
**/public/vite-dev
**/public/vite-test
**/app/assets/entrypoints/images
**/*.local
.DS_Store
