.bundle/
pkg/
**/db/*.sqlite3
**/db/*.sqlite3-journal
**/db/backups
**/tmp/
**/public/eyebase/*
**/public/filmcommission/*
**/public/downloads/*
**/public/uploads
**/public/assets
**/log/
*.log
.byebug_history
.irb-history
**/node_modules/
lib/assets
gemsurance_report.html
**/.idea
rdoc/
**/package-lock.json
**/yarn.lock
coverage
.env
benchmark/
.DS_Store
test/fixtures/files/shp
