<div>
  <div class="card">
    <div class="card-divider">
        <h5><%= external_system.name %></h5>
        <h6 style="font-size: 0.8rem;"><%= external_system.id %></h6>
    </div>
  </div>
</div>
