<li class="download <%= import_data[:last_download_status] %>" data-dc-tooltip="<%= timestamp_tooltip(import_data, 'download') %>"></li>
<li class="import <%= import_data[:last_import_status] %>" data-dc-tooltip="<%= timestamp_tooltip(import_data, 'import') %>"></li>
