<div>
  <div class="card background-jobs" style="background-color:white;">
    <div class="card-divider">
      <h5>background jobs</h5>
    </div>
    <div class="card-section remote-render"
         data-remote-path="data_cycle_core/dash_board/job_queue_body">
    </div>
  </div>
</div>
