<div>
  <div class="card background-jobs" style="background-color:white;">
    <div class="card-divider">
      <h5>background jobs</h5>
    </div>
    <%= turbo_stream_from 'admin_dashboard_jobs' %>
    <%= turbo_frame_tag "admin_dashboard_jobs", src: admin_jobs_partial_path, data: { reload_interval: 10 }, class: 'card-section', refresh: 'morph' %>
  </div>
</div>
