<div>
  <%= turbo_localized_stream_from 'admin_dashboard_jobs', data: { throttle: 1 } %>
  <% stat_job_queue = DataCycleCore::StatsJobQueue.new.job_list %>
  <div class="card background-jobs accordion" data-accordion data-allow-all-closed="true">
    <div class="accordion-item" data-accordion-item>
      <div class="card-divider accordion-title" id="admin_dashboard_jobs_title">
        <h5>background jobs</h5>
        <span class="info-icon" data-dc-tooltip="<%= t('dash_board.jobs_info_text', locale: active_ui_locale) %>"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        <h6 id="jobs_queue_title">
          <%= render 'data_cycle_core/dash_board/job_queue_title', stat_job_queue: %>
        </h6>
      </div>
      <div class="card-section accordion-content" data-tab-content id="jobs_queue_body">
        <%= render 'data_cycle_core/dash_board/job_queue_body', stat_job_queue: %>
      </div>
    </div>
  </div>
</div>
