<div class="card live-log accordion" data-accordion data-allow-all-closed="true">
  <div class="accordion-item" data-accordion-item>
    <div class="card-divider accordion-title">
      <div class="header">
        <h5>Live-Logs</h5>

        <span class="info-icon" data-dc-tooltip="only new log lines get appended, historic logs are not loaded!">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </span>
      </div>

      <div class="subheader">
        <h5 class="identifier">download.log, import.log</h5>
      </div>
    </div>

    <div class="accordion-content card-section live-log-content" data-tab-content>
      <div id="admin-dashboard-live-log-content"></div>
    </div>
  </div>
</div>
