<% breadcrumb :admin, 'activities' %>

<section>

    <div class="row">
        <div class="small-12 columns">
            <h4>
                <br/><i class='fa fa-database' aria-hidden='true'></i>&nbsp;Activities<br/>&nbsp;
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="columns small-12 activities-wrapper">
                    <h2>Summary</h2>
                    <table id="activity_list" class="display"></table>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 activities-wrapper">
                    <h2>User Summary</h2>
                    <table id="activity_user_list" class="display"></table>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 overflow-x-auto activities-wrapper">
                    <h2>Details</h2>
                    <table id="activity_details" class="display"></table>
                </div>
            </div>
        </div>
    </div>

</section>
