<div class="grid-thumbnails <%= 'has-more' if DataCycleCore::CreativeWork.where(id: item.metadata['image']).count > 3 %>">
  <% DataCycleCore::CreativeWork.where(id: item.metadata['image'].try(:first, 3)).each do |image| %>
    <% if image.metadata['thumbnail_url'] %>
      <img data-src="<%= image.metadata['thumbnail_url'] %>" alt="<%= image.content['name'] unless image.content.blank?%>" class="lazyload grid-item-thumbnail" />
    <% end %>
  <% end %>
</div>
