<div class="grid-thumbnails <%= 'has-more' if DataCycleCore::CreativeWork.where(id: item.metadata['image']).count > 3 %>">
  <% DataCycleCore::CreativeWork.where(id: item.metadata['image'].try(:first, 3)).each do |image| %>
    <%= image_tag(image.metadata['thumbnailUrl'], class: "grid-item-thumbnail") %>
  <% end %>
</div>
