data_link_create:
  actions: create_editable_links
  segment: SubjectByConditions
  parameters: DataCycleCore::DataLink

data_link_actions:
  actions: [read, create, update, destroy]
  segment: SubjectByUserAndConditions
  parameters:
    - DataCycleCore::DataLink
    - :creator_id

object_browser:
  actions: [show, find]
  segment: SubjectByConditions
  parameters: :object_browser

role_index:
  actions: index
  segment: RolesExcept
  parameters: :super_admin

user_api_login:
  actions: [login, renew_login, reset_password, confirm]
  segment: SubjectByConditions
  parameters: :user_api

asset_read:
  actions: read
  segment: AssetByUserAndNoContent

asset_create_duplicate:
  actions: create_duplicate
  segment: SubjectByConditions
  parameters: DataCycleCore::Asset

asset_create:
  actions: [create, update, destroy]
  segment: SubjectByUserAndConditions
  parameters:
    - DataCycleCore::Asset
    - :creator_id

thing_create:
  actions: create
  segment: TemplateByCreatableScope
  parameters: :all

thing_print:
  actions: print
  segment: ThingByContentType
  parameters: entity

thing_actions:
  actions:
    - show_related
    - show_external_connections
    - subscribe
    - history
    - merge_duplicates
    - remove_lock
    - set_life_cycle
    - view_life_cycle
    - move_content
  segment: SubjectByConditions
  parameters: DataCycleCore::Thing

translate_feature:
  actions: translate
  segment: SubjectByConditions
  parameters: DataCycleCore::Thing

thing_history:
  actions: history
  segment: SubjectByConditions
  parameters: DataCycleCore::Thing::History

thing_edit:
  actions: [read, update, import]
  segment: ContentIsEditable
  parameters:
    - - :content_not_external?
      - :content_overlay_allowed?
      - :content_global_property_names_present?

thing_destroy:
  actions: destroy
  segment: SubjectNotExternal
  parameters: DataCycleCore::Thing

stored_filter_actions:
  actions:
    - read
    - create
    - update
    - destroy
    - show_history
    - create_api
    - share
    - update_description
    - show_description
    - change_owner
  segment: SubjectByUserAndConditions
  parameters:
    - DataCycleCore::StoredFilter
    - :user_id

watch_list_subscribe:
  actions: subscribe
  segment: SubjectByConditions
  parameters: DataCycleCore::WatchList

watch_list_actions:
  actions:
    - read
    - create
    - update
    - add_item
    - remove_item
    - update_description
    - show_description
  segment: SubjectByUserAndConditions
  parameters:
    - DataCycleCore::WatchList
    - :user_id

watch_list_actions_except_my_selection:
  actions: [destroy, share, change_owner]
  segment: WatchListByCreatorWithoutMySelection

watch_list_user_shares:
  actions: [add_item, remove_item]
  segment: WatchListByUserShares

watch_list_group_shares:
  actions: [add_item, remove_item]
  segment: WatchListByGroupShares

watch_list_role_shares:
  actions: [add_item, remove_item]
  segment: WatchListByRoleShares

data_attribute_read:
  actions: read
  segment: DataAttributeAllowedForShow
  parameters:
    - - :attribute_not_disabled?
      - :overlay_attribute_visible?
      - :attribute_not_releasable?

data_attribute_edit:
  actions: edit
  segment: DataAttributeAllowedForEdit
  parameters:
    - - :attribute_not_included_in_publication_schedule?
      - :attribute_not_disabled?
      - :overlay_attribute_visible?
      - :attribute_not_external?
      - :attribute_tree_label_visible?

data_attribute_update:
  actions: update
  segment: DataAttributeAllowedForUpdate
  parameters:
    - - :attribute_not_included_in_publication_schedule?
      - :attribute_not_disabled?
      - :attribute_not_read_only?
      - :overlay_attribute_visible?
      - :attribute_not_external?
      - :attribute_tree_label_visible?

backend:
  actions: [read, settings, sortable]
  segment: SubjectByConditions
  parameters: :backend

filter:
  actions:
    - search
    - classification_trees
    - classification_tree
    - permanent_advanced
    - advanced
    - publication_date
  segment: SubjectByConditions
  parameters:
    - - :backend
      - :classification_tree
      - :publications
      - :subscriptions
      - :things
      - :collection

advanced_filter:
  actions: advanced_filter
  segment: AdvancedFilterExceptType
  parameters:
    - - :backend
      - :classification_tree
      - :publications
      - :subscriptions
      - :things
      - :collection

subscription_actions:
  actions: read
  segment: SubjectByConditions
  parameters:
    - - DataCycleCore::Subscription
      - :publication

user_actions:
  actions:
    - read
    - create_user
    - update
    - confirm
    - destroy
    - lock
    - unlock
    - generate_access_token
    - set_role
    - set_user_groups
  segment: UsersExceptRoles
  parameters: :super_admin

user_group_actions:
  actions: [read, create, update, destroy]
  segment: SubjectByConditions
  parameters: DataCycleCore::UserGroup

download_content:
  actions: download
  segment: DownloadAllowedByContentAndScope
  parameters:
    - - DataCycleCore::Thing
      - DataCycleCore::WatchList
      - DataCycleCore::StoredFilter
    - - :content

download_zip:
  actions: download_zip
  segment: DownloadAllowedByContentAndScope
  parameters:
    - - DataCycleCore::Thing
      - DataCycleCore::WatchList
      - DataCycleCore::StoredFilter
    - - :archive
      - :zip

download_indesign:
  actions: download_indesign
  segment: DownloadAllowedByContentAndScope
  parameters:
    - - DataCycleCore::Thing
      - DataCycleCore::WatchList
      - DataCycleCore::StoredFilter
    - - :archive
      - :indesign

report_index:
  actions: [index, download_report, download_global_report]
  segment: SubjectByConditions
  parameters: :report

report_content:
  actions: download_content_report
  segment: ContentByReportGenerator

classification_overview:
  actions: read
  segment: TreeLabelByVisibility
  parameters:
    - classification_overview
    - classification_administration

classification_actions:
  actions: manage
  segment: SubjectNotExternal
  parameters:
    - DataCycleCore::Classification
    - DataCycleCore::ClassificationTree

classification_tree_label_actions:
  actions: [download, create, edit]
  segment: SubjectByConditions
  parameters: DataCycleCore::ClassificationTreeLabel

classification_tree_label_update:
  actions: update
  segment: SubjectNotExternal
  parameters: DataCycleCore::ClassificationTreeLabel

classification_alias_actions:
  actions: [create, update]
  segment: SubjectNotExternalAndNotInternal
  parameters: DataCycleCore::ClassificationAlias

classification_alias_map_and_color:
  actions: [map_classifications, set_color]
  segment: SubjectNotInternal
  parameters: DataCycleCore::ClassificationAlias

classification_tree_label_destroy:
  actions: destroy
  segment: ClassificationTreeLabelAndClassificationAliasesNotExternalAndNotInternal

classification_alias_destroy:
  actions: destroy
  segment: ClassificationAliasAndChildrenNotExternalAndNotInternal

classification_administration_copy:
  actions: [copy_api_link, copy_to_clipboard]
  segment: SubjectByConditions
  parameters:
    - - DataCycleCore::ClassificationTreeLabel
      - DataCycleCore::ClassificationAlias

cache_actions:
  actions: [clear, clear_all]
  segment: SubjectByConditions
  parameters: :cache

named_version_feature:
  actions: remove_version_name
  segment: SubjectByEnabledFeature
  parameters:
    - - DataCycleCore::Thing
      - DataCycleCore::Thing::History
    - DataCycleCore::Feature::NamedVersion

auto_translate_feature:
  actions: [create, destroy]
  segment: SubjectByConditions
  parameters: :auto_translate

view_mode_feature:
  actions: [grid, list, tree, map]
  segment: SubjectByEnabledFeature
  parameters:
    - :view_mode
    - DataCycleCore::Feature::ViewMode

download_user_info_activity:
  actions: download_user_info_activity
  segment: SubjectByConditions
  parameters: DataCycleCore::User
