
<div class="form-element">
    <label for="validFrom">Gültig von</label>
    <input type="date" name="<%= key %>" id="<%= sanitize_to_id(key) %>" value="" class="form-control" data-type="datepicker">
</div>