<div id="add-to-watchlist">
    <% if !current_user.watch_lists.empty? %>
        <a id="add-to-watchlist-link" data-toggle="add-watchlist">Zu Merkliste hinzufügen <i class="fa fa-bookmark" aria-hidden="true"></i></a>
        <ul class="dropdown-pane bottom" id="add-watchlist" data-dropdown>
            <% current_user.watch_lists.each do |watchlist| %>
                <li>
                    <% if is_in_watchlist?(watchlist, @creativeWork) %>
                        <span class="check"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <%= watchlist.headline %>
                        <span class="remove-link">
                        <%= link_to removeItem_watch_list_path(watchlist, data_type: @creativeWork.class.name, data_id: @creativeWork.id), class: 'remove-from-watchlist-link' do %>
                            <i aria-hidden="true" class="fa fa-times"></i>
                        <% end %>
                        </span>
                    <% else %>
                        <%= link_to addItem_watch_list_path(watchlist, data_type: @creativeWork.class.name, data_id: @creativeWork) do %>
                            <%= watchlist.headline %>
                            <span class="add-link"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        <% end %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>