<section id="admin-panel">
    <nav id="admin-icons">
        <a data-toggle="menuBar">
            <i class="fa fa-user-secret"></i>
        </a>
        <a data-toggle="schema">
            <i class="fa fa-code"></i>
        </a>
        <a data-toggle="datahash">
            <i class="fa fa-hashtag"></i>
        </a>
        <a data-toggle="related-content">
            <i class="fa fa-sitemap"></i>
        </a>
    </nav>
    <section id="admin-inner">
        <section id="schema" data-toggler=".expanded">
            <section class="schema-nav">
                <button class="copy-to-admin-clipboard">COPY</button>
            </section>
<pre id="json"><code><%= JSON.pretty_generate(content.schema) %></code></pre>
        </section>
        <section id="datahash" data-toggler=".expanded">
            <section class="datahash-nav">
                <button class="copy-to-admin-clipboard">COPY</button>
            </section>
            <%
                admin_data_hash = {
                    external_key: content.external_key,
                    external_source_id: content.external_source_id,
                    created_at: content.created_at,
                    created_by: content.created_by,
                    updated_at: content.updated_at,
                    updated_by: content.updated_by,
                }.merge(content.get_data_hash)
            %>
<pre id="json"><code><%= JSON.pretty_generate(admin_data_hash) %></code></pre>
        </section>
        <section id="related-content" data-toggler=".expanded">
            <section class="json-api-nav">
                <button class="copy-to-admin-clipboard">COPY</button>
            </section>
            <%
                related = content.related_to.map do |to_item|
                  {
                    id: to_item.id,
                    template_name: to_item.template_name,
                    name: to_item.name,
                  }
                end
                
            %>
            <pre id="json"><code><%= JSON.pretty_generate(related) %></code></pre>
        </section>
    </section>
</section>