<section id="admin-panel">
  <section id="admin-inner" data-tabs-content="admin-icons">
      <section id="schema" class="tabs-panel">
          <section class="schema-nav">
              <h5>Schema</h5>
              <button class="copy-to-admin-clipboard">COPY</button>
          </section>
          <pre id="json"><code><%= JSON.pretty_generate(content.schema) %></code></pre>
      </section>
      <section id="datahash" class="tabs-panel">
          <section class="datahash-nav">
              <h5>Datahash</h5>
              <button class="copy-to-admin-clipboard">COPY</button>
          </section>
          <%
              admin_data_hash = {
                  external_key: content.external_key,
                  external_source_id: content.external_source_id,
                  created_at: content.created_at,
                  created_by: content.created_by,
                  updated_at: content.updated_at,
                  updated_by: content.updated_by,
              }.merge(content.get_data_hash)
          %>
          <pre id="json"><code><%= JSON.pretty_generate(admin_data_hash) %></code></pre>
      </section>
      <section id="json-api" class="tabs-panel">
          <section class="json-api-nav">
              <h5>JSON API</h5>
              <button class="copy-to-admin-clipboard">COPY</button>
          </section>
          <%
              json_api_show = DataCycleCore::Api::V3::ContentsController.render(
                  assigns: {content: content, mode_parameters: [], language: 'de', include_parameters: []},
                  template: 'data_cycle_core/api/v2/contents/show',
                  layout: false
              )
          %>
          <pre id="json"><code><%= json_api_show %></code></pre>
      </section>
      <section id="related-content" class="tabs-panel">
          <section class="json-api-nav">
              <h5>Relationen</h5>
              <button class="copy-to-admin-clipboard">COPY</button>
          </section>
          <%
              related_to = DataCycleCore::ContentContent.where(content_b_id: content).map do |to_item|
                {
                  id: to_item.content_a.id,
                  template_name: to_item.content_a.template_name,
                  name: to_item.content_a.name,
                }
              end

          %>
          <pre id="json"><code><%= JSON.pretty_generate(related_to) %></code></pre>
      </section>
  </section>

  <ul class="tabs" data-active-collapse="true" data-tabs id="admin-icons">
    <li class="tabs-title"><a href="#test"><i class="fa fa-user-secret"></i></a></li>
    <li class="tabs-title"><a href="#schema"><i class="fa fa-code"></i></a></li>
    <li class="tabs-title"><a href="#datahash"><i class="fa fa-hashtag"></i></a></li>
    <li class="tabs-title"><a href="#json-api"><i class="fa">json</i></a></li>
    <li class="tabs-title"><a href="#related-content"><i class="fa fa-sitemap"></i></a></li>
  </ul>
</section>
