<%= title %>
<button class="json-formatter-close-all button hollow"><i class="fa fa-angle-double-up"></i></button>
<button class="json-formatter-open-all button hollow"><i class="fa fa-angle-double-down"></i></button>
<button class="copy-to-clipboard admin-clipboard button hollow">COPY</button>
<button class="close-admin-panel button hollow"><i class="fa fa-times" aria-hidden="true"></i></button>
