<%= title %>
<button class="json-formatter-close-all"><i class="fa fa-angle-double-up"></i></button>
<button class="json-formatter-open-all"><i class="fa fa-angle-double-down"></i></button>
<button class="copy-to-clipboard admin-clipboard">COPY</button>
<button class="close-admin-panel"><i class="fa fa-times" aria-hidden="true"></i></button>
