<%= render 'data_cycle_core/contents/viewers/shared/buttons', local_assigns %>
<%= render 'data_cycle_core/contents/tiles/attributes/warnings', content: content %>

<span class="name"><%= content.title %></span>
