<div class="media person item <%= 'active' if (objects ||= []).include?(object.id) %>" data-id="<%= object.id %>">
  <%= hidden_field_tag key, object.id %>

  <span class="draggable-handle"><i class="fa fa-bars" aria-hidden="true"></i></span>

  <% if editable ||= false %>
    <span class="delete-thumbnail"><i aria-hidden="true" class="fa fa-times"></i></span>
  <% end %>

  <i class="fa fa-question" aria-hidden="true"></i>
  <span class="name"><%= object.try(:title) %></span>
</div>
