<div class="padding-bottom-10">
  <h5>Details</h5>
  <% if can?(:edit, object) %>
    <%= link_to edit_polymorphic_path(object), class: 'edit-link', target: :_blank do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  <% end %>

  <% unless object.title.blank? %>
    <dl>
      <dt>Name: </dt>
      <dd><%= object.title %></dd>
    </dl>
  <% end %>

  <% unless object.metadata.nil? %>
    <dl>
      <% unless object.try(:legal_name).nil? %>
        <dt>Titel: </dt>
        <dd><%= object.try(:legal_name) %></dd>
      <% end %>

    </dl>
  <% end %>
</div>
