<% content_for :additional_tile_attributes do %>
  <div class="tile-property address-line">
    <%= sanitize(object.address_block, tags: ['br']) %>
  </div>
<% end %>

<%= render 'data_cycle_core/contents/editors/object_browser/default_tile', local_assigns %>
