<% breadcrumb :edit_resource, @person, @watch_list %>

<% content_for :top_content do %>

<div class="reveal-blur">

    <div id="edit-form">

        <%= render 'form', keyPrefix: 'person[datahash]', content: @person, dataSchema: @dataSchema %>

    </div>

</div>

<% end %>
