<% breadcrumb @person %>

<% content_for :top_content do %>

    <%= render_content_partial 'header', content: @person %>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content person">

    <div class="row">

        <%= render_content_partial 'details', content: @person, schema: @dataSchema %>

    </div>

</div>
