<% breadcrumb @person %>

<% content_for :top_content do %>

    <%= render_content_partial 'header', content: @person %>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content person">

    <div class="row">

        <%= render 'data_cycle_core/persons/partials/show/person', dataCycleObject: @person, dataCycleObjectSchema: @dataSchema %>

        <%= render 'data_cycle_core/creative_works/partials/show/translation/translations', language: nil, dataCycleObject: @person %>

    </div>

</div>
