<section class="duplicate-candidates">
  <span class="horizontal-separator-header">
    <h4 class="header-text"><%= t('duplicate.candidates', locale: active_ui_locale) %> (<%= content.duplicate_candidates.size %>)</h4>
  </span>

  <ul class="content-tiles remote-render"
      data-remote-path="data_cycle_core/duplicate_candidates/duplicates_list"
      data-remote-options="<%= to_query_params({ content: @content, prefix: prefix }).to_json %>">
  </ul>
</section>
