<li class="search-favorites-list-input">
  <input type="text" id="search-favorites-fulltext-filter" data-url="<%= saved_searches_stored_filters_path %>" autocomplete="off" placeholder="<%= t('data_cycle_core.stored_searches.filter_searches', locale: active_ui_locale) %>">
</li>

<li class="search-favorites-list-li">
  <ul class="search-favorites-list no-bullet">
    <%=render partial: 'data_cycle_core/stored_filters/search_favorites_short_item',
             collection: DataCycleCore::StoredFilter.includes(:linked_stored_filter, :concept_schemes, :shared_users, :shared_user_groups, :shared_roles).accessible_by(current_ability).named.order(updated_at: :desc).first(9),
             as: :stored_filter %>
  </ul>
</li>

<li>
  <%= link_to t('data_cycle_core.stored_searches.show_all_saved', count: 1, locale: active_ui_locale), saved_searches_stored_filters_path, class: 'button' %>
</li>
