<% unless @creativeWork.classification_aliases.empty? %>

     <div class="tags">

        <% if !@creativeWork.metadata.nil? && !@creativeWork.metadata['validation'].nil? %>

            <% validation_properties = get_ordered_validation_properties(@creativeWork.metadata['validation']) %>

            <% if !validation_properties.nil? %>

                <% validation_properties.each do |key, prop| %>

                    <% if prop['type'] == 'classificationTreeLabel' %>


                        <% if !@dataSchema[key].nil? && !@dataSchema[key].empty? %>
                            <div class="tag-group-wrapper">

                                <span class="icon"><i class="fa fa-tags" aria-hidden="true"></i></span>

                                <span class="tag-group-header"><%= prop['label'] %></span>

                                <% get_classificationAliases_for_classificationIDs(@dataSchema[key]).each do |classificationAlias| %>
                                    <span class="tag"><%= classificationAlias.name %></span>
                                <% end %>

                            </div>
                        <% end %>

                    <% end %>

                <% end %>

            <% end %>
        <% end %>

    </div>

<% end %>
