<% if can?(:advanced_filter, :backend, key, filter_type) %>
  <span class="tag-buttons">
    <a class="focus-advanced-filter advanced-filter-link" data-target="<%= target %>">
      <i aria-hidden="true" class="fa fa-pencil"></i>
    </a>
    <a class="remove-advanced-filter advanced-filter-link" data-target="<%= target %>">
      <i aria-hidden="true" class="fa fa-times"></i>
    </a>
  </span>
<% end %>
