.edit-content-form {
  .form-element.asset {
    padding: 2rem 1rem 1rem;

    .asset-list {
      margin: 0;

      &.has-items {
        padding-top: 1rem;
      }
    }

    .asset-editor-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;

      > * {
        margin-left: 0.5rem;
      }
    }

    .asset-selector-button,
    .image-editor-button {
      padding: 0.3rem 0.5rem;
      margin: 0;
    }
  }
}

.asset,
.data-link-reveal {
  h4.list-title {
    display: none;
  }
}

.asset-list-container {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 2rem);

  > h3 {
    margin: 0;
    box-shadow: 0 15px 10px #fff;
    z-index: 1;
  }

  .content-upload-link {
    position: absolute;
    right: 3rem;
    top: 0.8rem;
  }

  .scrollable-asset-list {
    overflow-y: auto;
    flex: 1;
    padding: 1rem 0.5rem 0;
  }

  .buttons {
    display: flex;
    padding-top: 1rem;
    box-shadow: 0 -10px 10px #fff;
    z-index: 1;

    .button,
    button {
      flex: 1;
      margin: 0;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.asset-selector-reveal .asset-list li {
  &.locked {
    .inner {
      .asset-type,
      .asset-upload-date,
      .asset-title,
      .thumb {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .inner > span.asset-duplicate-warning {
    display: block;
    position: absolute;
    right: 0.5rem;
    bottom: 0;

    > a[data-toggle] {
      padding: 0;
    }
    ul.duplicates-list {
      display: flex;
      flex-flow: row wrap;

      > li {
        flex: auto;
        width: 90px;
        max-width: 100px;
        margin: 0.3rem;
        padding: 0;
        background: $white;
        transition: $global-transition;

        > a {
          > img {
            box-shadow: 0 0 5px $dark-gray;
            transition: box-shadow 0.25s ease-out;
          }

          &:hover {
            > img {
              box-shadow: 0 1px 7px $primary-color;
            }
          }
        }
      }
    }
  }
  .content-warning {
    font-size: 2rem;

    &.alert {
      font-size: 4.5rem;
    }
  }
  .content-warning-text.alert {
    font-size: 1.1rem;
    font-weight: bold;
    color: $alert-color;
  }
}

ul.asset-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(190px + 1.3rem), 1fr));
  grid-gap: 1rem;

  h4.list-title {
    grid-column: 1/-1;
  }

  .asset-upload-date {
    display: none;
    font-size: 0.9rem;
    font-style: italic;
  }

  .asset-type {
    font-size: 0.9rem;

    .asset-checkbox {
      display: none;
      color: $white;
      font-size: 1.1rem;
      line-height: 0.9rem;
      border: 1px solid rgba($dark-gray, 0.5);
      background-color: $white;
      border-radius: $global-radius;
      margin-right: 0.2rem;
    }
  }

  > li {
    position: relative;
    display: block;
    word-wrap: break-word;
    padding: 0.5rem;
    background-color: rgba($white, 0.5);
    box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
    transition: $global-transition;
    border-radius: $global-radius;

    .asset-deselect,
    .asset-destroy {
      display: none;
      position: relative;
      float: right;
      line-height: 1;
      font-size: 1.2rem;
      line-height: 1.3rem;
      margin-left: 5px;
      color: $alert-color;
    }

    .inner > span {
      display: block;

      &.asset-title {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 200;
      }

      &.asset-file-link {
        float: right;
        margin-left: 0.5rem;
      }

      &.asset-duplicate-warning {
        display: none;
      }
    }
    .inner > .thumb {
      margin-top: 0.5rem;
      text-align: center;

      img {
        max-height: 300px;
      }
    }
  }

  &.selectable,
  &.timestamps {
    .asset-destroy {
      display: inline-block;
    }
  }

  &.timestamps {
    .asset-upload-date {
      display: block;
    }
  }

  &.editable {
    li {
      .asset-deselect {
        display: block;
        font-size: 1.2rem;
        line-height: 1.3rem;
      }
    }
  }

  &.selectable {
    > li:not(.locked) {
      cursor: pointer;

      .asset-type {
        .asset-checkbox {
          display: inline;
        }
      }

      &.active {
        border-color: $primary-color;
        background-color: $primary-color;
        box-shadow: 0 0 1px rgba($primary-color, 1);
        color: $white;

        .asset-type {
          .asset-checkbox {
            color: $black;
          }
        }

        a {
          color: $white;
        }
      }
      &:hover,
      &:focus {
        box-shadow: 0 0 8px rgba($primary-color, 0.7);
      }
    }
  }
}

// File Upload Reveal
.asset-upload-reveal {
  > h2 {
    height: 3.5rem;
  }
  .upload-file {
    display: none;
  }

  .button {
    margin: 0;
  }

  .uploader-flex {
    overflow: auto;
    height: calc(100vh - 10.5rem);
    padding-right: 0.5rem;

    .drag-and-drop-field {
      height: 8rem;
      margin-top: 1rem;
      opacity: 0.5;

      &:hover,
      &.is-dragover {
        opacity: 1;
      }
    }
    .content-upload-form {
      .buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: $white;
        text-align: right;
        z-index: 1;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(0, 1fr);
        grid-gap: 1rem;

        .button,
        button {
          margin: 0;
        }
      }
    }
  }

  .accordion {
    .accordion-item {
      padding: 0;

      &:first-child {
        margin-top: 0;
      }

      &.is-active {
        .accordion-title {
          border-bottom: 1px solid rgba($dark-gray, 0.25);
        }
      }

      .accordion-title {
        color: $black;
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 200;

        &::before {
          margin-top: -0.9rem;
        }
      }

      .accordion-title,
      .accordion-content {
        border: none;
        background-color: transparent;
      }
    }
  }

  .asset-reload-button {
    display: none;
  }

  &.create-asset-reveal {
    .asset-reload-button {
      display: block;
    }
    .content-create-button {
      display: none;
      pointer-events: none;
    }

    .file-for-upload {
      &.finished {
        .upload-progress-bar {
          background: $success-color;
        }
      }
    }
  }
}

.file-for-upload {
  position: relative;
  display: block;
  min-height: 4rem;
  border: 1px solid lighten($dark-gray, 10%);
  display: flex;
  flex-flow: column;
  transition: $global-transition;
  background: rgba($dark-gray, 0.05);
  border-radius: $global-radius;

  .new-asset-attributes {
    flex: auto;
    display: flex;
    flex-flow: row;

    .file-info-container {
      flex: auto;
      display: flex;
      flex-flow: column;
      width: calc(100% - 9rem);

      .file-detail-container {
        display: flex;
        border-bottom: 1px solid rgba($medium-gray, 0.4);

        .file-info {
          display: flex;
          flex-flow: row wrap;
          font-size: 0.9rem;
          flex: auto;
          margin: 0;
          min-width: 3rem;
          align-items: center;
          padding: 0.5rem;
          color: $dark-gray;

          span.notice,
          span.error {
            position: relative;
            white-space: nowrap;
            width: 100%;
          }

          > span {
            margin: 0 0.5rem 0 0;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .file-attributes-container {
        display: flex;
        flex: auto;
      }
    }
  }

  &[data-open] {
    cursor: pointer;

    &:hover {
      border-color: $dark-gray;
      background: rgba($light-gray, 0.5);
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .file-data-loading {
    color: $dark-gray;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 1rem;
    align-self: center;
  }

  .file-thumb {
    min-width: 9rem;
    max-width: 9rem;
    display: flex;
    flex-flow: column;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-right: 1px solid rgba($medium-gray, 0.4);

    .fa {
      font-size: 4rem;
    }

    img,
    object {
      max-width: 100%;
      max-height: 6rem;
    }
  }
  .upload-number-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    flex: auto;

    .upload-number {
      text-align: center;
      font-size: 0.7rem;
      padding: 5px;
      transition: $global-transition;

      .working-spinner {
        font-size: 0.8rem;
        width: 0.8rem;
        height: 0.8rem;
        line-height: 0.8rem;
        margin-right: 3px;
      }
    }
  }

  .remove-file {
    display: block;
    position: absolute;
    right: 0.5rem;
    line-height: 1;
    top: 0.5rem;
    color: $alert-color;
  }

  .file-title-label {
    position: relative;
    padding-left: 1.2rem;

    .fa-pencil {
      position: absolute;
      top: 0;
      left: 0;
      vertical-align: middle;
      width: 1.2rem;
      line-height: 1.5;
      cursor: pointer;
      color: $primary-color;
    }
  }
  .file-title {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    height: auto;
    padding: 0 0.2rem;

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
      background-color: $white;
      border: 1px solid $medium-gray;
      box-shadow: inset 0 1px 2px rgba($dark-gray, 0.1);
    }
  }

  .file-override {
    cursor: help;
    position: absolute;
    right: 1.5rem;
    top: 0.25rem;
    color: $warning-color;
    font-size: 1.2rem;
    text-shadow: 0 0 1px;
  }

  .asset-attribute {
    display: flex;
    flex-flow: column;
    font-size: 0.9rem;
    flex: 1;
    margin: 0;
    min-width: 3rem;
    padding: 0.5rem;

    &:not(:last-child) {
      border-right: 1px solid rgba($medium-gray, 0.4);
    }
  }
  .file-info {
    .possible-duplicates {
      cursor: pointer;

      i {
        font-size: 0.9rem;
      }

      a {
        text-decoration: underline;
      }
    }
    .dropdown-pane {
      .duplicates-list {
        li {
          display: inline-block;
          border: none;
          margin: 0.2rem;
          padding: 0;

          .duplicate-link {
            img {
              max-width: 50px;
              max-height: 50px;
              box-shadow: 1px 1px 3px $dark-gray;
              transition: $global-transition;
            }

            &:hover {
              > img {
                box-shadow: 0 0 5px $primary-color;
              }
            }
          }
        }
      }
    }
  }
  .file-label {
    font-size: 0.9rem;
    color: $dark-gray;
    margin-bottom: 0.3rem;
  }
  .file-name {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
  }
  .file-name,
  .file-attribute-value {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .file-name,
  .file-label,
  .file-details {
    white-space: nowrap;
  }
  .file-details {
    color: $dark-gray;
  }

  .type-selector {
    display: block;
    font-size: 0.9rem;

    label {
      display: inline-block;
      margin-right: 1rem;
      cursor: pointer;

      input {
        margin: 0 0.3rem 0 0;
        cursor: pointer;
      }
    }
  }

  .file-title-restore {
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    width: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
    color: $primary-color;
  }

  .upload-progress {
    height: 0.4rem;
    width: 100%;
    padding: 0;
    background: rgba($medium-gray, 0.4);

    .upload-progress-bar {
      display: block;
      height: 100%;
      width: 0;
      background: $primary-color;
      transition: $global-transition;
    }
  }

  .error {
    display: block;
    color: $alert-color;
    font-size: 0.8rem;

    a {
      color: $alert-color;
      font-size: 0.8rem;
    }
  }
  .notice {
    display: block;
    color: $warning-color;
    font-size: 0.8rem;
    position: relative;

    a {
      color: $warning-color;
      font-size: 0.8rem;
    }
  }
  &.error {
    border-color: $alert-color;
    background: rgba($alert-color, 0.05);

    .file-thumb,
    .asset-attribute,
    .file-info-container .file-detail-container {
      border-color: rgba($alert-color, 0.2);
    }

    .upload-number {
      color: $alert-color;
    }
    .upload-progress {
      background: $alert-color;
    }
    .upload-progress {
      background: rgba($alert-color, 0.2);
    }
  }

  &.uploading {
    border-color: $primary-color;
    background: rgba($primary-color, 0.05);

    .file-thumb,
    .asset-attribute,
    .file-info-container .file-detail-container {
      border-color: rgba($primary-color, 0.2);
    }

    .upload-number {
      color: $primary-color;
    }
    .upload-progress-bar {
      background: $primary-color;
    }
    .upload-progress {
      background: rgba($primary-color, 0.2);
    }
  }

  &.finished {
    border-color: $warning-color;
    background: rgba($warning-color, 0.05);

    .file-thumb,
    .asset-attribute,
    .file-info-container .file-detail-container {
      border-color: rgba($warning-color, 0.2);
    }

    .upload-number {
      color: $success-color;
    }
    .upload-progress {
      background: rgba($success-color, 0.2);
    }

    &.asset-uploader-file {
      .upload-progress-bar {
        background: $success-color;
      }
    }

    .upload-progress-bar {
      background: $warning-color;
    }

    .file-thumb::before {
      font-family: 'FontAwesome';
      content: '\f00c';
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $success-color;
      width: calc(100% - 2rem);
      height: calc(100% - 2.5rem);
      margin: 1rem 1rem 1.5rem 1rem;
      background: rgba($white, 0.3);
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  &.validated {
    border-color: $success-color;
    background: rgba($success-color, 0.05);

    .file-thumb,
    .asset-attribute,
    .file-info-container .file-detail-container {
      border-color: rgba($success-color, 0.2);
    }

    .upload-progress-bar {
      background: $success-color;
    }
  }

  &.creating {
    .file-buttons .button {
      pointer-events: none;
      opacity: 0.25;
      cursor: not-allowed;
    }
  }

  &.retry:not(.uploading) {
    .file-buttons .button.retry-upload-button {
      display: block;
    }
  }

  .file-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    .button {
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: flex;
      padding: 0;
      transition: $global-transition;
      align-items: center;
      justify-content: center;

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }

      .fa {
        font-size: 1.2rem;
      }

      &.retry-upload-button {
        display: none;
      }
    }
  }

  &.error {
    height: auto;
  }
}

.new-content-reveal {
  .file-for-upload {
    border: none;
    margin: -1rem -1rem 1rem -1rem;

    .new-asset-attributes {
      .file-info {
        flex: 1;
      }

      .file-info-container {
        justify-content: flex-end;

        .file-detail-container {
          border: none;
        }
      }

      .file-buttons,
      .file-attributes-container {
        display: none;
        pointer-events: none;
      }
    }
  }
}
