.breadcrumb {
  background-color: $dark-gray;
  padding: 1rem 0.5rem;
  height: 3.5rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;

  >.row {
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    max-width: 100%;

    >.column {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
    }
  }

  ul {
    color: $white;
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
    list-style: none;
    line-height: 1.4;
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start;
    gap: 0.5rem;

    .fa {
      display: inline-block;
    }

    li {
      overflow: hidden;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      gap: 0.5rem;

      &:not(:first-child) {
        &::before {
          font-family: 'FontAwesome';
          content: '\f101';
          position: relative;
          display: inline-block;
          text-align: center;
          width: 1rem;
          vertical-align: bottom;
        }
      }

      .breadcrumb-text {
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        padding: 0;
        font-weight: 300;
        font-size: 1.1rem;

        i {
          font-style: italic;
          margin-right: 0.3rem;
          font-weight: 300;

          &.fa {
            font-style: normal;
            margin-right: 0.3rem;
          }
        }

        b {
          font-weight: 600;
        }
      }

      a {
        color: $white;
        font-weight: 300;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        font-size: 1.1rem;
      }
    }
  }
}
