.dc-chart {
  width: 100%;

  .dc-chart-inputs {
    display: flex;
    gap: 0.1rem;
    max-width: 80%;
    right: -0.9rem;
    bottom: 100%;
    position: absolute;
    height: 2rem;
    transition: $opacity-transition;

    input,
    select {
      margin: 0;
      height: 2rem;
      font-size: 0.9rem;
    }

    input.flatpickr-input {
      width: 9rem;
    }

    select {
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .dc-chart-canvas {
    width: 100%;
    margin-top: 1rem;
    transition: $opacity-transition;
  }

  &.data-loading {
    .dc-chart-canvas,
    .dc-chart-inputs {
      opacity: 0.2;
    }
  }
}
