ul.backend-treeview-list,
.search-results>ul.tree {
  list-style-type: none;
  margin: 2rem 0;

  .dropdown-pane {
    &.watch-lists {
      &.is-open {

        &.has-position-bottom,
        &.has-position-left {

          &.has-alignment-right,
          &.has-alignment-top {
            &::before {
              left: calc(var(--dropdown-arrow-left-offset));
            }
          }
        }
      }
    }
  }

  .classification-alias-form-container {

    &.remote-render,
    &.remote-rendering {
      min-height: 1.6rem;
      padding: 0 !important;

      &::before {
        display: none;
      }

      &::after {
        height: 1.6rem;
        top: 0;
        left: 0;
        right: 0;
        border: none;
      }
    }
  }

  .classification-alias-form-container,
  .classification-tree-label-form-container {
    position: relative;
    display: block;
    border: 1px solid $medium-gray;
    padding: 1rem;
  }

  .classification-alias-form-container>form,
  .classification-tree-label-form-container>form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    .ca-buttons {
      position: absolute;
      top: -3.5rem;
      right: -1px;
      z-index: 999;
      height: 3.5rem;
      padding: 0.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      background: $white;
      border: 1px solid $medium-gray;
      border-bottom: none;

      .fa {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
      }

      .button-prime {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
        margin: 0;
        box-shadow: 1px 2px 5px 0px rgba($black, 0.2);
      }

      .has-dropdown {
        position: relative;
        display: inline-block;
        text-align: center;

        >a {
          padding: 0;
          border-radius: 50%;
          background: $white;

          >.fa {
            color: $primary-color;
          }
        }
      }

      .ca-translation-link.active {
        color: $black;
      }
    }

    .fa.ca-language-icon {
      width: auto;
      height: auto;
      line-height: 1rem;
      font-size: 1rem;
    }

    .ca-input {
      position: relative;
      margin: 0;

      &.required>label::after {
        content: '*';
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.1rem;
        color: $alert-color;
        text-shadow: none;
      }

      &.checkbox {
        display: flex;
        flex-flow: row;
        padding: 1rem;
        border: 1px solid rgba($dark-gray, 0.5);
        box-shadow: 0 0 0 rgba($dark-gray, 0.5);
        transition: $input-transition;
        border-radius: $global-radius;
        background: $white;

        &:hover:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
          z-index: 1;
          box-shadow: 0 1px 5px rgba($dark-gray, 0.4);
        }

        &:focus,
        &:focus-within {
          &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
            border-color: var(--primary-color);
          }
        }

        .dc-checkbox {
          display: flex;

          label {
            padding: 0;
            display: inline-flex;
          }
        }
      }

      label {
        display: inline-block;

        &.ca-label {
          display: block;
          position: absolute;
          top: 0.5rem;
          left: 1rem;
          z-index: 12;
          color: $dark-gray;
        }
      }

      .editor-block label {
        display: inherit;
      }

      >input {
        margin: 0;
      }

      input.ca-input-field {
        padding: 2.5rem 1rem 1.2rem 1rem;
        max-width: none;
        display: block;
        height: auto;
      }

      &.translated {
        >.translated-fields:not(.active) {
          display: none;
        }
      }

      .ca-collection-checkboxes {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        padding: 2.5rem 1rem 1rem 1rem;
        border: 1px solid rgba($dark-gray, 0.5);
        box-shadow: 0 0 0 rgba($dark-gray, 0.5);
        transition: $input-transition;
        border-radius: $global-radius;
        background: $white;

        >label {
          display: block;
          position: absolute;
          top: 0.5rem;
          left: 1rem;
          z-index: 12;
          color: $dark-gray;
        }

        &:hover:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
          z-index: 1;
          box-shadow: 0 1px 5px rgba($dark-gray, 0.4);
        }

        &:focus,
        &:focus-within {
          &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
            border-color: var(--primary-color);
          }
        }

        .dc-checkbox {
          flex: auto;
          width: calc(33.3% - 0.5rem);
          max-width: calc(33.3% - 0.5rem);
          display: flex;

          >label {
            padding: 0.3rem 0.5rem;
            margin: 0;
            border-radius: $global-radius;
            box-shadow: 0 0 1px #aaa;
            background: rgba($light-gray, 0.5);
            transition: background 0.25s ease-out;
            flex: auto;
            font-weight: normal;
            line-height: normal;
            display: inline-flex;
          }

          >input:checked+label {
            background: rgba($light-gray, 0.9);
          }
        }
      }
    }
  }

  .classification-tree-label-form-container>form {
    border-top: none;
    border-bottom: none;
  }

  >li {
    border-top: 1px solid $medium-gray;

    &.classification_tree_label>ul.children.open {
      margin-left: 1rem;
    }

    span.inner-item {
      position: relative;
      padding: 0.5rem 0.7rem;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      line-height: 1.4;

      .primary-color {
        color: var(--primary-color);
      }

      .clipboard-notice {
        right: auto;
        left: 1rem;
        top: 8px;
      }

      .classification-color-icon {
        display: block;
        width: 1rem;
        height: 1rem;
        background: var(--classification-color);
        box-shadow: 0 0 0 1px var(--dark-gray);
        border-radius: var(--global-radius);
      }

      .classification-icon {
        display: flex;
        height: 1.4rem;
        width: 1.4rem;
      }
    }

    .download-container {
      position: relative;
    }

    .download-tree-container {
      text-align: left;

      ul {
        li {
          &:not(:last-of-type) {
            border-bottom: 1px solid $light-gray;
          }

          a {
            justify-content: flex-start;
            white-space: nowrap;

            span.download-icon {
              display: flex;
              align-items: center;
              width: 2.1rem;
            }

            span.download-link-text {
              flex: auto;
            }
          }
        }
      }
    }

    a:not(.button):not(.ca-translation-link) {
      display: flex;
      margin: 0;
      color: lighten($dark-gray, 10%);
      cursor: pointer;
      align-items: center;
      transition: $color-transition;

      &:hover {
        color: $primary-color;
      }

      &.destroy:hover {
        color: map-get($foundation-palette, alert);
      }

      &.name {
        color: $primary-color;
        display: flex;
        align-items: center;
        gap: 0.3rem;

        &::after {
          content: '\f107';
          font-family: FontAwesome;
          display: flex;
          align-items: center;
          justify-content: center;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          position: relative;
          height: 1rem;
          width: 1rem;
          background-color: transparent;
          line-height: 1rem;
        }

        &.disabled {
          pointer-events: none;

          &::after {
            content: '\f110';
            animation: fa-spin 2s infinite linear;
          }
        }

        &.open:not(.disabled)::after {
          content: '\f106';
        }
      }
    }

    ul.children {
      list-style-type: none;
      margin: 0;
      display: none;

      &.open {
        display: block;
      }

      >li {
        list-style-type: none;
        transition: $border-color-transition;
        border-left: 1px solid lighten($dark-gray, 10%);
        margin-left: 0.5rem;
        padding-left: 0.75rem;
        line-height: 1;
        position: relative;

        &.active {
          padding-bottom: 0.5rem;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: -1px;
          height: 0.9rem;
          width: 0.75rem;
          transition: $border-color-transition;
          border: 1px solid lighten($dark-gray, 10%);
          border-top: 0 none transparent;
          border-right: 0 none transparent;
        }

        &.mapped {
          padding-top: 1.5rem;

          &::before {
            height: 2.4rem;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0.75rem;
            left: 0;
            width: 15rem;
            height: 0;
            border-top: 2px dotted lighten($dark-gray, 10%);
          }

          &~li.mapped {
            padding-top: 0;

            &::before {
              height: 0.9rem;
            }

            &::after {
              display: none;
            }
          }

          >.inner-item>.name {
            font-style: italic;
          }
        }
      }

      li.mapped {
        span.inner-item>.name {
          color: $dark-gray;
        }
      }

      li:not(.active) {
        >span.inner-item {
          padding: 0 0 0 0.25rem;
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.6;

          .clipboard-notice {
            top: 6px;
          }
        }
      }

      &:not(.has-contents)>li:last-child {
        border-left: 1px solid transparent;
        padding-bottom: 0.5rem !important;
      }

      >li.new-button {
        padding: 0.1rem 0 0.1rem 1rem;

        .new-button-spacer {
          position: relative;

          .create {
            font-weight: 600;
            padding: 0.15rem 0.4rem;
            display: inline-flex;
            gap: 0.3rem;
            align-items: center;
            justify-content: center;
            margin: 0;

            .fa {
              font-size: 0.9rem;
            }
          }
        }

        .classification-alias-form-container {
          margin-left: 0;
          padding: 1rem;
        }
      }
    }

    ul.classifications {
      font-style: italic;
      list-style: none;
      margin-left: 1rem;

      >li {
        display: inline-block;
        color: $dark-gray;
        font-size: 0.8rem;
        padding-top: 0;
      }

      >li:first-child:before {
        content: '(';
      }

      >li:not(:last-child):after {
        content: ', ';
      }

      >li:last-child:after {
        content: ')';
      }
    }
  }

  &.tree>li a:not(.button) {
    color: $primary-color;
  }

  li:not(.active)>.classification-tree-label-form-container,
  li:not(.active)>.classification-alias-form-container {
    display: none;
  }

  li.active> :not(.classification-tree-label-form-container):not(.classification-alias-form-container) {
    display: none;
  }

  &:not(.classification_trees) {
    form:not(.add-watchlist-form) {
      label:first-of-type {
        display: none;
      }
    }
  }

  .classification-tree-label-form-container,
  .classification-alias-form-container {
    box-shadow: 0 3px 3px $medium-gray;
    border-top-left-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
  }

  .classification-alias-form-container {
    margin-left: 0.25rem;
  }

  .classification-tree-label-form-container {

    &.remote-render,
    &.remote-rendering {
      min-height: 2.2rem;

      &::before,
      &::after {
        height: 2.2rem;
      }
    }
  }

  form:not(.add-watchlist-form) {
    input[type='text'] {
      max-width: 400px;
      display: inline-block;
    }

    input[type='text'] {
      border: 1px solid rgba($dark-gray, 0.5);
      box-shadow: 0 0 0 rgba($dark-gray, 0.5);
      transition: $input-transition;
      border-radius: $global-radius;
      background: $white;

      &:hover:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
        z-index: 1;
        box-shadow: 0 1px 5px rgba($dark-gray, 0.4);
      }

      &:focus,
      &:focus-within {
        &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
          border-color: var(--primary-color);
        }
      }

      &::placeholder {
        font-weight: 200;
        color: $dark-gray;
      }

      &[readonly],
      &[data-readonly='true'],
      &[disabled],
      &.disabled {
        cursor: not-allowed !important;
        background: lighten($light-gray, 5%) !important;
      }
    }

    .form-element {
      .editor-block {
        border: 1px solid rgba($dark-gray, 0.5);
        box-shadow: 0 0 0 rgba($dark-gray, 0.5);
        transition: $input-transition;
        border-radius: $global-radius;
        background: $white;
      }

      &:hover:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) .editor-block {
        z-index: 1;
        box-shadow: 0 1px 5px rgba($dark-gray, 0.4);
      }

      &:focus &:focus-within {
        &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
          .editor-block {
            border-color: var(--primary-color);
          }
        }
      }
    }

    button {
      display: inline-block;
      margin: 0.2rem 0 0 0.5rem;
    }

    input.success {
      display: none;
    }

    .v-select {
      label {
        display: block;
        text-align: left;
        position: absolute;
        top: 0.2rem;
        left: 1rem;
        z-index: 12;
        color: $dark-gray;
        transition: $color-transition;
        padding-top: 0.5rem;
        opacity: 1;
      }

      outline: none;
      height: auto;
      line-height: 1;
      margin: 0;
      border-color: $light-gray;
      box-shadow: 0 0 0 $dark-gray;
      position: relative;
      transition: $input-transition;
      min-width: 280px;
      padding: 0 0 0 0;

      .select2-container {
        border: 1px solid rgba($dark-gray, 0.5);
        box-shadow: 0 0 0 rgba($dark-gray, 0.5);
        transition: $input-transition;
        border-radius: $global-radius;
        background: $white;
        padding: 2.5rem 0.5rem 0.5rem 0.5rem;

        .select2-selection {
          border: 0;
          border-radius: 0;
          background: none;
        }

        &:hover:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
          box-shadow: 0 1px 5px rgba($dark-gray, 0.4);
        }

        &:focus,
        &:focus-within,
        &.select2-container--focus,
        &.select2-container--open {
          &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
            border-color: var(--primary-color);
          }
        }

        &.select2-container--disabled {
          cursor: not-allowed !important;
          background: lighten($light-gray, 5%) !important;
        }

        &+.select2-container {
          border: none;
          padding: 0;
        }
      }

      .select2-container--default .select2-selection--multiple .select2-selection__choice {
        border-radius: $global-radius;
        background-color: lighten($dark-gray, 6%);
        border: 0;
        margin: 0 0.1rem 0.2rem 0.1rem;
        position: relative;
        word-break: break-word;
        white-space: normal;

        span:not(.select2-selection__choice__remove) {
          color: $white;
          font-weight: normal;
        }

        &:focus,
        &:hover {
          background-color: rgba(map-get($foundation-palette, alert), 0.5);
        }
      }

      .select2-search__field {
        height: auto;
        margin: 0 0.1rem;
        border-radius: $global-radius;
        padding: 0.05rem 0.3rem 0.05rem 0.3rem;
        font-size: 0.8rem;
        min-width: 100px;
        display: block;
      }
    }
  }

  .new-classification-tree-label {
    padding: 0.1rem 0;

    &.active {
      padding: 0;
    }

    >a {
      font-weight: 600;
      display: inline-flex;
      gap: 0.3rem;
      align-items: center;
      justify-content: center;
      padding: 0.3rem 0.5rem;
      margin: 0.2rem 0;
      font-size: 0.85rem;

      .fa {
        font-size: 1rem;
      }
    }
  }

  >li {
    ul.children {
      li.load-more-link {
        font-style: italic;

        >span.inner-item {
          padding-bottom: 0.1rem;
          padding-top: 0.1rem;

          .fa {
            font-size: 0.75rem;
          }

          &::before {
            bottom: 50%;
          }
        }

        .button {
          margin: 0;
          width: unset;
          font-weight: 600;
          padding: 0.15rem 0.4rem;
          font-style: normal;
        }
      }
    }
  }
}

#search-results>ul.tree {

  .child-count-full,
  .child-count-direct {
    .loading {
      display: inline;
      padding: 0;

      .fa {
        font-size: 0.9rem;
      }
    }
  }

  .buttons {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 0 0 5px;
    justify-content: flex-end;
    right: 0;
    top: 0;
    gap: 0.3rem;

    >a,
    >i {
      padding: 0 3px;
    }
  }

  >li {
    border: none;

    .children-count {
      color: $dark-gray;
      display: flex;

      .child-count-direct,
      .child-count-full {
        margin: 0 0.2rem;
        padding: 0;

        &.loading {
          &::after {
            content: '\f110';
            font-family: FontAwesome;
            animation: fa-spin 2s infinite linear;
            color: darken($light-gray, 10%);
            background-color: transparent;
            height: 1rem;
            width: 1rem;
            line-height: 1rem;
            font-size: 1rem;
            margin: 0;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }
    }

    .tree-link,
    .toggle-details {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:not(.type)>.children-count {
        margin-left: 5px;
      }

      >.fa-spinner {
        margin-right: 0.3rem;
      }

      &::after {
        content: '\f107';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
        font-size: 0.8rem;
        margin-left: 0.5rem;
      }

      &.loading {
        width: auto;
        text-align: left;
        padding: 0;
        pointer-events: none;

        &::after {
          content: '\f110';
          font-family: FontAwesome;
          animation: fa-spin 2s infinite linear;
          background-color: transparent;
          height: 1rem;
          width: 1rem;
          line-height: 1rem;
          font-size: 1rem;
        }
      }
    }

    .inner-item {
      transition: margin 0.25s ease-out;

      .folder-icon::after {
        content: '\f07b';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
      }

      .content-details {
        display: none;

        >div {
          margin-top: 1rem;
        }

        .text {
          .hidden {
            display: none;
          }
        }

        .thumbnails {
          line-height: 2.8rem;

          img {
            height: 2.6rem;
            vertical-align: top;
          }

          &.large {
            img {
              height: 10rem;
              vertical-align: top;
            }
          }
        }
      }

      &.open {
        .folder-icon::after {
          content: '\f07c';
        }

        .content-details {
          display: block;
        }
      }
    }

    .open {

      .toggle-details:not(.loading):after,
      .tree-link:not(.loading):after {
        content: '\f106';
      }
    }

    >ul.children {
      margin-left: 1rem;
    }

    ul.children {
      display: none;

      >li {
        .inner-item {
          padding: 0 0 0 0.25rem;
          display: block;
          line-height: 1.6;

          &:before {
            bottom: 50%;
          }
        }

        &:nth-last-child(2) {
          border-left: 1px solid lighten($dark-gray, 10%);
        }
      }
    }

    ul.contents {
      display: none;
      position: relative;

      >li.content-row {
        transition: background-color 0.25s ease-out;
        position: relative;
        width: calc(100% - 2rem);
        margin-left: 0.5rem;
        background-color: $white;
        border-left: 1px solid $white;
        display: block;
        padding-left: 1rem;

        .inner-item {
          display: block;
          padding: 0;

          &.container {
            display: flex;
          }

          .tree-link,
          .toggle-details {
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            align-items: center;

            >span {
              margin-right: 5px;

              &.title {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }

          &:not(.container).open {
            background-color: $white;
            border: 1px solid $light-gray;
            border-radius: $global-radius;
            box-shadow: 0 3px 3px $light-gray;
            padding: 1rem;
          }
        }

        &::after {
          content: '';
          display: block;
          min-height: 1px;
          background: transparent;
        }

        &:not(:last-child) {
          border-left: 1px solid lighten($dark-gray, 10%);
        }

        &::before {
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: -1px;
          height: 0.9rem;
          width: 0.75em;
          border: 1px solid lighten($dark-gray, 10%);
          border-top: 0 none transparent;
          border-right: 0 none transparent;
        }

        >div {
          position: relative;

          &:not(:last-child) {
            padding-right: 0.5rem;
          }

          .type {
            display: flex;

            a {
              color: inherit;
            }

            .dropdown-pane a {
              color: $primary-color;
            }
          }

          &.title-text {
            color: $dark-gray;
            height: 1.6rem;

            a {
              color: inherit;
            }
          }

          &.tags {
            max-height: 1.6rem;

            &:before {
              content: '\f02c';
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              position: relative;
              color: $black;
            }

            .tag {
              color: $black;
              background-color: lighten($light-gray, 5%);
              border: none;
            }

            ul {
              display: inline;
            }
          }
        }
      }
    }

    ul.children,
    ul.contents {
      >li {

        &.load-more-link.pagination-container,
        &.content-row.button-row {
          padding: 0.1rem 0 0.1rem 1rem;
          text-align: center;

          &::before {
            height: 50%;
          }

          .inner-item {
            text-align: left;
            display: flex;
          }

          a {
            font-size: 0.75rem;
            margin: 0;
            width: unset;
            padding: 0.15rem 0.4rem;
            font-style: normal;
            display: inline-flex;
            font-weight: 600;
            gap: 0.3rem;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .inner-item.open~ul.contents,
    .inner-item.open~ul.children,
    h5~ul.contents,
    h5~ul.children {
      display: block;
    }
  }
}

#search-results>ul.tree {
  margin: 0 1rem;
}

.download-with-contents {
  .fa-plus {
    font-size: 0.7rem;
    margin-left: 0.1rem;
    align-self: flex-start;
  }
}

.download-for-mapping,
.download-with-mapping,
.download-with-inverse-mapping {

  .fa-arrows-h,
  .fa-long-arrow-right,
  .fa-long-arrow-left {
    font-size: 0.8rem;
    margin-left: 0.1rem;
    align-self: flex-start;
  }
}

#classification-administration {
  padding-top: 1.5rem;

  li>.inner-item {
    transition: $global-transition;
  }

  li.highlight>.inner-item {
    box-shadow: 0 0 2px 0px $primary-color;
    border-radius: $global-radius;
    background: $primary-color;

    >a.name {
      color: $white;
    }
  }

  li.hover {
    >ul.children>li {
      &:not(:last-child) {
        border-color: $primary-color;
      }

      &::before {
        border-color: $primary-color;
      }
    }

    li:hover {
      cursor: pointer;

      >* {
        cursor: default;
      }

      &::before {
        font-family: 'FontAwesome';
        content: '\f149';
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 1rem;
        font-size: 1rem;
        border: none;
        transform: rotate(180deg);
        left: -0.5rem;
        color: $primary-color;
      }
    }
  }

  li.classification_tree_label {
    .classification-order-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0.2rem 0.1rem 0.2rem 0.3rem;
      border-radius: $global-radius;

      .fa,
      .fa-stack {
        font-size: 1rem;
        height: 1rem;
        line-height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        position: relative;
      }

      .fa.fa-arrows-v {
        width: 0.7rem;
        height: 1rem;
      }

      .fa.fa-list-ul {
        width: 1rem;
        height: 1rem;
      }
    }

    .draggable-handle,
    .merge-dropzone {
      align-self: stretch;
      align-items: center;
      justify-content: center;
      float: none;
      display: none;
      padding: 2px 5px;
    }

    .merge-dropzone {
      color: $dark-gray;
      border-radius: $global-radius;

      &.is-dragover {
        color: $white;
        background-color: $alert-color;
      }
    }

    .sortable-ghost>.inner-item>.merge-dropzone.is-dragover {
      color: $dark-gray;
      background-color: transparent;
    }

    li.saving-order,
    li.merging {

      >.inner-item {

        >.draggable-handle,
        >.merge-dropzone {
          pointer-events: none;
        }
      }
    }

    li.merging>.inner-item>.merge-dropzone,
    li.saving-order>.inner-item>.draggable-handle {
      &::before {
        font-size: 0.9rem;
        content: '\f110';
        animation: fa-spin 2s infinite linear;
      }
    }

    li.merging.merge-source {
      opacity: 0.5;
    }

    &.sortable-active {

      .draggable-handle,
      .merge-dropzone {
        display: flex;
      }

      .classification-order-button {
        background-color: $primary-color;
        color: $white;
      }

      .inner-item>a:not(.name):not(.classification-load-all-children):not(.classification-close-all-children):not(.classification-order-button),
      .inner-item>div.download-container {
        display: none;
      }
    }
  }
}

.classification-polygon-reveal {
  .geographic-map {
    height: 450px;
    max-height: 450px;
    min-width: 800px;
  }
}
