.confirmation-modal {
  padding: 3rem 0.5rem 0.5rem;
  min-width: 20rem;
  word-wrap: break-word;

  section.confirmation-section {
    display: none;

    &:first-of-type {
      display: block;
    }
  }

  .confirmation-text {
    text-align: center;
    padding: 0 0.5rem;
  }

  .confirmation-info {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .confirmation-buttons {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    grid-gap: 0.5rem;
    margin-top: 2rem;

    button,
    .button {
      line-height: 2rem;
      position: relative;
      font-weight: bold;
      margin: 0;
    }
  }
}
