.drag-and-drop-field {
  cursor: pointer;
  width: 100%;
  height: 12rem;
  border: 3px dashed $alert-color;
  background: rgba($alert-color, 0.05);
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 1rem 0;
  transition: $global-transition;
  border-radius: $global-radius;

  &.is-dragover {
    border-color: $success-color;
    background: rgba($success-color, 0.5);
  }
  > * {
    pointer-events: none;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.content-uploader-validations {
  font-size: 0.9rem;

  .value {
    font-weight: bold;
  }
}

.callout {
  font-size: 0.9rem;
}

.content-uploader {
  .separator {
    display: block;
    margin: 1rem 0;
    text-align: center;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      border-top: 2px solid $medium-gray;
    }

    > * {
      position: relative;
      padding: 0 0.5rem;
      background: $white;
    }
  }

  .content-upload-button-field {
    input {
      display: none;
    }
    label {
      width: 100%;
      background-color: $light-gray;
      color: $black;
      margin: 0;

      &:hover {
        background-color: darken($light-gray, 10%);
      }
    }
  }
  .asset-selector-button {
    width: 100%;
  }
  .callout {
    margin-top: 0.5rem;
  }
}

.button-prime {
  &.next-asset-button,
  &.prev-asset-button {
    z-index: 1008;
    position: fixed;
    top: calc(50% - 2.5rem);
  }
  &.prev-asset-button {
    left: 1rem;
  }
  &.next-asset-button {
    right: 1rem;
  }
}

.prev-asset-button ~ .reveal {
  max-width: 80%;
}
.content-create-button.button.success {
  margin: 0;
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: bold;

  .button-text {
    position: relative;
  }
  .fa-check {
    font-size: 1.4rem;
  }
  &[disabled] {
    background: rgba($success-color, 0.7);
    color: $white;
    border: 1px solid $success-color;
    opacity: 1;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      background: rgba($success-color, 0.7);
    }

    .progress-bar,
    .progress-filled {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
    .progress-filled {
      transition: $global-transition;
      width: 0;
      background: rgba($success-color, 1);
    }
  }
}
