/* CreativeWorks */

/* gridItems */

.flex {
  .data-cycle-object {
    .inner {
      .description {
        max-height: 300px;
        overflow: hidden;
      }
    }
  }
}

.data-cycle-object {
  position: relative;
  box-shadow: 0 1px 3px lighten($dark-gray, 8%);
  transition: $global-transition;
  background: $white;
  border-radius: $global-radius;

  .inner {
    .image-thumbnail {
      text-align: center;
    }

    .infoRow {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      gap: 0.3rem;
      font-size: 0.9rem;
      font-weight: 600;

      .fa {
        font-size: 1rem;
      }

      .title,
      .template-title {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .grid-thumbnails {
      height: 3rem;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: row;

      &.has-more:after {
        content: '...';
        display: flex;
        line-height: 1.2rem;
        font-size: 1.5rem;
        align-self: flex-end;
      }

      .grid-item-thumbnail {
        height: auto;
        max-height: 3rem;
        display: flex;
        margin-right: 3px;
        max-width: 29%;
      }
    }
  }

  &.expired-item {
    box-shadow: 0 0 0 1px $alert-color inset, 0 1px 5px $alert-color;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px $alert-color inset, 0 1px 25px $alert-color;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 1px 25px lighten($dark-gray, 8%);
    z-index: 2;
  }

  .inner {
    position: relative;

    >div,
    >span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;

      &:not(:last-child):not(.has-parent) {
        padding-bottom: 0.5rem;
      }

      &.with-dropdown-pane {
        position: relative;
        overflow: unset;
      }

      .content-location-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }

  .type {
    font-size: 1rem;
    font-weight: normal;

    &.has-parent {
      padding-bottom: 0;
    }

    .parent {
      font-style: italic;
      opacity: 0.5;
      font-size: 0.9rem;

      .icon .fa {
        font-size: 1rem;
      }

      &:before {
        content: '\f148';
        transform: rotate(90deg);
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
        display: inline-block;
        width: 1rem;
        color: $dark-gray;
        margin-left: 0.25rem;
        font-size: 1rem;
        padding-left: 0.2rem;
      }
    }
  }

  .inner>.title {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 200;
    color: $black;
    overflow: hidden;

    &.working-title {
      font-size: 1rem;
    }
  }

  .description,
  .address-block {
    color: $black;

    p {
      margin: 0;
    }
  }

  .event-period {
    color: $black;
  }

  /* Icon Rows */
  .row {
    .column {
      padding: 0;
    }

    color: $dark-gray;
  }

  .has-overlay {
    color: $primary-color;
  }
}

/* listItems */

.data-cycle-object.list-item {
  padding: 1rem;
}

@include breakpoint(xxxlarge) {
  .row .large-6 {
    width: 33%;
  }
}

.content-tiles,
.media-thumbs {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(190px + 1.3rem), 1fr));
  grid-gap: 1rem;

  .content {
    display: block;
    padding: 0.65rem;
    box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
    transition: box-shadow 0.25s ease-out;
    border-radius: $global-radius;
    font-size: 0.9rem;
    background-color: rgba(white, 0.5);

    &.highlight {
      box-shadow: 0 1px 7px $primary-color;
    }

    .object-browser-tile-checkbox {
      display: none;
    }

    span.name {
      font-weight: 600;
    }

    .thumbnail {
      position: relative;
      display: block;
      height: 170px;
      margin: 0;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $white;
      box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
      overflow: hidden;
      border: 0;
      cursor: pointer;

      &.has-restrictions {
        box-shadow: 0 0 2px 1px red;
      }

      &:focus,
      &:hover {
        .description {
          opacity: 1;
        }
      }

      .description {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        height: 100%;
        line-height: 1rem;
        font-size: 0.8rem;
        color: $body-font-color;
        overflow: hidden;
        padding: 0.5rem;
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $opacity-transition;
        box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;

        .translatable-field-container {
          min-width: 5rem;
        }
      }
    }

    &.hard-warnings {
      box-shadow: 0 0 5px 1px $alert-color;

      .content-warning {
        color: $alert-color;
      }
    }

    &.asset {
      &.hard-warnings {
        box-shadow: none;

        .thumbnail {
          box-shadow: 0 0 5px 1px $alert-color;
        }
      }

      .buttons {
        position: absolute;
        top: 7px;
        right: 7px;
        background: rgba($white, 0.8);
        border-radius: $global-radius;
        padding: 2px 5px;
        z-index: 1;
      }
    }

    >.name {
      font-weight: 600;
    }

    .buttons {
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      top: 0;
      right: 0;

      .fa {
        font-size: 1.1rem;
        margin: 0;
      }

      .tile-external-connections {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      >.draggable-handle,
      >.icon {
        margin-right: auto;
      }

      >.draggable-handle+.icon {
        margin-right: 0;
      }

      >a,
      >span {
        padding: 0 3px !important;
        //margin-left: 3px;

        &.copy {
          position: relative;
          top: 0;
          right: 0;
        }
      }
    }
  }

  .copy-single {
    position: relative;

    .copy-single-button {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;

      .fa {
        line-height: 1.5rem;
        font-size: 0.9rem;
      }
    }
  }

  .content.bild,
  .content.image-object,
  .content.bild-filmcommission,
  .content.video,
  .content.video-object {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0 0;
    overflow: unset;

    .buttons {
      top: 1px;
      right: 1px;
    }
  }

  .tile-property {
    &.image {
      max-height: 30px;
      display: flex;
      margin: 0.5rem 0 0 0;
      overflow: hidden;

      img {
        max-height: 30px;
        margin-right: 0.5rem;
      }
    }
  }
}

.expired-item-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  line-height: 1.5;
  color: $white;
  background-color: rgba($alert-color, 0.8);
  font-size: 0.9rem;
}

.detail-content:not(.imageobject) .type.properties .detail-type.media {
  .has-changed {
    &.removed {
      .thumbnail {
        box-shadow: 0 0 1px 1px $alert-color;
        background-color: rgba($alert-color, 0.1);
      }
    }

    &.added {
      .thumbnail {
        box-shadow: 0 0 1px 1px $success-color;
        background-color: rgba($success-color, 0.3);
      }
    }
  }
}

/* Objectbrowser */

.media-thumbs {
  .object-thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(190px + 1.3rem), 1fr));
    grid-gap: 1rem;
    grid-column: 1/-1;
    margin-bottom: 0;

    &.has-items {
      padding: 0.3rem 1rem 1rem 1rem;
    }

    .object-browser-tile-checkbox {
      display: none;
    }

    .delete-thumbnail {
      position: relative;
      order: 1;
      text-shadow: 1px 1px 1px rgba($black, 0.3);

      .fa {
        font-size: 1.3rem;
      }
    }

    .media {
      position: relative;
      display: block;
      overflow: hidden;
      padding: 0.65rem;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      outline: none;
      border-radius: $global-radius;
      background-color: rgba(white, 0.5);
      border: 0;
      box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
      transition: box-shadow 0.25s ease-out;
      line-height: 1.5;

      &.hard-warnings {
        box-shadow: 0 1px 5px 1px $alert-color;

        .content-warning {
          color: $alert-color;
        }
      }

      &.highlight {
        box-shadow: 0 1px 5px 1px $primary-color;
      }

      .name {
        font-weight: 600;
      }

      span.caption {
        display: none;
      }

      &.add {
        border-color: $primary-color;
        background-color: $primary-color;
      }
    }
  }

  >.buttons {
    text-align: left;
  }
}

.delete-thumbnail {
  padding: 0 0.2rem;
  cursor: pointer;

  &:hover {
    color: darken($alert-color, 10%) !important;
  }
}

.object-browser {
  text-align: left;
  overflow: hidden;

  input {
    display: none;
  }
}

.loading {
  width: 100%;
  text-align: center;
  padding: 1rem 0 5rem 0;

  .fa {
    font-size: 3rem;
    color: $dark-gray;
  }
}

.object-browser-overlay {
  margin: 7.9rem 0 0 0 !important;
  outline: none;
  padding: 0;
  box-shadow: none;

  &.full-height {
    margin: 0 !important;

    .object-browser-header {
      top: 0;
    }

    .items {
      max-height: 100%;
    }

    .item-info {
      height: 100%;
    }
  }

  .draggable-handle {
    display: none;
  }

  .object-browser-header {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 4;
    color: $primary-color;
    font-size: 1.2rem;
    position: fixed;
    left: 0;
    top: 7.9rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
    background: rgba($light-gray, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: $global-backdrop-filter;

    .object-browser-filter-form {
      display: flex;
      align-items: center;
      flex: auto;

      >* {
        margin-right: 0.6rem;
        height: 2.5rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .filter-warning {
        font-size: 2.5rem;
        color: $warning-color;
        cursor: help;
      }

      .fulltext-search {
        position: relative;
        min-width: 200px;
        max-width: 350px;
        flex: 1;

        .object-browser-search {
          border: 0;
          line-height: 2.5rem;
          font-weight: 200;
          padding: 0 0.5rem 0 3rem;
          width: 100%;
          box-shadow: none;
          outline: none;
          background-color: lighten($light-gray, 7%);
          transition: background ease-out 0.25s;
          border-radius: $global-radius;
          font-size: 1.1rem;

          &::placeholder {
            font-weight: 200;
            color: $dark-gray;
          }

          &:hover,
          &:focus,
          &:active {
            background-color: $white;
          }
        }

        .search-icon {
          position: absolute;
          line-height: 2.5rem;
          padding: 0 1rem;
          left: 0;
          top: 0;
          color: $black;

          .fa {
            font-size: 1.3rem;
          }
        }
      }

      .union-filter,
      .relation-filter {
        min-width: 200px;
        max-width: 360px;
        height: 2.5rem;
        font-size: 1rem;
        flex: 1;

        .select2 {
          height: 100%;

          .select2-selection {
            height: 100%;
            border: none;
            display: flex;
            align-items: center;
            background-color: lighten($light-gray, 7%);
            transition: background ease-out 0.25s;

            &:hover,
            &:focus,
            &:active {
              background-color: $white;
            }

            .select2-selection__rendered {
              flex: auto;
              padding-left: 15px;
            }

            .select2-selection__arrow {
              height: 100%;
            }
          }
        }

        .select2-container {
          .select2-dropdown {
            border: none;
            box-shadow: 0px 3px 3px rgba($black, 0.2);
            overflow: hidden;

            .select2-search__field {
              input[type='search'] {
                margin: 0;
              }
            }
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;

        >*:not(:last-child) {
          margin-right: 0.6rem;
        }

        button,
        .button {
          padding: 0.5rem 0.8rem;
          border-radius: $global-radius;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2.5rem;
          white-space: nowrap;

          .fa {
            margin-right: 0.3rem;
          }

          &.round {
            border-radius: 100%;
            background: darken($medium-gray, 3%);
            width: 2.5rem;
            height: 2.5rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: 2.5rem;
            padding: 0;

            .fa {
              margin: 0;
            }
          }
        }
      }

      .item-count {
        font-style: italic;
        line-height: 2.5rem;
        color: $dark-gray;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        min-width: 7rem;

        >* {
          margin-right: 0.3rem;
        }

        .loading {
          padding: 0;

          .fa {
            color: $dark-gray;
            font-size: 1.5rem;
          }
        }
      }
    }

    h4 {
      display: none;
    }
  }

  .object-browser-footer {
    position: fixed;
    z-index: 20;
    background: rgba(white, 0.9);
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.1);
    backdrop-filter: $global-backdrop-filter;

    .chosen-items {
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0.5rem;
      margin-right: 0;
      height: inherit;
      min-height: 70px;
      display: block;
    }

    .chosen-items-container {
      line-height: 1;
      display: grid;
      grid-gap: 0.5rem;
      grid-auto-flow: column;
      grid-template-columns: max-content;
      width: max-content;
      margin-bottom: 0;

      .expired-item-overlay {
        font-size: 0;
      }

      .description {
        display: none;
      }

      li.item {
        width: auto !important;
        margin: 0;
      }

      .item.content {
        .object-browser-tile-checkbox {
          display: none;
        }

        .buttons {
          position: relative;
          top: 0;
          right: 0;

          >*:not(.delete-thumbnail) {
            display: none;
          }

          >.icon {
            display: inline-flex;
            position: relative;
            align-items: center;
            justify-content: center;
          }

          .delete-thumbnail {
            display: inline-block;
            position: relative;
            order: 1;
            text-shadow: 1px 1px 1px rgba($black, 0.3);

            .fa {
              font-size: 1.3rem;
            }
          }
        }

        &.asset {
          max-width: 80px;

          .buttons {
            position: absolute;
          }
        }
      }
    }

    .items .item.media {
      position: relative;
      line-height: 1.5;
      position: relative;
      margin: 0 0.3rem 0 0;
      width: auto;
      max-width: 250px;
      font-size: 0.9rem;

      &.thumbnail {
        width: 80px;
        height: 80px;
        background-size: cover;
        border: 0;
        margin: 0;
        display: inline-block;

        .warning {
          display: none;
        }
      }
    }

    .buttons {
      position: absolute;
      top: -2rem;
      right: 2rem;
      z-index: 1;

      .button-prime {
        display: inline-block;
        cursor: pointer;
      }

      .button-title {
        display: inline-block;
        padding: 0 0.1rem 0 0.3rem;

        i {
          font-size: 0.9rem;
        }
      }
    }
  }

  .pagination {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    clear: both;

    .active {
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background: $light-gray;

      a {
        padding: 0;
        color: $dark-gray;
        cursor: default;
        text-decoration: none;
      }
    }
  }

  >.items {
    .item.active .media.thumbnail {
      border-color: $primary-color;
      background-color: $primary-color;
      box-shadow: 0 0 1px $primary-color;
      color: $white;
    }

    .media.item {
      position: relative;

      &.active {
        border-color: $primary-color;
        background-color: $primary-color;
        box-shadow: 0 0 1px $primary-color;
        color: $white;

        &.hard-warnings {
          box-shadow: 0 0 5px 1px $alert-color;
        }

        .person {
          color: $white;
        }

        .warning {
          opacity: 1;
        }

        .buttons {
          color: $white;

          .external-connections-icon {
            color: $white;

            &.pending {
              color: $white;
            }
          }

          a {
            color: $white;
          }
        }
      }
    }
  }

  .items {
    padding: 5rem 1rem 7rem 1rem;
    margin-right: 400px;
    max-height: calc(100% - 7.9rem);
    overflow-y: scroll;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(190px + 1.3rem), 1fr));
    grid-gap: 1rem;

    li.item {
      position: relative;
      display: block;

      .delete-thumbnail {
        display: none;
      }

      .description {
        display: none;
      }

      &.asset {
        display: flex;
        justify-content: center;

        .content-link {
          position: relative;
          height: 100%;
          width: 100%;
        }

        .object-browser-tile-checkbox {
          cursor: pointer;
          position: absolute;
          top: 5px;
          left: 5px;
          z-index: 1;
        }

        .buttons {
          position: absolute;
          right: 0;
          top: 0;
          background: rgba($white, 0.8);
          border-radius: $global-radius;
          padding: 2px 5px;
        }
      }
    }

    .item.content {
      transition: box-shadow 0.25s ease-out;

      .object-browser-tile-checkbox {
        cursor: pointer;
        display: inline-flex;
        color: $white;
        font-size: 1.1rem;
        line-height: 1.1rem;
        border: 1px solid rgba($dark-gray, 0.5);
        background-color: $white;
        border-radius: $global-radius;
        margin: 0 0.2rem 0.5rem 0;
        width: 1.2rem;
        height: 1.2rem;
        vertical-align: top;
        align-items: center;
        justify-content: center;

        &::before {
          vertical-align: baseline;
        }
      }

      &.active .object-browser-tile-checkbox {
        color: $black;
      }

      .buttons {
        float: right;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 1;

        .tile-external-connections {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        >a,
        >span {
          padding: 0 3px;
          margin-left: 3px;

          &.copy {
            position: relative;
            top: 0;
            right: 0;
          }

          &.show-sidebar-details {
            padding: 0 0.5rem;
          }
        }
      }

      &.hard-warnings {

        &.media,
        .media {
          box-shadow: 0 0 5px $alert-color;

          .content-warning {
            color: $alert-color;
          }
        }
      }

      &.highlight {

        &.media,
        .media {
          box-shadow: 0 0 10px 1px var(--primary-color);
        }
      }

      &:hover,
      &.active:hover,
      &.active.hard-warnings:hover {

        &.media,
        .media {
          box-shadow: 0 0 6px 1px rgba($primary-color, 0.5);
        }
      }
    }

    .media {
      width: auto;
      height: auto;
      padding: 0.65rem;
      display: block;
      overflow: hidden;
      outline: none;
      border-radius: $global-radius;
      background-color: rgba(white, 0.5);
      border: 0;
      box-shadow: 0 0 0 1px rgba($black, 0.2);
      transition: box-shadow 0.25s ease-out;
      line-height: 1.5;
      font-size: 0.9rem;

      .name {
        font-weight: 600;
      }

      cursor: pointer;

      &.thumbnail {
        height: 170px;
        padding: 5px 0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: content-box;
        position: relative;
        margin: 0;
      }
    }

    a.delete-thumbnail {
      display: none;
    }

    .no-entries {
      text-align: center;
      padding: 10rem 0;
    }

    .tile-property {
      overflow: hidden;

      &.image {
        max-height: 30px;
        display: flex;
        margin-top: 0.5rem;

        img {
          max-height: 30px;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .item-info {
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    height: calc(100% - 7.9rem);
    overflow-y: auto;
    backface-visibility: hidden;
    z-index: 3;
    background-color: $white;
    border-left: 1px solid $medium-gray;
    font-size: 0.9rem;

    .item-info-scrollable {
      padding-bottom: 10rem;

      >.detail-type {
        margin-bottom: 0.5rem;
        line-height: 2;
      }
    }

    .buttons {
      position: absolute;
      right: 1.5rem;
      top: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      >* {
        padding: 0 3px;
      }

      .tile-external-connections .fa {
        line-height: inherit;
      }
    }

    .fa-exclamation-triangle {
      color: $warning-color;
    }

    .detail-type {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;

      &.geographic {
        >.geographic {
          flex: auto;
          width: 100%;

          .geographic-map {
            height: 300px;
          }
        }
      }

      .detail-label {
        font-weight: bold;
        margin-right: 0.3rem;
        display: inline-flex;
        align-items: center;

        >*:not(:last-child) {
          margin-right: 0.3rem;
        }
      }

      .detail-type {
        padding-left: 0.5rem;
      }
    }

    dl {
      margin: 0;
      display: block;
      width: 100%;
      /* set the container width*/
      overflow: visible;

      .detail-label {
        font-weight: bold;
        display: inline-flex;
      }

      dt {
        margin: 0;
        padding: 0;
        display: inline;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      dd {
        margin: 0;
        display: inline;
        padding: 0;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;

        &::after {
          content: '\A';
          white-space: pre;
          line-height: 2;
        }

        &.detail-thumb {
          display: block;
          margin-bottom: 0.5rem;

          img[data-open] {
            cursor: pointer;
          }
        }

        img {
          max-height: 360px;
        }

        &.block-flex {
          flex: 0 0 100%;
          line-height: 1;
        }
      }
    }
  }
}

span.single_error.object-browser-error {
  right: initial;
  z-index: 9999;

  &:before {
    left: 5px;
  }
}

.close-object-browser-error {
  color: $white;
  margin-left: 0.5rem;
  display: inline-block;

  &:hover,
  &:focus {
    color: $white;
  }
}

.content-warning {
  color: $warning-color;
  display: block;
  border-bottom: 0;
  font-size: 1.5rem;
  float: right;
  margin-left: 5px;
}

.thumbnail .content-warning {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
}

/* Object Browser New Items */

.reveal {

  &.new-item,
  &.new-content-reveal {
    background: $white;
    min-width: 60%;

    .loading {
      display: none;
      vertical-align: text-bottom;

      .fa {
        font-size: 2rem;
        color: $light-gray;
      }

      &.show {
        display: inline-block;
      }
    }
  }
}

/* embedded Objects */

.detail-header {
  .form-element.embedded_object {
    &.disabled {
      >.embedded-editor-header {
        cursor: not-allowed !important;
        background: lighten($light-gray, 5%) !important;
      }
    }

    .embedded-editor-header {
      display: flex;
      align-items: center;
      position: sticky;
      z-index: 13;
      background: $white;
      border-radius: $global-radius;

      .attribute-edit-label {
        display: flex;
        align-items: center;
        position: relative;
        top: unset;
        left: unset;
        margin: 0;
        flex: auto;
        padding: 0.7rem 1rem;
        transition: $color-transition;
      }

      .add-content-object {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0.3rem 0.5rem;
        height: 2rem;
        width: 2rem;
        margin: 0 0.5rem;
        white-space: nowrap;
      }

      .new-embedded-object-links {
        list-style: none;

        .add-content-object {
          justify-content: flex-start;
          padding: 0;
          height: auto;
          width: 100%;
          margin: 0;
          gap: 0.5rem;
        }
      }

      .new-embedded-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0.3rem 0.5rem;
        height: 2rem;
        width: 2rem;
        margin: 0 0.5rem;
      }

      .new-embedded-button-wrapper {
        position: relative;
      }
    }

    >.embedded-editor-header>.accordion-close-children,
    >.embedded-editor-header>.accordion-open-children {
      display: none;
    }

    .embedded-object {
      padding: 0;
    }

    &.has-items {
      >.embedded-object {
        padding: 0.5rem 1rem 1rem 1rem;
      }

      >.embedded-editor-header>.accordion-close-children,
      >.embedded-editor-header>.accordion-open-children {
        display: flex;
      }
    }

    &.loading-embedded {

      button,
      .button,
      .add-content-object {
        cursor: not-allowed;
        pointer-events: none;
      }

      >.embedded-editor-header>.add-content-object>.fa:before {
        content: '\f110';
        animation: fa-spin 2s infinite linear;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .embedded_object:not(.publication_schedule) {

    &:focus-within,
    &:hover:focus-within {
      &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
        >.embedded-editor-header>.attribute-edit-label {
          color: $primary-color;
        }
      }
    }
  }

  .embedded_object:not(.publication_schedule)>.embedded-object>.content-object-item {

    &:focus-within,
    &:hover:focus-within {
      &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
        border-color: var(--primary-color);
        box-shadow: 0 1px 5px rgba($primary-color, 0.5);

        >.accordion-title {
          color: $primary-color;
        }
      }
    }
  }

  .embedded_object:not(.publication_schedule),
  .detail_object {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    h2 {
      .icon {
        .fa {
          font-size: inherit;
        }
      }
    }

    >.embedded-object>.buttons {
      display: block;
      text-align: center;

      button {
        margin: 0;
        transition: $global-transition;

        .fa.fa-ban {
          font-size: 1.1rem;
        }
      }
    }

    >.embedded-object>.content-object-item,
    >.content-object-item {
      position: relative;
      background-color: $white;
      padding: 0.5rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &.accordion-item {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }

      &.is-active>.accordion-title::before {
        content: '\f106';
      }

      >.accordion-title {
        flex: 1;
        padding: 0.2rem;
        font-size: 0.9rem;
        border: none;
        background: transparent;
        color: $dark-gray;
        transition: $global-transition;
        padding-right: 2.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-flow: row nowrap;

        .icon {
          margin-right: 0.5rem;

          .fa {
            font-size: 1rem;
          }
        }

        >.title {

          >.readonly-icon,
          >.translatable-icon {
            margin-right: 0.3rem;
          }
        }

        >.embedded-title {
          transition: $global-transition;
          opacity: 0;
          font-style: italic;

          &.visible {
            opacity: 1;
          }

          &:before {
            content: '-';
            padding: 0 0.6rem 0 0.5rem;
          }
        }

        &::before {
          content: '\f107';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          font-size: 1.5rem;
          line-height: 1rem;
        }
      }

      >.accordion-content {
        flex: auto;
        width: 100%;
        border: none;
        background: transparent;
        padding: 0;
        margin: 1rem 0.5rem 0.5rem 0.5rem;
      }

      .removeContentObject {
        padding: 0.3rem 0.5rem;
        margin: 0;
      }

      &.hidden {
        background: transparent;
        padding: 0;
        margin: 0;
        opacity: 0;
        box-shadow: none;
        border: none;
      }

      .embedded-header {
        color: $dark-gray;
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: normal;
        transition: $color-transition;
      }
    }

    &.detail_object .content-object-item {
      padding: 1rem;
    }

    .translated+.content-object-item {
      .embedded-header {
        left: 2.5rem;
      }
    }
  }
}

/* Duration Slider */

.detail-header.editor {
  .duration-slider-editor {
    display: flex;
    align-items: center;

    >label.attribute-edit-label {
      padding: 0;
      position: relative;
      display: inline-flex;
      left: unset;
      top: unset;
      white-space: nowrap;
      line-height: 2.5rem;
      margin-right: 0.5rem;
    }

    .duration-slider {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      flex: auto;

      .duration-slider-slider {
        flex: auto;
        display: flex;

        >.slider {
          flex: auto;
          margin: 1rem 0;

          .slider-handle {
            border-radius: $global-radius;
          }
        }
      }

      .duration-slider-input {
        flex: 0;
        margin-left: 1rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        >input {
          display: block;
          position: relative;
          width: 100%;
          padding: 0.5rem 0.35rem 0.5rem 0.7rem;
          min-width: 5rem;
          margin-right: 0.35rem;
          text-align: right;
          height: 2.5rem;
        }

        .duration-label {
          position: relative;
          top: unset;
          left: unset;
          height: unset;
          line-height: inherit;
          display: block;
          right: unset;
          padding: 0.5rem 0.7rem 0.5rem 0;
        }
      }
    }
  }
}

ul.list {
  li.list-item.data-cycle-object {
    .inner-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .content-row {
        flex: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        >a {
          &:hover {
            .title {
              color: $primary-color;
            }
          }
        }

        .title {
          color: $black;
          transition: $color-transition;
        }

        .validity_period {
          color: $alert-color;
          float: right;
        }
      }

      .buttons {
        white-space: nowrap;
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        height: 1.5rem;
        gap: 0.5rem;

        >* {
          position: relative;
          line-height: inherit;
          padding: 0;
        }
      }

      a.toggle-details {
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: '\f107';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          position: relative;
          display: inline-block;
          width: 1rem;
          text-align: center;
          font-size: 1.2rem;
          vertical-align: middle;
        }
      }

      &.open a.toggle-details::before {
        content: '\f106';
      }

      &.user {

        &.locked {
          .content-row {
            opacity: 0.5;
          }
        }

        .content-row {
          display: flex;
          gap: 0.5rem;

          .type.user {
            color: var(--primary-color);
          }

          >.title {
            font-weight: 600;
          }
        }

        .buttons {
          span.confirm-link-button {
            position: relative;
            color: $warning-color;

            .fa-check::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 50%;
              top: 1px;
              left: 3px;
              border-bottom: 2px solid;
              transform: rotate(45deg);
            }
          }

          >a.confirm-link {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover span.confirm-link-button {
              color: $success-color;

              .fa-check::after {
                display: none;
              }
            }
          }
        }
      }
    }

    .content-details {
      display: none;

      >div {
        margin-top: 1rem;
      }

      &.active {
        display: block;
      }

      .thumbnails {
        line-height: 2.8rem;

        img {
          height: 2.6rem;
          vertical-align: top;
        }
      }
    }

    .inner-item.open~.content-details {
      display: block;
    }
  }
}
