/* Filter */
$filter-border: #aaa;

@keyframes throw {
  0% {
    top: 0;
    content: 'o';
  }

  63% {
    top: 100%;
    content: '✓';
  }

  100% {
    top: 0;
    content: '✓';
  }
}

#search-form {
  .filters {
    position: relative;
    background: $light-gray;
    border-radius: $global-radius;

    .filter-body {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 1rem;
      gap: 1rem;

      >* {
        width: 100%;
        margin: 0;
      }
    }

    .main-filters {
      li[data-children]>label:after {
        content: '\f105';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        right: 1rem;
        font-size: 1.2rem;
        line-height: 1.5em;
        transition: $global-transition;
      }

      li[data-children]:hover>label:after,
      li[data-children]:focus>label:after {
        right: 0.8rem;
      }
    }

    .permanent-advanced-filters {
      display: flex;
      flex-flow: column;
      gap: 1rem;

      >* {
        margin: 0;
      }
    }

    .advanced-filters>.accordion-item .accordion-content {
      >*:not(:first-child) {
        margin-top: 1rem;
      }

      >*:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .advanced-filters,
    .permanent-advanced-filters,
    .publication-date-filter {
      .accordion-content {
        border-top: 1px solid $white;
        background: inherit;
        padding: 1rem 0 0 0;
      }

      .accordion-title {
        span {
          background: $white;
        }

        &::before {
          border-bottom: 1px solid $white;
        }
      }
    }

    select {
      margin: 0;
    }

    .advanced-filters,
    .permanent-advanced-filters,
    .publication-date-filter {
      .add-advanced-filter-container {
        background-color: lighten($primary-color, 55%);
        box-shadow: 0 0 0 2px lighten($primary-color, 5%) inset, 0 1px 3px darken($light-gray, 10%);
        border-radius: $global-radius;
        min-height: 2.5rem;

        .select2.select2-container.select2-container--open .select2-selection {
          box-shadow: 0 0 0 2px $primary-color inset, 0 0 3px $black inset;
        }

        .select2.select2-container {
          .select2-selection {
            min-height: 2.5rem;
            background: transparent;
            border: none;
            padding: 0.3rem;

            .select2-selection__rendered {
              height: 100%;
              padding-right: 2rem;
              font-weight: 600;
            }

            .select2-selection__arrow {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              height: 100%;
              top: 0;
              right: 0;
              width: 3rem;

              >* {
                display: none;
              }

              &::before {
                content: '\f067';
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                font-size: 1.3rem;
                line-height: 1.3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $primary-color;
                margin-top: 1px;
              }
            }
          }

          &.select2-container--disabled .select2-selection .select2-selection__arrow::before {
            content: '\f110';
            animation: fa-spin 2s infinite linear;
          }
        }
      }

      .advanced-filter {
        position: relative;
        display: flex;
        background-color: lighten($dark-gray, 32%);
        box-shadow: 0 0 0 2px lighten($dark-gray, 12%) inset, 0 1px 3px darken($light-gray, 10%);
        border-radius: $global-radius;
        transition: background-color 0.25s, box-shadow 0.25s;
        gap: 0.5rem;
        margin: 0;
        padding: 0.5rem;
        overflow: unset;

        input[type="date"],
        input[type="datetime-local"] {
          margin: 0;
          height: 2.2rem;
          line-height: 2.2rem;
          padding: 0.3rem 0.5rem;
        }

        select {
          border: 1px solid $filter-border;
          border-radius: $global-radius;
          white-space: nowrap;
          text-overflow: ellipsis;
          min-width: 6rem;
          box-shadow: inset 0 1px 2px rgba($black, 0.1);
        }

        &.conditional-value-selector {
          .advanced-filter-selector {
            display: flex;

            select[disabled],
            select[disabled]+.select2 {
              display: none;
            }
          }
        }

        .separator {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          padding: 0 0.5rem;
          white-space: nowrap;

          &:last-child {
            padding-right: 0;
          }

          &:first-child {
            padding-left: 0;
          }
        }

        &.i,
        &.s,
        &.p {
          background-color: lighten($success-color, 36%);
          box-shadow: 0 0 0 2px lighten($success-color, 3%) inset, 0 1px 3px darken($light-gray, 10%);
        }

        &.e,
        &.u,
        &.b {
          background-color: lighten($alert-color, 41%);
          box-shadow: 0 0 0 2px lighten($alert-color, 20%) inset, 0 1px 3px darken($light-gray, 10%);
        }

        &.highlight {
          background-color: $white;
          box-shadow: 0 0 0 2px darken($white, 15%) inset, 0 1px 3px darken($light-gray, 10%);
        }

        >div {
          position: relative;
          top: unset;
          left: unset;
          right: unset;
          bottom: unset;
          display: flex;
          flex: 0;
          align-items: center;
          gap: 0.5rem;

          &.buttons {
            .remove-advanced-filter {
              display: flex;
              margin: 0;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 2rem;

              .fa {
                color: $alert-color;
                font-size: 1.3rem;
              }
            }

            .geolocation-button {
              width: 2rem;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .fa {
                display: flex;
                align-content: center;
                justify-content: center;
              }

              &.position-loading {
                pointer-events: none;

                .fa::before {
                  content: '\f110';
                  animation: fa-spin 2s infinite linear;
                }
              }
            }
          }

          .select2-selection--single {
            min-height: 2.2rem;

            .select2-selection__arrow {
              height: 32px;
            }

            .select2-selection__rendered {
              line-height: 32px;
            }
          }

          &.additional-selector {
            flex: auto;

            .select2 {
              min-width: 10rem;
            }
          }
        }

        .advanced-filter-selector {
          flex: auto;

          input {
            min-width: 6rem;
          }

          .flatpickr-wrapper {
            width: 100%;
          }

          .flatpickr-input {
            margin: 0;
            height: 2.2rem;
            border-radius: $global-radius;
            border-color: $filter-border;
          }

          .flatpickr-calendar {
            &.open.rightMost {
              right: 0;
            }
          }

          .filter-text {
            margin: 0;
            padding: 0.2rem 0.5rem;
            height: 2.2rem;
            border-radius: $global-radius;
            border-color: $filter-border;
          }

          .select2-dropdown .select2-search__field {
            margin: 0;
          }
        }

        .advanced-filter-mode {
          flex: unset;

          select {
            border-radius: $global-radius;
            height: 2.2rem;
            border-color: $filter-border;
            font-size: 0.9rem;
          }
        }

        .advanced-filter-title {
          flex: 0;
          white-space: nowrap;
          padding-left: 0.5rem;

          select {
            margin-left: 0.5rem;
            min-width: 15rem;
          }
        }

        .select2 {
          min-width: 100%;

          &.select2-loading::after {
            top: 5px;
            right: 5px;
          }

          .select2-selection {
            input {
              height: auto;
              margin-bottom: 0;
              line-height: 1.5;
            }
          }
        }

        .geo-radius-unit-selector {
          height: 2.2rem;
          width: auto;
        }

        .advanced-filter-selector,
        .additional-selector {
          min-width: 10rem;

          &.remote-render,
          &.remote-rendering {

            &::before,
            &::after {
              height: 100%;
            }
          }
        }

        .hidden {
          display: none;
        }
      }

      .advanced-filter.in-schedule {
        .advanced-filter-selector {

          >select,
          input {
            margin-right: 0.5rem;
            height: 2.4375rem;
          }
        }
      }
    }

    .date-range {
      label {
        display: inline-block;
      }

      input {
        margin: 0;
      }
    }

    strong,
    b {
      color: $primary-color;
    }

    .select2-container,
    .tag {

      strong,
      b {
        color: inherit;
      }
    }

    span.title {
      strong {
        color: inherit;
      }
    }

    .search {
      .input-group {
        background-color: lighten($light-gray, 7%);
        padding: 0;
        transition: background ease-out 0.25s;
        margin-bottom: 0;
        border-radius: $global-radius;
        display: flex;

        >* {
          background-color: transparent;
        }

        .input-group-field,
        .input-group-button {
          display: flex;
          flex: auto;
          height: 2.9rem;
          padding: 0;
          color: $black;
          border: 0;
        }

        .input-group-field {
          font-size: 1.2rem;
          line-height: 1.2rem;
          box-shadow: none;
          padding: 0.3rem 0.3rem 0.3rem 1rem;

          &::placeholder {
            font-weight: 200;
            color: $dark-gray;
          }

          &:hover,
          &:focus,
          &:active {
            box-shadow: none;
          }
        }

        .input-group-button {
          width: 4rem;
          align-items: center;
          justify-content: center;
          background-color: $success-color;
          color: $white;
          transition: $global-transition;

          i {
            font-size: 1.6rem;
            line-height: 1.2;
          }

          &:hover {
            background-color: scale-color($success-color, $lightness: -15%);
          }

          &[disabled] {
            opacity: 0.5;
            background-color: scale-color($success-color, $lightness: +15%);
            cursor: not-allowed;
          }
        }

        &:hover,
        &:focus,
        &:active {
          background-color: $white;
        }
      }
    }

    button[type='submit'].button {
      i {
        font-size: 1rem;
      }

      vertical-align: middle;
    }
  }

  #primary_nav_wrap {
    .tag-group {
      padding: 0 1rem 1rem 1rem;

      .icon {
        color: $dark-gray;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
        cursor: pointer;

        label:hover:before {
          opacity: 0.3;
        }

        input {
          display: none;
        }

        /* :: CHECKED :: */
        input:checked~label {
          background-color: var(--classification-color, var(--primary-color));
          color: var(--white);

          strong {
            color: var(--white);
          }
        }

        input:checked~label:before {
          animation: throw 0.2s linear;
          top: 0px;
          color: var(--white);
          opacity: 1;
          content: '✓';
          line-height: 2.3rem;
        }

        &.current-menu-item {
          background: #ddd;
        }

        >div {
          display: none;
          z-index: 3;
          position: absolute;
          top: 100%;
          left: 0;
          background: var(--white);
          width: 100%;
          padding: 1rem 0 0 0;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
          border-radius: 0 0 $global-radius $global-radius;
        }
      }

      ul {
        display: none;
        padding: 0;
        position: relative;
        margin: 1rem;

        label {
          display: block;
          padding: 0.3rem 0.5rem 0.3rem 2.5rem;
          transition: $global-transition;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          margin: 0;
          font-size: 1rem;
          border-radius: $global-radius;
          background-color: var(--classification-color);

          &.has-color {
            color: var(--white);
          }
        }

        input[type="checkbox"]:disabled+label {
          cursor: not-allowed;
        }

        label:before {
          content: 'o';
          text-align: center;
          font-size: 1.2rem;
          color: $black;
          width: 40px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: $global-transition;
          opacity: 1;


        }

        label.has-color::before {
          color: var(--white);
        }

        li {
          float: none;
          width: 18rem;
          position: initial;
          border-radius: $global-radius;

          &:hover {
            box-shadow: none;
            background: lighten($light-gray, 4%);

            >label i {
              left: 16.7rem;
            }
          }

          i {
            left: 16.5rem;
          }

          i {
            position: absolute;
            line-height: 1.5em;
            transition: $global-transition;
          }
        }

        a {
          line-height: 120%;
          padding: 10px 15px;
        }

        ul {
          top: 0;
          left: 18rem;
          position: absolute;
          margin: 0;
          border-radius: $global-radius;

          &.sub-list {
            width: 25%;
          }

          &:not(.sub-list) {
            background: lighten($light-gray, 4%);

            li:hover {
              background: lighten($light-gray, 7%);
            }
          }

          ul:not(.sub-list) {
            background: lighten($light-gray, 7%);

            li:hover {
              background: lighten($light-gray, 10%);
            }

            ul:not(.sub-list) {
              background: lighten($light-gray, 10%);
            }
          }
        }
      }

      ul>li:hover> {

        div,
        ul,
        div>ul {
          display: block;
        }
      }
    }

    >ul {
      display: flex;
      position: relative;
      width: 100%;
      line-height: 1;

      >li {
        padding: 1rem;
        float: none;
        position: initial;
        display: inline-block;
        flex: 1;
        white-space: nowrap;
        border-radius: $global-radius;

        &.active {
          border-radius: $global-radius $global-radius 0 0;
        }

        .title {
          white-space: normal;
        }

        >.title {
          white-space: nowrap;
          word-break: break-word;
        }
      }
    }

    .split-list ul {
      float: left;
      display: block;
      position: initial;
      padding-left: 0;
    }

    .split-list li {
      background: $white;
    }
  }

  .languagetags {
    font-size: 0.8rem;
    border-top: 1px solid $white;
    padding-top: 1rem;

    .tag-group {
      display: flex;
      align-items: flex-start;
      gap: 0.3rem;

      >.tags-container {
        flex: auto;
        display: flex;
        flex-flow: row wrap;

        label {
          display: inline-flex;
          margin-right: 0.3rem;

          &:hover {
            a.tag {
              background-color: $alert-color;
            }
          }

          &:last-child {
            margin-right: 0;
          }

          a.tag {
            transition: background-color 0.25s ease-out;
            background-color: lighten($primary-color, 2%);

            .fa {
              text-shadow: none;
            }
          }
        }
      }

      >.tag-group-label {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        color: $primary-color;
        font-weight: bold;
        padding-top: 1px;
        gap: 0.3rem;

        i {
          font-size: 1rem;
        }
      }
    }
  }

  .filtertags {
    font-size: 0.8rem;
    display: flex;

    >.filter-groups {
      flex: auto;
      min-width: 1rem;
    }

    >.icon {
      white-space: nowrap;
      margin: 0 0.5rem 0.5rem 0;
      padding-top: 2px;
    }

    .fa-check {
      color: $primary-color;
    }

    .tag-group {
      display: inline-flex;
      gap: 0.3rem;
      border-radius: $global-radius;
      padding: 2px 4px;
      margin: 0 0.5rem 0.5rem 0;
      background-color: lighten($dark-gray, 32%);
      box-shadow: 0 0 0 1px lighten($dark-gray, 12%);
      align-items: center;
      max-width: 100%;

      &.e,
      &.u,
      &.b {
        background-color: lighten($alert-color, 41%);
        box-shadow: 0 0 0 1px lighten($alert-color, 20%);

        .tag {
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            border-bottom: 1px solid;
            width: calc(100% - 0.4rem);
            margin: 0 0.2rem;
          }
        }
      }

      &.i,
      &.s,
      &.p {
        background-color: lighten($success-color, 36%);
        box-shadow: 0 0 0 1px lighten($success-color, 3%);
      }

      &.user-force-filter {
        background-color: lighten($dark-gray, 32%);
        box-shadow: 0 0 0 1px lighten($dark-gray, 12%);
      }

      .tag-container {
        font-size: 0;

        .tag {
          margin-right: 5px;
        }
      }

      .advanced-filter-link {
        .fa {
          vertical-align: text-bottom;
        }

        &.focus-advanced-filter {
          color: lighten($black, 25%);

          &:hover {
            color: lighten($black, 40%);
          }
        }

        &.remove-advanced-filter,
        &.remove-hidden-filter {
          color: $alert-color;

          &:hover {
            color: lighten($alert-color, 10%);
          }
        }
      }

      .tag-buttons {
        flex: none;
        padding: 1px 3px 1px 1px;
      }

      .tag-group-label {
        padding: 1px 1px 1px 3px;
      }

      label {
        display: inline-block;
        line-height: inherit;
        font-size: inherit;
      }

      a.tag {
        transition: background-color 0.25s ease-out;
      }

      a.tag:hover {
        background: $alert-color;
      }
    }

    .result-count {
      color: $dark-gray;

      b {
        color: $dark-gray;
      }

      .count-full {
        .loading {
          display: inline;
          padding: 0;

          .fa {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .filterbuttons {
    position: relative;

    .filterbuttons-left {
      float: left;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .language-filter {
        border-right: 2px solid darken($medium-gray, 5%);
        margin-right: 1rem;

        .dropdown-menu-item {
          padding: 0.75rem 1rem;
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          border-radius: $global-radius;

          >ul {
            display: none;
            padding: 0;
            position: relative;
            padding: 1rem;
            border-radius: $global-radius;

            label {
              display: block;
              padding: 0.3rem 0.5rem 0.3rem 2.5rem;
              transition: $global-transition;
              position: relative;
              overflow: hidden;
              cursor: pointer;
              margin: 0;
              font-size: 1rem;
              border-radius: $global-radius;
            }

            label:before {
              content: 'o';
              text-align: center;
              font-size: 1.2rem;
              color: $black;
              width: 40px;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              transition: $global-transition;
              opacity: 1;
            }

            li {
              position: relative;
              float: left;
              margin: 0;
              padding: 0;
              cursor: pointer;
              width: 25%;
              text-align: left;
              border-radius: $global-radius;

              label:hover:before {
                opacity: 0.3;
              }

              input {
                display: none;
              }

              &:hover {
                box-shadow: none;
                background: lighten($light-gray, 4%);
              }

              /* :: CHECKED :: */
              input:checked~label {
                background-color: $primary-color;
                color: $white;

                strong {
                  color: $white;
                }
              }

              input:checked~label:before {
                animation: throw 0.2s linear;
                top: 0px;
                color: $white;
                opacity: 1;
                content: '✓';
                line-height: 2.3rem;
              }

              @keyframes throw {
                0% {
                  top: 0;
                  content: 'o';
                }

                63% {
                  top: 100%;
                  content: '✓';
                }

                100% {
                  top: 0;
                  content: '✓';
                }
              }
            }
          }

          >span,
          >i {
            flex: 1;
            white-space: nowrap;
            padding-right: 5px;
          }

          >i {
            line-height: inherit;
          }

          &.active {
            background-color: $white;
            box-shadow: 0 5px 3px rgba($black, 0.3);
            color: $black;
            border-radius: $global-radius $global-radius 0 0;

            >ul {
              position: absolute;
              left: 0;
              top: calc(100% - 1px);
              width: 100%;
              background-color: $white;
              box-shadow: 0 5px 3px rgba($black, 0.3);
              z-index: 3;
            }

            &::after {
              content: '\f106';
            }
          }

          &:after {
            content: '\f107';
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            font-size: 0.8rem;
            flex: 1;
          }
        }
      }

      .filter-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        button,
        .button {
          background: darken($medium-gray, 3%);
          color: $black;
          padding: 0;
          border-radius: 1.4rem;
          white-space: nowrap;
          overflow: hidden;
          transition: background ease-out 0.25s;

          i,
          .fa-stack {
            display: inline-block;
            margin: 0;
            height: 2.8rem;
            width: 2.8rem;
            line-height: 2.8rem;

            .fa-stack-2x {
              font-size: 1.4rem;
            }

            .fa-stack-1x {
              font-size: 0.6rem;
              top: -3px;
              color: var(--primary-color);
            }
          }

          &:hover {
            background: darken($medium-gray, 7%);
          }

          &:last-child {
            margin-right: 0;
          }

          &#reset-filter i {
            color: $alert-color;
          }
        }
      }

      button,
      .button {
        font-size: 0.9rem;
        margin: 0 0.5rem 0 0;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1rem;
        height: 2.8rem;

        i {
          transition: $global-transition;
          font-size: 1.1rem;
          line-height: 1.2;
          margin-right: 0.5rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .filterbuttons-right {
      display: inline-block;

      .dropdown-menu-item {
        padding: 0.75rem 1rem;
        display: inline-flex;
        align-items: center;
        color: $dark-gray;
        line-height: 1.3;
        text-align: left;
        cursor: pointer;
        border-radius: $global-radius;
        gap: 0.3rem;

        .search-history-short-link,
        .search-favorites-short-link {
          color: inherit;
          order: 2;

          &:hover {
            color: $primary-color;
          }

          i {
            font-size: 0.9rem;
            margin-top: 0.3rem;
          }
        }

        &.search-favorites-short {
          >ul li {
            gap: 1rem;

            &.search-favorites-list-input {
              background: transparent;
              position: relative;

              &::before {
                content: '\f002';
                font-family: FontAwesome;
                font-size: 1rem;
                line-height: 1rem;
                display: flex;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                height: 100%;
                align-items: center;
                justify-content: center;
                width: 2.5rem;
              }

              #search-favorites-fulltext-filter {
                margin: 0;
                font-size: 0.9rem;
                line-height: 0.9rem;
                padding-left: 2.5rem;
              }
            }

            &.search-favorites-list-li {
              background: transparent;

              .search-favorites-list {
                flex: auto;
                display: flex;
                flex-flow: column;
                gap: 0.4rem;
                overflow: hidden;

                &.list-loading {
                  cursor: wait;

                  >* {
                    transition: $opacity-transition;
                    opacity: 0.1;
                    pointer-events: none;
                  }
                }
              }
            }

            a:not(.button) {
              gap: 1rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              .title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .slug {
              display: inline;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .buttons {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              z-index: 1;

              a {
                position: relative;
                padding: 0.2rem;
                display: flex;
                gap: 0.3rem;

                >* {
                  display: flex;
                  align-items: center;
                }
              }

              .preview-widget-list {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0.2rem;
              }
            }
          }
        }

        &.search-history-short>ul li {

          .stored-date,
          .api-restrictions {
            color: $dark-gray;
            min-width: 10rem;
            flex: 0;

            i.fa {
              font-size: 0.9rem;
            }
          }
        }

        &.search-favorites-short>ul li .stored-date,
        &.search-favorites-short>ul li .api-restrictions {
          color: $dark-gray;
          white-space: nowrap;
          padding: 0.2rem 0.5rem;
        }

        >ul {
          display: none;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: stretch;
          overflow-y: auto;
          background: $light-gray;
          padding: 0.4rem;
          border-radius: $global-radius;
          gap: 0.4rem;

          &.remote-render,
          &.remote-rendering {
            &::before {
              background: transparent;
              box-shadow: none;
            }
          }

          li {
            border-radius: $global-radius;
            background: $white;
            position: relative;
            display: flex;
            overflow: hidden;
            width: 100%;

            a:not(.button) {
              color: $dark-gray;
              padding: 1rem;
              display: flex;
              height: 100%;
              width: 100%;
              transition: background-color ease-out 0.25s, color ease-out 0.25s;

              span {
                transition: background-color ease-out 0.25s, color ease-out 0.25s;

                &.title {
                  font-weight: 600;
                }

                &.content-title-api {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid black;
                  color: $black;
                  line-height: 1.2;
                  font-weight: 600;
                  padding: 2px 4px;
                  border-radius: $global-radius;
                  min-width: 2.2rem;
                  width: 2.2rem;
                }

                &.global {
                  font-weight: bold;
                }
              }

              &:hover,
              &:focus {
                span.title {
                  color: $black;
                }

                color: $black;
              }

              span {
                &.title {
                  color: $black;
                }

                &.right {
                  float: right;
                }

                &.stored-filter-params {
                  font-size: 0.8rem;
                  color: $dark-gray;
                  display: flex;
                  flex-flow: row wrap;
                  gap: 0.5rem;
                  flex: auto;
                  min-width: 1rem;

                  .tag-group {
                    color: var(--black);
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    border-radius: $global-radius;
                    padding: 2px 4px;
                    background-color: lighten($dark-gray, 32%);
                    box-shadow: 0 0 0 1px lighten($dark-gray, 12%);
                    max-width: 100%;

                    .tag {
                      font-style: normal;
                      padding: 0 0.3rem;
                      line-height: 1.2rem;
                      border-radius: $global-radius;
                    }

                    &.e,
                    &.u,
                    &.b {
                      background-color: lighten($alert-color, 41%);
                      box-shadow: 0 0 0 1px lighten($alert-color, 20%);

                      .tag {
                        position: relative;

                        &::after {
                          content: '';
                          display: block;
                          position: absolute;
                          top: 50%;
                          left: 0;
                          border-bottom: 1px solid;
                          width: calc(100% - 0.4rem);
                          margin: 0 0.2rem;
                        }
                      }
                    }

                    &.i,
                    &.s,
                    &.p {
                      background-color: lighten($success-color, 36%);
                      box-shadow: 0 0 0 1px lighten($success-color, 3%);
                    }

                    &.user-force-filter {
                      background-color: lighten($dark-gray, 32%);
                      box-shadow: 0 0 0 1px lighten($dark-gray, 12%);
                    }

                    &.language {
                      background-color: lighten($primary-color, 55%);
                      box-shadow: 0 0 0 1px lighten($primary-color, 25%);

                      .tag {
                        background-color: lighten($primary-color, 2%);
                      }
                    }
                  }
                }
              }
            }

            a.button {
              margin: 1rem;
            }
          }

          >li:last-child {
            justify-content: flex-end;
            background: transparent;
          }
        }

        >span,
        >i {
          flex: 1;
          white-space: nowrap;
          padding-right: 5px;
        }

        >i {
          line-height: inherit;
        }

        &.active {
          background-color: darken($white, 2%);
          box-shadow: 0 5px 3px rgba($black, 0.3);
          color: $black;
          border-radius: $global-radius $global-radius 0 0;

          &.search-favorites-short>ul {
            border-radius: $global-radius 0 $global-radius $global-radius;
          }

          >ul {
            display: flex !important;
            position: absolute;
            left: 0;
            top: calc(100% - 1px);
            width: 100%;
            background-color: darken($white, 2%);
            box-shadow: 0 5px 3px rgba($black, 0.3);
            z-index: 3;
          }

          &::after {
            content: '\f106';
          }
        }

        &::after {
          content: '\f107';
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          font-size: 0.8rem;
          flex: 1;
          order: 1;
          padding-right: 0.3rem;
        }
      }
    }

    clear: both;
    text-align: right;
    font-size: 0.9rem;
    line-height: 1rem;
    color: $black;
    margin-top: 1rem;
  }

  .accordion {
    background: initial;
    margin: 1rem 0;

    .filters {
      padding: 0;
    }

    >.accordion-item.is-active>.accordion-title {
      margin-top: 1rem;

      >span {
        >i::before {
          content: '\f077';
        }
      }
    }

    .accordion-title {
      font-size: 1rem;
      text-align: center;
      color: $dark-gray;
      padding: 0;
      transition: $color-transition;
      display: block;
      border: none !important;
      background: transparent;
      margin: 0;

      &:hover {
        color: $body-font-color;
      }

      span {
        z-index: 1;
        position: relative;
        padding: 0;
        display: inline-block;
        height: 1.5rem;
        width: 3rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        box-shadow: 0 2px 3px lighten($dark-gray, 20%);
        font-size: 1rem;
        background: $light-gray;
      }

      &::before {
        position: absolute;
        content: '';
        height: 1px;
        border-bottom: 1px solid $medium-gray;
        right: 0;
        left: 0;
        top: 0.5rem;
      }
    }
  }
}

.tag-group-label {
  color: $black;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  min-width: fit-content;
  overflow: hidden;

  .fa {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }

  span:not(.icon) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.detail-header-wrapper .filters {
  box-shadow: none;
}

.column-padding {
  padding-left: rem-calc(15);
  padding-right: rem-calc(15);
}

#search-results ul.list {
  li.list-item {
    >.inner-item>.draggable-handle>.fa {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.saving-order {
      >.inner-item>.draggable-handle {
        pointer-events: none;

        >.fa::before {
          font-size: 0.9rem;
          content: '\f110';
          animation: fa-spin 2s infinite linear;
        }
      }
    }
  }
}

#search-form .mode-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 1rem;

  .collection-manual-order-container {
    display: flex;
    position: relative;
    border: 1px solid $light-gray;
    border-radius: $global-radius;
    overflow: hidden;

    .manual-order-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0 0.4rem 0 0.7rem;
      color: $dark-gray;
      transition: $global-transition;

      .fa,
      .fa-stack {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        position: relative;
      }

      .fa.fa-arrows-v {
        width: 1rem;
      }

      .fa.fa-list-ul {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        color: $primary-color;
      }
    }

    &.active {
      border-color: $primary-color;
      background: $primary-color;

      .manual-order-button {
        color: $white;
      }
    }

    &.disabled {
      cursor: not-allowed;

      .manual-order-button {
        color: $dark-gray;
        pointer-events: none;
      }
    }
  }

  .mode-switcher {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0.6rem;
    border: 1px solid $light-gray;
    border-radius: $global-radius;

    #tree-view-selector::before {
      left: unset;
      right: 28px;
    }

    .fa {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    >i,
    >span[data-toggle],
    >a {
      height: 1.5rem;
      padding: 0 0.2rem;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }

    >i,
    a.selected {
      color: $black;
      text-shadow: 1px 1px 1px #ccc;
    }

    >a,
    >span[data-toggle]:not(.selected) {
      color: lighten($dark-gray, 20%);
      transition: $color-transition;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }
  }

  @keyframes progress-bar {
    0% {
      left: -50%;
    }

    100% {
      left: 100%;
    }
  }

  .result-count {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.6rem;
    margin-right: auto;
    border: 1px solid $light-gray;
    min-width: 6rem;
    border-radius: $global-radius;
    width: unset;
    position: relative;
    overflow: hidden;

    &.loading {
      justify-content: flex-start;
      position: relative;
      overflow: hidden;
      min-height: 2.7rem;
      cursor: wait;

      &::before,
      &::after {
        content: '';
        width: 100%;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        border-radius: $global-radius;
        z-index: 1;
        position: absolute;
        width: auto;
        margin: 0.6rem;
      }

      &::before {
        height: 1.5rem;
        background-color: rgba(lighten($light-gray, 4%), 0.9);
        box-shadow: 0 0 0 1px $light-gray inset;
      }

      &::after {
        height: 1.5rem;
        right: unset;
        width: 100%;
        background: linear-gradient(to right, rgba(white, 0) 0%, rgba(white, 0.5) 25%, rgba(white, 0) 50%);
        animation: progress-bar 1s linear infinite forwards;
      }

      >* {
        opacity: 0.1;
        pointer-events: none;
      }
    }

    b {
      margin-right: 0.3rem;
    }

    >*:not(:last-child) {
      margin-right: 0.3rem;
    }
  }
}

.classification-tree-filter.filter {
  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
    gap: 0.5rem;

    li {
      margin: 0;

      &:last-child {
        margin-right: 0;
      }

      label {
        display: block;
        padding: 0.5rem 0.8rem;
        transition: $global-transition;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin: 0;
        font-size: 1rem;
        border: 1px solid var(--classification-color, var(--primary-color));
        color: var(--classification-color, var(--primary-color));
        border-radius: $global-radius;

        .title {
          display: flex;
          align-items: flex-end;

          .icon {
            margin-right: 0.3rem;
          }
        }
      }

      input {
        display: none;
      }

      /* :: CHECKED :: */
      input:checked~label {
        background-color: var(--classification-color, var(--primary-color));
        color: $white;
        border-color: var(--classification-color, var(--primary-color));

        strong {
          color: $white;
        }
      }
    }
  }
}

.clickable-menu {
  margin: 0;

  >li.active {

    >div,
    >ul,
    >div>ul {
      display: block !important;
    }
  }

  >li {
    transition: background 0.25s ease-out;

    &:hover {
      background: lighten($light-gray, 5%);
    }

    &.active {
      background: $white;
      box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

.filter-sortable {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;

  >select {
    font-size: 0.9rem;
    margin: 0;
    height: 100%;
    border: 1px solid $light-gray;
    border-radius: $global-radius 0 0 $global-radius;
  }

  .filter-sortable-checkbox-wrapper {
    border: 1px solid $light-gray;
    border-radius: 0 $global-radius $global-radius 0;
    border-left: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      display: none;
    }

    label {
      display: flex;
      flex-flow: column nowrap;
      margin: 0;
      padding: 0 1rem;
      height: 100%;
      align-items: center;
      justify-content: center;

      .fa {
        font-size: 1.5rem;

        &.sort-asc {
          color: $light-gray;
          height: 1.5rem;
          line-height: 1.5rem;
          margin-bottom: -0.75rem;
        }

        &.sort-desc {
          color: $black;
          height: 1.5rem;
          line-height: 1.5rem;
          margin-top: -0.75rem;
        }
      }
    }

    input:checked+label {
      .fa {
        &.sort-asc {
          color: $black;
        }

        &.sort-desc {
          color: $light-gray;
        }
      }
    }

    input:disabled+label {
      cursor: not-allowed;

      .fa {
        &.sort-asc {
          color: $light-gray;
        }

        &.sort-desc {
          color: $light-gray;
        }
      }
    }
  }
}
