.search-results {
  .geographic {
    height: 800px;

    .geographic-map {
      height: 100%;

      .loading-overlay,
      .scroll-overlay {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $white;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        background-color: rgba(black, 0.4);
      }

      .additional-feature-popup {
        pointer-events: none;
        font-size: 0.9rem;

        * {
          pointer-events: none;
        }
      }
    }
  }
}

.mapboxgl-ctrl-group {
  .dc-map-control-button {
    position: relative;
    color: var(--black);
    background-color: var(--white);

    &.mapbox-gl-draw_line_auto::before {
      font-family: 'FontAwesome';
      content: '\f1b9';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.mapbox-gl-draw_line_bicycle::before {
      font-family: 'FontAwesome';
      content: '\f206';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.mapbox-gl-draw_line_pedestrian::before {
      font-family: 'FontAwesome';
      content: '\f183';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      color: var(--black);
      background-color: var(--dark-gray);
    }
  }
}
