.gravity-icon {
  position: absolute;
  color: var(--white);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  i {
    font-size: 4rem;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6)) drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.6));
  }

  &[data-hide] {
    opacity: 0;
  }

  &[data-pale] {
    opacity: 0.6;
  }
}

.gravity-icon--active {
  color: var(--light-green);
}

.gravity-control {
  overflow: hidden;
  position: relative;
}

.gravity-preview-box {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.image-container .thumb {
  width: fit-content;
  margin: 0 auto;
  position: relative;

  &.editing {
    a.link-to-image {
      cursor: default;
      pointer-events: none;
    }
  }
}

.gravity-editor-hint {
  color: var(--dark-gray);
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
