.form-element.linked {

  &[readonly],
  &[data-readonly='true'],
  &[disabled],
  &.disabled {
    .linked-editor-header {
      cursor: not-allowed !important;
      background: lighten($light-gray, 5%) !important;
    }
  }

  .linked-editor-header {
    display: flex;
    align-items: center;
    z-index: 12;
    background: $white;
    border-radius: $global-radius;

    .attribute-edit-label {
      position: relative;
      top: unset;
      left: unset;
      padding: 0.7rem 1rem;
      flex: auto;
      transition: $color-transition;
    }

    .show-objectbrowser {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 0.3rem 0.5rem;
      height: 2rem;
      width: 2rem;
      margin: 0 0.5rem;
    }
  }
}

a.show-sidebar-details {
  display: none !important;
}

.object-browser-overlay>ul.items a.show-sidebar-details {
  display: inherit !important;
}

.reveal {
  img {
    max-width: 90vw;
    max-height: 90vh;
    min-height: 5rem;
    min-width: 5rem;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.media-thumbs .object-thumbs,
.object-browser-overlay .items {
  .media {
    &.thumbnail {
      position: relative;
      width: 100%;
      height: 170px;
      padding: 5px 0;
      cursor: pointer;
      text-align: right;
      border: 0;

      .draggable-handle {
        margin-left: 5px;
      }

      &:focus,
      &:hover {
        .description {
          opacity: 1;
        }
      }

      .description {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        height: 100%;
        line-height: 1rem;
        font-size: 0.8rem;
        color: $body-font-color;
        overflow: hidden;
        padding: 0.5rem;
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $opacity-transition;
        box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
      }
    }
  }
}
