.form-element.object {
  > .content-object-item {
    > .embedded-header {
      display: block;
      margin-bottom: 1rem;

      label {
        position: relative;
        top: 0;
        left: 0;
        padding-top: 0;
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }
    }
  }
}
