// offcanvas
#settings-off-canvas {
  padding-top: calc(4.1rem + 5px);
  max-height: 100vh;

  .settings-row {
    padding: 1.5rem;
    color: $black;
    border-bottom: 1px solid $medium-gray;
    display: flex;
    flex-flow: column;
    gap: 0.75rem;

    &:first-child {
      padding-top: 1.5rem;
    }

    .show-user-link {
      overflow: hidden;
    }

    .user-details-row {

      >.show-user-link,
      >.user-title {
        flex: auto;
      }
    }

    .user-settings-link,
    .logout-link {
      .icon {
        padding: 0 0.3rem;
        width: auto;

        .fa {
          margin: 0;
        }
      }
    }

    .copy-to-clipboard {
      font-size: 0.9rem;
    }

    .terms-and-conditions-link a {
      overflow: hidden;
    }

    :not(.user-details-row) a {
      flex: auto;
    }

    a {
      color: $black;
      outline-width: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 0.5rem;
      transition: $color-transition;

      &:hover {
        color: #000;
      }

      &.delete-user-link:hover {
        color: var(--alert-color);
      }
    }

    a~a {
      padding: 0 0.2rem;
      flex: 0;
    }

    >div {
      display: flex;
      position: relative;
      flex-flow: row nowrap;
      align-items: center;
      padding: 0;
      gap: 0.3rem;

      &.access-token {
        white-space: nowrap;
      }
    }

    span {
      &.icon {
        width: 1.5rem;
        min-width: 1.5rem;
        flex: 0;
        flex-basis: auto;
        text-align: center;
      }

      &.title {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: auto;
      }
    }

    .heading {
      font-weight: bold;
    }

    .inner-content {
      font-size: 1.1rem;

      .more {
        text-align: center;

        i {
          font-size: 1.5rem;
          display: inline-block;
        }
      }
    }
  }

  .named-stored-filters {
    li {
      position: relative;
      padding-right: 1rem;

      .stored-filter-link {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        line-height: 1.4rem;

        i {
          color: $primary-color;
        }
      }

      &.more-link {
        padding-left: 2.3rem;
        font-size: 1.5rem;
        line-height: 1rem;

        a {
          color: $primary-color;
        }
      }

      .buttons {
        position: absolute;
        right: 0;

        .alert {
          color: map-get($foundation-palette, alert);
        }
      }
    }
  }
}

#settings-off-canvas.is-open {
  box-shadow: 0px 0 20px 0px rgba($black, 0.25);
}
