.password-field {
  input {
    padding-right: 2rem;
  }

  .password-visibility-toggle {
    position: absolute;
    top: 0;
    width: 2.5rem;
    line-height: 2rem;
    right: 0.9375rem;
    height: 2.4375rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.1s ease-in;
    text-shadow: none;
    color: $black;
    opacity: 0;

    &::before {
      font-family: 'FontAwesome';
      content: '\f06e';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &.password-visible::before {
      content: '\f070';
    }
  }

  &.form-element .password-visibility-toggle {
    top: unset;
    right: 1rem;
    bottom: 0.8rem;
  }

  &.has-value {
    .password-visibility-toggle {
      opacity: 1;
    }
  }
}

.reveal .password-field.form-element .password-visibility-toggle {
  right: 0;
  bottom: 0;
}
