.v-select {
  position: relative;
  font-family: sans-serif;
}

.v-select,
.v-select * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Open Indicator */

.v-select .open-indicator {
  position: absolute;
  bottom: 6px;
  right: 10px;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  transition: all 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  opacity: 1;
  transition: opacity 0.1s;
  height: 20px;
  width: 10px;
}

.v-select .open-indicator:before {
  border-color: rgba(60, 60, 60, 0.5);
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: top;
  transform: rotate(133deg);
  transition: all 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  box-sizing: inherit;
}

/* Open Indicator States */

.v-select.open .open-indicator:before {
  transform: rotate(315deg);
}

.v-select.loading .open-indicator {
  opacity: 0;
}

.v-select.open .open-indicator {
  bottom: 1px;
}

/* Dropdown Toggle */

.v-select .dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  padding: 0;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  white-space: normal;
  transition: border-radius 0.25s;
}

.v-select .dropdown-toggle:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

/* Dropdown Toggle States */

.v-select.searchable .dropdown-toggle {
  cursor: text;
}

.v-select.unsearchable .dropdown-toggle {
  cursor: pointer;
}

.v-select.open .dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Dropdown Menu */

.v-select .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border-top: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}

.v-select .no-options {
  text-align: center;
}

/* Selected Tags */

.v-select .selected-tag {
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 26px;
  margin: 4px 1px 0px 3px;
  padding: 1px 0.25em;
  float: left;
  line-height: 24px;
}

.v-select .selected-tag .close {
  float: none;
  margin-right: 0;
  font-size: 20px;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

/* Search Input */

.v-select input[type='search']::-webkit-search-decoration,
.v-select input[type='search']::-webkit-search-cancel-button,
.v-select input[type='search']::-webkit-search-results-button,
.v-select input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.v-select input[type='search']::-ms-clear {
  display: none;
}

.v-select input[type='search'],
.v-select input[type='search']:focus {
  line-height: 1.42857143;
  font-size: 1em;
  height: 34px;
  display: inline-block;
  margin: 0;
  padding: 0 0.5em;
  max-width: 100%;
  box-shadow: none;
  background: white;
  position: relative;
  clear: none;
}

/* Search Input States */

.v-select.unsearchable input[type='search'] {
  max-width: 1px;
}

/* List Items */

.v-select li {
  line-height: 1.42857143;
  /* Normalize line height */
}

.v-select li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  /* Overrides most CSS frameworks */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-select li:hover {
  cursor: pointer;
}

.v-select .dropdown-menu .active > a {
  color: #333;
  background: rgba(50, 50, 50, 0.1);
}

.v-select .dropdown-menu > .highlight > a {
  /*
     * required to override bootstrap 3's
     * .dropdown-menu > li > a:hover {} styles
     */
  background: #5897fb;
  color: #fff;
}

.v-select .highlight:not(:last-child) {
  margin-bottom: 0;
  /* Fixes Bulma Margin */
}

/* Loading Spinner */

.v-select .spinner {
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 0.9em solid rgba(100, 100, 100, 0.1);
  border-right: 0.9em solid rgba(100, 100, 100, 0.1);
  border-bottom: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left: 0.9em solid rgba(60, 60, 60, 0.45);
  transform: translateZ(0);
  animation: vSelectSpinner 1.1s infinite linear;
  transition: opacity 0.1s;
}

.v-select .spinner,
.v-select .spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

/* Loading Spinner States */

.v-select.loading .spinner {
  opacity: 1;
}

/* KeyFrames */

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Dropdown Default Transition */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.v-select li.level-1 a {
  padding-left: 2rem;
}

.v-select li.level-2 a {
  padding-left: 3rem;
}

.v-select li.level-3 a {
  padding-left: 4rem;
}

.v-select li.level-4 a {
  padding-left: 5rem;
}

.v-select li.level-5 a {
  padding-left: 6rem;
}

.v-select li.level-6 a {
  padding-left: 7rem;
}

.v-select li.level-7 a {
  padding-left: 8rem;
}

.v-select li.level-8 a {
  padding-left: 9rem;
}
