.detail-header {
  .destroy {
    a {
      span {
        display: none;
      }
    }
  }
}

.remove-from-watchlist-link,
.dropdown-pane .remove-from-watchlist-link {
  color: $alert-color !important;

  &:hover,
  &:focus {
    color: lighten($alert-color, 10%) !important;
  }
}

.dropdown-pane .watchlist-name .add-to-watchlist-link {
  color: $black;
}

.watch-list-dropdown {
  position: relative;
  display: inline-block;
}

.detail-header-functions {

  .add-to-watchlist-link {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
  }
}

.detail-header-functions .change-link .add-to-watchlist-link,
.detail-header-functions .remove-from-watchlist-link,
.change-link .add-to-watchlist-link,
.remove-from-watchlist-link {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;

  .fa {
    font-size: 1rem;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
  }
}

#main-menu {

  .watch-lists,
  .abos {
    background: $white;

    a {
      color: $black;
    }

    li {
      display: block;

      .watch-list-item {
        a {
          color: $black;
          padding: 0;
          line-height: 1.4rem;
          display: flex;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 0.9rem;
        }
      }
    }

    .add-watchlist-to-menu {
      input {
        max-width: 100%;
      }
    }
  }

  .watchlist-menu-icon {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;

    .fa {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      margin: 0;

      &.fa-stack-2x {
        font-size: 1.3rem;
      }

      &.fa-stack-1x {
        font-size: 0.6rem;
        top: -2px;
      }
    }
  }

  .watch-lists .accordion>.accordion-item>.accordion-title::before {
    color: $black;
  }

  .menu>li {
    position: relative;
  }
}

.watch-lists {
  .fa:not(.fa-spinner) {
    font-size: 1rem;
  }

  .accordion {
    >.accordion-item {
      padding: 0.2rem 0;

      >.accordion-title,
      >.accordion-content {
        font-size: 0.9rem;
        border: none;
        padding: 0 0 0 1.2rem;
        line-height: 1.4rem;
      }

      >.accordion-title {
        display: block;
        padding: 0 0 0.2rem 1.2rem;
        color: $black;

        &:hover,
        &:focus {
          background-color: transparent;
        }

        &::before {
          left: 0;
          font-family: 'FontAwesome';
          content: '\f07b';
          display: block;
          text-align: left;
          right: auto;
          margin: 0;
          top: 1px;
          color: $light-gray;
        }
      }

      >.accordion-content {
        >li:not(.collection-group-item) {
          padding: 0.2rem 0;
        }
      }

      &.is-active {
        >.accordion-title {
          background: none;

          &::before {
            content: '\f07c';
          }
        }
      }

      &.has-selected-collections {
        >.accordion-title::before {
          color: $primary-color;
        }

        &.is-active {
          >.accordion-title::before {
            color: $primary-color;
          }
        }
      }
    }
  }

  >ul {
    margin: 0;
    text-align: left;

    li {
      background: none;
      border-radius: 0;

      &.my-selection {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid $light-gray;
      }

      &.collection-group-item {
        padding: 0;
      }

      .watch-list-item {
        width: 100%;
        display: flex;
        position: relative;
        line-height: 1.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;

        &.private {
          font-weight: 600;
        }

        &.shared {
          font-style: italic;
        }

        .watchlist-name {
          flex: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          gap: 0.3rem;

          >a {
            flex: auto;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .fa {
            font-size: 0.9rem;
          }

          .watchlist-link {
            display: flex;
            align-items: center;
            gap: 0.3rem;
          }

          .add-to-watchlist-link {
            display: inline-flex;
            align-items: center;
            gap: 0.3rem;
          }
        }

        .check {
          color: $light-gray;

          &.checked {
            color: map-get($foundation-palette, primary);
          }
        }

        .change-link {
          display: flex;
          align-items: center;

          >*:not(:last-child) {
            margin-right: 0.3rem;
          }
        }

        .button-prime {
          margin: 0;
          background: transparent !important;
          box-shadow: none;
          padding: 0;
          width: auto;
          height: auto;
          border-radius: 0;

          .fa {
            color: $primary-color;
            line-height: 1rem;
          }

          &:hover,
          &:focus {
            background: transparent;
            box-shadow: none;

            .fa {
              color: lighten($primary-color, 10%);
            }
          }

          &.alert {
            .fa {
              color: $alert-color;
            }

            &:hover,
            &:focus {
              .fa {
                color: lighten($alert-color, 10%);
              }
            }
          }

          &.content-locked {
            opacity: 0.8;

            .pie-text,
            .pie-timer {
              display: none;
            }

            .fa {
              color: $warning-color;
            }
          }
        }

        >*:not(:last-child) {
          margin-right: 0.3rem;
        }
      }
    }
  }

  .add-watchlist,
  .add-watchlist-to-menu {
    position: relative;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid $medium-gray;

    label {
      display: none;
    }

    input {
      background: none;
      box-shadow: inset 0 1px 2px rgba($black, 0.1);
      border: 1px solid $light-gray;
      padding-right: 2.5rem;
      height: 2.2rem;
      margin: 0;

      &:focus {
        border-color: $primary-color;
      }

      &::placeholder {
        color: $dark-gray;
      }
    }

    form {
      [type='submit'] {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.4rem 0.6rem;
        margin: 0;
        line-height: 1.4rem;
        border: none;
        z-index: 2;
        width: 2.5rem;
      }

      button[type='submit'].button {
        height: 100%;
        border-radius: 0 $global-radius $global-radius 0;

        i {
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
    }
  }

  .watch-lists-filter {
    margin: 0 0 1rem 0;

    .watch-list-filter-param {
      margin: 0;
      padding-right: 2.5rem;
      height: 2.2rem;
      background: none;
      border: none;
      border-bottom: 1px solid $light-gray;
      box-shadow: none;

      &:focus {
        border-color: $dark-gray;
      }

      &::placeholder {
        color: $dark-gray;
      }
    }

    .reset-watch-list-filter {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0.5rem;
      display: none;
      outline: none;
      height: 100%;
      width: 2.5rem;
      line-height: 1rem;
      color: $dark-gray;
      background: none;
      box-shadow: none;

      &:hover {
        color: $black;
      }

      .fa {
        line-height: 1rem;
        font-size: 1rem;
      }
    }
  }
}

.description.watchlist {
  .fa {
    margin-right: 0.5rem;
  }
}

.watch-lists-link {
  position: relative;

  .my-collection-star-icon {
    font-size: 0.5rem;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1px;
    color: $white;
  }
}
