.stored-searches-list {
  margin: 1rem 0;

  i {
    &.round {
      color: $black;
      background-color: $medium-gray;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
      text-align: center;
      line-height: 2rem;
      font-size: 0.8rem;
      vertical-align: middle;
      margin-left: 0.5rem;
    }
  }

  .title {
    margin: 1rem 0 3rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:before {
      position: absolute;
      content: '';
      height: 1px;
      border-bottom: 1px solid $medium-gray;
      right: 0;
      left: 0;
      top: 50%;
    }

    .fulltext-search {
      position: relative;
      margin: 0 1rem;
      padding: 0 1rem;
      background: $white;

      .fulltext-search-form {
        input {
          margin: 0;
          border-radius: $global-radius;

          &.fulltext-search-field {
            padding: 0 2.5rem;
            font-size: 0.9rem;
            height: 2rem;
          }
        }

        .fulltext-search-submit,
        .fulltext-search-reset {
          position: absolute;
          left: 1rem;
          top: 0;
          height: 100%;
          padding: 0;
          width: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $dark-gray;
          transition: $color-transition;

          &:hover {
            color: $black;
          }
        }

        .fulltext-search-reset {
          left: unset;
          right: 1rem;
          color: $light-gray;
        }
      }
    }

    >span {
      position: relative;
      background-color: $white;
      padding: 0 1rem;
      margin: 0 1rem;

      &.title-text {
        margin-right: auto;
        font-size: 1.2rem;
        font-weight: 300;
      }

      &.pages {
        color: $dark-gray;
        display: flex;
        align-items: center;

        .pages-count {
          .loading {
            padding: 0;
            width: 1rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.1rem;

            .fa {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

  ul {
    li {
      position: relative;

      &.load-more-link {
        display: flex;
        align-items: center;
        justify-content: center;

        .stored-searches-load-more-button,
        .stored-searches-load-all-button {
          margin: 1rem 0.5rem;
        }
      }

      .alert {
        color: map-get($foundation-palette, alert);
      }

      &.content-item {
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        gap: 0.5rem;
        padding: 0.8rem 1rem;
        background-color: $white;
        border-bottom: 1px solid $medium-gray;
        border-radius: $global-radius;

        .content-title,
        .content-title-api {
          &.global {
            font-weight: bold;
          }
        }

        &:before {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
          box-shadow: 0 1px 3px $dark-gray;
          border-radius: $global-radius;
        }

        a {
          color: $black;
        }

        ul.buttons {
          max-width: inherit;
          text-align: right;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 0.5rem;
          justify-content: center;
          border-radius: $global-radius;
          background: $white;
          white-space: nowrap;

          >li>a {
            padding: 0 0.1rem;
          }

          .dropdown-pane.preview-widget-pane {
            top: calc(100% + 0.5rem) !important;

            &:before {
              content: '';
            }
          }
        }

        span {
          &.content-title {
            i {
              margin-right: 0.5rem;
            }
          }

          &.content-date,
          &.stored-filter-creator {
            font-size: 0.9rem;
            color: $dark-gray;

            i {
              font-size: 0.9rem;
              margin: 0;
            }

            a {
              color: $dark-gray;
            }
          }

          &.content-attributes {
            font-size: 0.8rem;
            color: $dark-gray;
            display: flex;
            flex-flow: column;
            gap: 0.5rem;
            flex: auto;
            align-items: flex-start;
            min-width: 1rem;

            .stored-search-title {
              font-size: 0.9rem;
              color: $dark-gray;
              font-weight: 600;

              .fa {
                font-size: 1rem;
              }

              &.global {
                font-weight: bold;
              }
            }

            i {
              font-size: 0.8rem;
              margin-right: 0.1rem;
            }

            .tag-group {
              color: var(--black);
              display: flex;
              align-items: center;
              gap: 0.3rem;
              border-radius: $global-radius;
              padding: 2px 4px;
              background-color: lighten($dark-gray, 32%);
              box-shadow: 0 0 0 1px lighten($dark-gray, 12%);
              max-width: 100%;

              .tag {
                font-style: normal;
                padding: 0 0.3rem;
                line-height: 1.2rem;
                border-radius: $global-radius;
              }

              &.e,
              &.u,
              &.b {
                background-color: lighten($alert-color, 41%);
                box-shadow: 0 0 0 1px lighten($alert-color, 20%);

                .tag {
                  position: relative;

                  &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    border-bottom: 1px solid;
                    width: calc(100% - 0.4rem);
                    margin: 0 0.2rem;
                  }
                }
              }

              &.i,
              &.s,
              &.p {
                background-color: lighten($success-color, 36%);
                box-shadow: 0 0 0 1px lighten($success-color, 3%);
              }

              &.user-force-filter {
                background-color: lighten($dark-gray, 32%);
                box-shadow: 0 0 0 1px lighten($dark-gray, 12%);
              }

              &.language {
                background-color: lighten($primary-color, 55%);
                box-shadow: 0 0 0 1px lighten($primary-color, 25%);

                .tag {
                  background-color: lighten($primary-color, 2%);
                }
              }
            }
          }
        }
      }
    }
  }

  .saved-searches {
    .content-title-line {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;

      .content-title {
        font-weight: 600;
        font-size: 0.9rem;
        color: $dark-gray;
        overflow: hidden;
        text-overflow: ellipsis;

        .fa {
          font-size: 1rem;
        }
      }

      .content-title-api {
        min-width: 2.3rem;
        width: 2.3rem;
      }

      .slug {
        display: inline;
        font-size: 0.9rem;
        color: var(--dark-gray);
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .stored-filter-date-container {
        flex: auto;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .content-attributes-line {
      display: flex;
      align-items: flex-start;
      gap: 0.75rem;
      width: calc(100% - 1.5rem);
      margin-left: 1.5rem;
    }
  }

  .search-history-list {
    ul {
      .stored-search-day {
        margin: 2rem 0 0.5rem 1rem;
      }
    }

    ul li.content-item {
      padding: 0.8rem 1rem;
      flex-flow: row nowrap;

      span {
        &.content-title {
          font-size: 0.9rem;
          color: $dark-gray;
          min-width: 5rem;

          a {
            color: $dark-gray;

            &[data-dc-tooltip] {
              color: $black;
            }
          }

          i {
            font-size: 0.9rem;
          }
        }

        &.content-attributes {
          color: $black;
        }
      }
    }
  }
}

.update-search-form {
  overflow-y: visible;

  .stored-filter-creator {
    color: rgba($black, 0.5);
  }

  .select2-results__option.select2-results__option--highlighted {
    .stored-filter-creator {
      color: rgba($white, 0.5);
    }
  }

  fieldset {
    padding: 0 1rem 1rem 1rem;
    border: 1px solid $medium-gray;
    margin-bottom: 1rem;
    border-radius: $global-radius;

    &.accordion-item {
      padding: 0;
      margin-top: 1.5rem;

      .accordion-title {
        padding: 0 1.5rem 0 0.5rem;
        font-size: 1rem;
        color: var(--black);
        font-weight: 600;
        height: 2rem;
        margin-top: -1rem;
        display: flex;
        align-items: center;
        background: var(--white);
        width: fit-content;
        border: none;
        margin-left: 0.5rem;

        &::before {
          right: 0.5rem;
          content: '\f107';
          font-family: FontAwesome;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.is-active {
        .accordion-title {
          &::before {
            content: '\f106';
          }
        }
      }

      &:not(.is-active) {
        border-color: var(--white);
        border-top: 1px solid $medium-gray;
      }

      .accordion-content {
        padding-top: 0;
      }
    }
  }

  .form-element {
    margin-bottom: 1rem;

    input,
    .v-select.white {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .editor-block {

      label,
      .ql-toolbar {
        padding: 0;
        height: 1.6rem;
      }

      .ql-editor {
        box-shadow: inset 0 1px 2px rgba($black, 0.1);
        border: 1px solid var(--medium-gray);
        padding: 0.45rem 0.5rem 0.25rem;

        &:focus,
        &:focus-within {
          &:not([readonly]):not([data-readonly='true']):not([disabled]):not(.disabled):not(.select2-search__field) {
            border: 1px solid var(--dark-gray);
            box-shadow: 0 0 5px var(--medium-gray);
          }
        }
      }
    }
  }
}

.content-title-api {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  color: $black;
  line-height: 1.2;
  font-weight: 600;
  padding: 2px 4px;
  border-radius: $global-radius;
  min-width: 2.2rem;
  width: 2.2rem;

  &.global {
    font-weight: bold;
  }
}
