.stored-searches-list {
  margin: 1rem 0;

  i {
    &.round {
      color: $black;
      background-color: $medium-gray;
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
      text-align: center;
      line-height: 2rem;
      font-size: 0.8rem;
      vertical-align: middle;
      margin-left: 0.5rem;
    }
  }

  .title {
    margin: 1rem 0 3rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:before {
      position: absolute;
      content: '';
      height: 1px;
      border-bottom: 1px solid $medium-gray;
      right: 0;
      left: 0;
      top: 50%;
    }

    .fulltext-search {
      position: relative;
      margin: 0 1rem;
      padding: 0 1rem;
      background: $white;

      .fulltext-search-form {
        input {
          margin: 0;
          border-radius: $global-radius;

          &.fulltext-search-field {
            padding: 0 2.5rem;
            font-size: 0.9rem;
            height: 2rem;
          }
        }

        .fulltext-search-submit,
        .fulltext-search-reset {
          position: absolute;
          left: 1rem;
          top: 0;
          height: 100%;
          padding: 0;
          width: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $dark-gray;
          transition: color 0.2s ease;

          &:hover {
            color: $black;
          }
        }

        .fulltext-search-reset {
          left: unset;
          right: 1rem;
          color: $light-gray;
        }
      }
    }

    > span {
      position: relative;
      background-color: $white;
      padding: 0 1rem;
      margin: 0 1rem;

      &.title-text {
        margin-right: auto;
        font-size: 1.2rem;
        font-weight: 300;
      }

      &.pages {
        color: lighten($dark-gray, 20%);
        display: flex;
        align-items: center;

        .pages-count {
          .loading {
            padding: 0;
            width: 1rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.1rem;

            .fa {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }

  ul {
    li {
      position: relative;

      &.load-more-link {
        display: flex;
        align-items: center;
        justify-content: center;

        .stored-searches-load-more-button,
        .stored-searches-load-all-button {
          margin: 1rem 0.5rem;
        }
      }

      .alert {
        color: map-get($foundation-palette, alert);
      }

      &.content-item {
        padding: 0.8rem 1rem 0.8rem 1rem;
        background-color: $white;
        border-bottom: 1px solid $medium-gray;
        border-radius: $global-radius;

        .content-title {
          &.global {
            font-weight: bold;
          }
        }

        &:before {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
          box-shadow: 0 1px 3px $dark-gray;
          border-radius: $global-radius;
        }

        a {
          color: $black;
        }

        ul.buttons {
          max-width: inherit;
          text-align: right;
          position: absolute;
          top: 0.2rem;
          right: 0.5rem;
          max-width: inherit;
          text-align: right;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          border-radius: $global-radius;
          background: $white;

          > li:not(:last-of-type) {
            margin-right: 0.5rem;
          }

          > li > a {
            padding: 0 0.1rem;
          }

          .dropdown-pane.preview-widget-pane {
            &:before {
              content: '';
            }
            top: calc(100% + 0.5rem) !important;
          }
        }

        &.saved-search {
          ul.buttons {
            top: 2rem;
          }

          .content-attributes {
            margin-left: 1.5rem;
          }
        }

        span {
          &.content-title {
            margin-right: 0.5rem;

            i {
              margin-right: 0.5rem;
            }
          }

          &.content-date,
          &.stored-filter-creator {
            float: right;
            margin-left: 0.75rem;
            font-size: 0.9rem;
            color: lighten($dark-gray, 10%);

            i {
              font-size: 0.9rem;
              margin: 0;
            }

            a {
              color: lighten($dark-gray, 10%);
            }
          }

          &.content-attributes {
            display: block;
            font-size: 0.8rem;
            margin-top: 0.2rem;
            color: $dark-gray;

            .stored-search-title {
              font-size: 0.9rem;
              color: $dark-gray;
              font-weight: 600;

              .fa {
                font-size: 1rem;
              }

              &.global {
                font-weight: bold;
              }
            }

            i {
              font-size: 0.8rem;
              margin-right: 0.1rem;
            }

            .tag-group {
              color: $dark-gray;
              display: block;
              margin-right: 0.5rem;

              .tag {
                color: $black;
                background-color: lighten($light-gray, 5%);
                font-style: normal;
                padding: 0 0.3rem;
                line-height: 1.2rem;
                border-radius: $global-radius;
                font-weight: normal;
              }

              &.e {
                .tag {
                  position: relative;
                  &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    border-bottom: 1px solid;
                    width: calc(100% - 0.4rem);
                    margin: 0 0.2rem;
                  }
                }
              }

              &.search-term .tag {
                background-color: lighten($primary-color, 50%);
              }
            }
          }
        }
      }
    }
  }

  .saved-searches {
    .content-title {
      font-weight: 600;
      font-size: 0.9rem;
      color: $dark-gray;

      .fa {
        font-size: 1rem;
      }
    }
  }

  .search-history-list {
    ul {
      .stored-search-day {
        margin: 2rem 0 0.5rem 1rem;
      }
    }

    ul li.content-item {
      padding: 0.8rem 3rem 0.8rem 1rem;

      span {
        &.content-title {
          font-size: 0.9rem;
          color: lighten($dark-gray, 10%);

          a {
            color: lighten($dark-gray, 10%);
          }

          i {
            font-size: 0.9rem;
          }
        }

        &.content-attributes {
          color: $black;
        }

        &.content-title,
        &.content-attributes {
          min-width: 8rem;
          display: table-cell;
        }
      }
    }
  }
}

.update-search-form {
  overflow-y: visible;

  .stored-filter-creator {
    color: rgba($black, 0.5);
  }

  .select2-results__option.select2-results__option--highlighted {
    .stored-filter-creator {
      color: rgba($white, 0.5);
    }
  }

  .dynamic-form-parts {
    position: relative;

    &.dynamic-parts-loading {
      pointer-events: none;
      opacity: 0.5;

      &::before {
        content: '\f110';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        display: flex;
        position: absolute;
        animation: fa-spin 2s infinite linear;
        font-size: 2.5rem;
        line-height: 2.5rem;
        z-index: 1;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  fieldset {
    padding: 0 1rem 1rem 1rem;
    border: 1px solid $medium-gray;
    margin-bottom: 1rem;
    border-radius: $global-radius;

    legend {
      padding: 0 0.5rem;
      font-weight: 600;
    }
  }

  .form-element {
    margin-bottom: 1rem;

    input,
    .v-select.white {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
