<% breadcrumb :edit_resource, @place, @watch_list %>

<% content_for :top_content do %>

<div class="reveal-blur">

    <div id="edit-form">

        <%= render 'form', keyPrefix: 'place[datahash]', content: @place, dataSchema: @dataSchema %>

    </div>

</div>

<% end %>
