<% breadcrumb @place, @watch_list %>

<% content_for :top_content do %>

    <%= render_content_partial 'header', content: @place %>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content place">

    <div class="row">

        <%= render_content_partial 'details', content: @place, schema: @dataSchema %>

    </div>

</div>
