<% breadcrumb @place %>

<% content_for :top_content do %>

    <%= render_content_partial 'header', content: @place %>

<% end %>

<section>
    <br /><br />
</section>

<div class="detail-content place">

    <div class="row">

        <%= render 'data_cycle_core/places/partials/show/place', dataCycleObject: @place, dataCycleObjectSchema: @dataSchema %>

        <%= render 'data_cycle_core/places/partials/show/translation/translations', language: nil, dataCycleObject: @place %>

    </div>

</div>
