<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hier ist ihr generierter Link: <%= @url %>.<br>
    </p>
    <p>Mit diesem Link können Sie einen spezifischen Inhalt <%= @action %>.</p>
  </body>
</html>