<% if !item.metadata['address'].nil? %>
    <div class="description">
        <% if !item.metadata['address']['streetAddress'].nil? && !item.metadata['address']['streetAddress'].blank? %>
            <%= item.metadata['address']['streetAddress'].html_safe %><br />
        <% end %>
        <% if !item.metadata['address']['postalCode'].nil? && !item.metadata['address']['postalCode'].blank? %>
            <%= item.metadata['address']['postalCode'].html_safe %>
        <% end %>
        <% if !item.metadata['address']['addressLocality'].nil? && !item.metadata['address']['addressLocality'].blank? %>
            <%= item.metadata['address']['addressLocality'].html_safe %>
        <% end %>
    </div>
<% end %>
