<%= render 'data_cycle_core/contents/detail/content_header_classification_aliases', local_assigns.merge({ context: :show }) %>

<% content_for :mapped_hidden_classifications, flush: true do %>
  <%= render 'data_cycle_core/contents/detail/content_header_classification_aliases', local_assigns.merge({ context: :show_more }) %>
<% end %>

<% if content_for?(:mapped_hidden_classifications) %>
  <ul class="hidden-classifications no-bullet" data-accordion data-allow-all-closed="true">
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title"><%= t('common.additional_classifications', locale: active_ui_locale) %></a>

      <div class="accordion-content" data-tab-content>
        <%= content_for :mapped_hidden_classifications %>
      </div>
    </li>
  </ul>
<% end %>
