<%= render 'data_cycle_core/contents/editors/attribute_editor', key: key, definition: definition, value: value, options: options do %>

  <div class="v-select">
    <%= label_tag(key, definition['label']) %>
    <%= select_tag(key, options_for_select(value.map{ |c| [c.try(:name), c.id] }, value.map(&:id)), {multiple: true, disabled: !can?(:edit, DataCycleCore::DataAttribute.new(key, definition, options)), class: 'async-select', data: { 'tree-label': definition['type_name'], 'max': 20 }}) %>
  </div>

<% end %>