<%= render 'data_cycle_core/contents/editors/attribute', key: key, definition: definition, value: value, options: options, content: content, parent: local_assigns[:parent] do %>

  <%= attribute_edit_label_tag(**local_assigns) %>

  <%= hidden_field_tag key, value.to_json, options.merge({ data: definition&.slice('validations', 'warnings'), id: "#{local_assigns.dig(:options, :prefix)}#{sanitize_to_id(key)}", disabled: !attribute_editable?(key, definition, options, content) }) %>

  <div class="table-editor-wrapper">
    <div class="table-editor" data-key="<%= key %>"></div>
  </div>
<% end %>
