<div class="description">
    <% if !item.street_address.nil? && !item.street_address.blank? %>
        <%= item.street_address.html_safe %><br />
    <% end %>
    <% if !item.postal_code.nil? && !item.postal_code.blank? %>
        <%= item.postal_code.html_safe %>
    <% end %>
    <% if !item.address_locality.nil? && !item.address_locality.blank? %>
        <%= item.address_locality.html_safe %>
    <% end %>
</div>
