<% if content.external_source.present? %>
  <span class="external-source-icon fa-stack" title="<b><%= content.external_source.name %></b>" data-tooltip data-allow-html="true" data-template-classes="external-connection-tooltip">
    <i class="fa fa-file-o fa-stack-2x" aria_hidden="true"></i>
    <i class="fa fa-long-arrow-right fa-stack-1x" aria_hidden="true"></i>
  </span>
<% end %>

<% if content.external_systems.any? %>
  <span class="external-system-icon fa-stack" title="<%= content.external_systems.map { |e| "<p><b>#{e.name}</b></p>" }.join %>" data-tooltip data-allow-html="true" data-template-classes="external-connection-tooltip">
    <i class="fa fa-file-o fa-stack-2x" aria_hidden="true"></i>
    <i class="fa fa-long-arrow-right fa-stack-1x" aria_hidden="true"></i>
  </span>
<% end %>
