<div class="type <%= item.template_name.downcase %>">
    <div class="infoRow parent">
        <%= render 'data_cycle_core/shared/icon', icon_type: item.template_name.downcase %>
        <% I18n.with_locale(item.first_available_locale(@language)) do %>
          <span class="title"><%= item.title %></span>
        <% end %>
    </div>
</div>
