<div class="tags">
  <ul class="no-bullet no-format">
    <% item.display_classification_aliases.each do |classification_alias| %>
      <li class="tag"><%= classification_alias.name %></li>
    <% end %>
  </ul>
</div>
