<section class="filters">
    <div class="main-filters row expanded">
        <div class="column">
            <div class="row">
                <div class="filter area columns small-3">
                    <span class="icon"><i class="fa fa-dropbox" aria-hidden="true"></i></span>
                    <span class="title">Ausgabekanäle <strong>(3)</strong></span>
                    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
                <div class="filter type columns small-3">
                    <span class="icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                    <span class="title">Typ <strong>(3)</strong></span>
                    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
                <div class="search columns small-3">
                    <div class="column">
                        <div class="search">
                            <form action="">
                                <div class="input-group">
                                    <div class="input-group-button">
                                        <button type="submit" class="search_icon "><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                    <input class="input-group-field" type="text" placeholder="Suchbegriff">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="filter language columns small-3">
                    <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
                    <span class="title">deutsch <strong>(3)</strong></span>
                    <span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>
