<div id="new-object-circle">
    <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
      <% if DataCycleCore::Feature::IdeaCollection.enabled? && (DataCycleCore::Feature::LifeCycle.ordered_items.index(@content.try(DataCycleCore::Feature::LifeCycle.attribute_key)&.first&.name)&.<= DataCycleCore::Feature::LifeCycle.ordered_items.index(DataCycleCore::Feature::IdeaCollection.life_cycle_stage)) %>
        <a class="option" href="#" data-open="new-idea-collection"><i class="fa fa-lightbulb-o" aria-hidden="true"></i><%= t('actions.new', data: DataCycleCore::Feature::IdeaCollection.template, locale: DataCycleCore.ui_language) %></a>
      <% end %>
      <a class="option" href="#" data-open="newContent"><i class="fa fa-folder-open-o" aria-hidden="true"></i><%= t('actions.new', data: DataCycleCore::Content.model_name.human(locale: DataCycleCore.ui_language), locale: DataCycleCore.ui_language) %></a>
    </div>
</div>

<%= render 'new_content_reveal' %>
