<div id="new-object-circle">
    <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
      <a class="option" href="#" data-open="newContent"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Neuen Inhalt erstellen</a>
    </div>
</div>

<%= render 'newContent' %>
