
<% content_for :top_content do %>

<div class="column detail-header-wrapper">

    <div class="detail-header">

      <div class="type bilder">
                <span class="icon">
                  <i class="fa fa-picture-o" aria-hidden="true"></i>
                </span>
        <span class="title">Bild</span>
      </div>
      <div class="type video">
                <span class="icon">
                  <i class="fa fa-film" aria-hidden="true"></i>
                </span>
        <span class="title">Video</span>
      </div>
      <div class="type website">
                <span class="icon">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </span>
        <span class="title">Website</span>
      </div>
      <div class="type text">
                <span class="icon">
                  <i class="fa fa-align-left" aria-hidden="true"></i>
                </span>
        <span class="title">Text</span>
      </div>
      <div class="type social">
                <span class="icon">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </span>
        <span class="title">Social Media</span>
      </div>
      <div class="type print">
                <span class="icon">
                  <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                </span>
        <span class="title">Print</span>
      </div>
      <div class="type event">
                <span class="icon">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                </span>
        <span class="title">Veranstaltung</span>
      </div>
      <div class="type thema">
                <span class="icon">
                  <i class="fa fa-folder-open" aria-hidden="true"></i>
                </span>
        <span class="title">Thema</span>
      </div>


      <a class="bookmark" href="#">
        <span class="bookmarkinfo">zur Recherche hinzufügen</span>
        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </a>

      <div class="title">
        Pistenspaß im Winter
      </div>
      <div class="description">
        Egal, ob Pistenspaß im Winter oder Wandertour im Sommer: Finkenberg im Zillertal hat für jedermann etwas zu bieten!
      </div>

        <div class="tags">
          <span class="icon"><i class="fa fa-tags" aria-hidden="true"></i> Keywords</span>
          <a class="tag">paar</a><a class="tag">pool</a><a class="tag">st martins therme</a><a class="tag">lodge</a><a class="tag">burgenland</a><a class="tag">st martins therme</a><a class="tag">lodge</a>
        </div>
      </div>




      <div class="row info">

        <ul class="infolist no-bullet">
          <li>
            <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
            <span class="title"><strong>8</strong> Texte</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
            <span class="title"><strong>63</strong> Bilder</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-play" aria-hidden="true"></i></span>
            <span class="title"><strong>1</strong> Video</span>
          </li>

          <li>
            <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
            <span class="title">Deutsch</span>
          </li>

        </ul>

      </div>

</div>

<% end %>


<div class="detail-content">
  <div class="row">
  <div class="longtext">

      <p>Eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße. Ich bin allein und freue mich meines Lebens in dieser Gegend, die für solche Seelen geschaffen ist wie die meine. Ich bin so glücklich, mein Bester, so ganz in dem Gefühle von ruhigem Dasein versunken, daß meine Kunst darunter leidet. Ich könnte jetzt nicht zeichnen, nicht einen Strich, und bin nie ein größerer Maler gewesen als in diesen Augenblicken. Wenn das liebe Tal um mich dampft, und die hohe Sonne an der Oberfläche der undurchdringlichen Finsternis meines Waldes ruht, und nur einzelne Strahlen sich in das innere Heiligtum stehlen, ich dann im hohen Grase am fallenden Bache liege, und näher an der Erde tausend mannigfaltige Gräschen mir merkwürdig werden;</p>
      <p> wenn ich das Wimmeln der kleinen Welt zwischen Halmen, die unzähligen, unergründlichen Gestalten der Würmchen, der Mückchen näher an meinem Herzen fühle, und fühle die Gegenwart des Allmächtigen, der uns nach seinem Bilde schuf, das Wehen des Alliebenden, der uns in ewiger Wonne schwebend trägt und erhält; mein Freund! Wenn's dann um meine Augen dämmert, und die Welt um mich her und der Himmel ganz in meiner Seele ruhn wie die Gestalt einer Geliebten - dann sehne ich mich oft und denke : ach könntest du das wieder ausdrücken, könntest du dem Papiere das einhauchen, was so voll, so warm in dir lebt, daß es würde der Spiegel deiner Seele, wie deine Seele ist der Spiegel des unendlichen Gottes! - mein Freund - aber ich gehe darüber zugrunde, ich erliege unter der Gewalt der Herrlichkeit dieser Erscheinungen.Eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße.</p>
      <p> Ich bin allein und freue mich meines Lebens in dieser Gegend, die für solche Seelen geschaffen ist wie die meine. Ich bin so glücklich, mein Bester, so ganz in dem Gefühle von ruhigem Dasein versunken, daß meine Kunst darunter leidet. Ich könnte jetzt nicht zeichnen, nicht einen Strich, und bin nie ein größerer Maler gewesen als in diesen Augenblicken. Wenn das liebe Tal um mich dampft, und die hohe Sonne an der Oberfläche der undurchdringlichen Finsternis meines Waldes ruht, und nur einzelne Strahlen sich in das innere Heiligtum stehlen, ich dann im hohen Grase am fallenden Bache liege, und näher an der Erde tausend mannigfaltige Gräschen mir merkwürdig werden; wenn ich das Wimmeln der kleinen Welt zwischen Halmen, die unzähligen, unergründlichen Gestalten der Würmchen, der Mückchen näher an meinem Herzen fühle, und fühle die Gegenwart des Allmächtigen, der uns nach seinem Bilde schuf, das Wehen des Alliebenden, der uns in ewiger Wonne schwebend trägt und erhält; mein Freund! Wenn's dann um meine Augen dämmert, und die Welt um mich her und der Himmel ganz in meiner Seele ruhn wie die Gestalt einer Geliebten - dann sehne ich mich oft und denke : ach könntest du das wieder ausdrücken, könntest du dem Papiere das einhauchen, was so voll, so warm in dir lebt, daß es würde der Spiegel deiner</p>

  </div>
    <div class="image stripes">
      <img src="http://views2.austria.info/api/v1/media/24/file" alt="Egal, ob Pistenspaß im Winter oder Wandertour im Sommer: Finkenberg im Zillertal hat für jedermann etwas zu bieten!">
    </div>
    <div class="video stripes">
          <video id="detailvideo" preload controls>
            <source src="http://html5demos.com/assets/dizzy.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
          </video>
    </div>
    <div class="images">


            <a href="#" class="thumbnail"><img src="http://foundation.zurb.com/sites/docs/assets/img/thumbnail/01.jpg" alt="Photo of Uranus."></a>


            <a href="#" class="thumbnail"><img src="http://foundation.zurb.com/sites/docs/assets/img/thumbnail/02.jpg" alt="Photo of Neptune."></a>

            <a href="#" class="thumbnail"><img src="http://foundation.zurb.com/sites/docs/assets/img/thumbnail/03.jpg" alt="Photo of Pluto."></a>


    </div>


  </div>
</div>

</div>