
<% content_for :top_content do %>

    <div class="detail-header">

      <div class="type bilder">
                <span class="icon">
                  <i class="fa fa-picture-o" aria-hidden="true"></i>
                </span>
        <span class="title">Bild</span>
      </div>

      <a class="bookmark" href="#">
        <span class="bookmarkinfo">zur Recherche hinzufügen</span>
        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </a>

      <div class="title">
        Pistenspaß im Winter
      </div>
      <div class="description">
        Egal, ob Pistenspaß im Winter oder Wandertour im Sommer: Finkenberg im Zillertal hat für jedermann etwas zu bieten!
      </div>

    </div>
    <div class="detail-content">

      <div class="row">

        <div class="tags">
          <span class="icon"><i class="fa fa-tags" aria-hidden="true"></i> Keywords</span>
          <a class="tag">paar</a><a class="tag">pool</a><a class="tag">st martins therme</a><a class="tag">lodge</a><a class="tag">burgenland</a><a class="tag">st martins therme</a><a class="tag">lodge</a>
        </div>

      </div>
      <div class="row">

        <div class="info">

          <ul class="infolist no-bullet">
            <li>
              <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
              <span class="title"><strong>8</strong> Texte</span>
            </li>

            <li>
              <span class="icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
              <span class="title"><strong>63</strong> Bilder</span>
            </li>

            <li>
              <span class="icon"><i class="fa fa-play" aria-hidden="true"></i></span>
              <span class="title"><strong>1</strong> Video</span>
            </li>

            <li>
              <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
              <span class="title">Deutsch</span>
            </li>

          </ul>

        </div>

      </div>
    </div>

<% end %>


<div class="detail-content">
  <div class="row">
    <div class="image">
      <img src="http://views2.austria.info/api/v1/media/24/file" alt="Egal, ob Pistenspaß im Winter oder Wandertour im Sommer: Finkenberg im Zillertal hat für jedermann etwas zu bieten!">
    </div>
  </div>
</div>