
<% content_for :top_content do %>

<div class="column detail-header-wrapper">

    <div class="detail-header">

      <div class="type thema">
          <span class="icon">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
          </span>
      <span class="title">Thema</span>
      </div>

      <a class="bookmark marked" href="#">
        <span class="bookmarkinfo">zur Recherche hinzugefügt</span>
        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      </a>

      <div class="title">
        Pistenspaß im Winter
      </div>
      <div class="description">
        Egal, ob Pistenspaß im Winter oder Wandertour im Sommer: Finkenberg im Zillertal hat für jedermann etwas zu bieten!
      </div>

      <div class="tags">
        <span class="icon"><i class="fa fa-tags" aria-hidden="true"></i> Keywords</span>
        <a class="tag">paar</a><a class="tag">pool</a><a class="tag">st martins therme</a><a class="tag">lodge</a><a class="tag">burgenland</a><a class="tag">st martins therme</a><a class="tag">lodge</a>
      </div>

      <div class="edit">
        <a href="#" class="button-prime small"><i class="fa fa-pencil" aria-hidden="true"></i><span>Bearbeiten</span></a>
      </div>

    </div>

    <%= render 'data_cycle_core/creative_works/filter' if user_signed_in? %>

</div>

    <%= render 'data_cycle_core/backend/views' if user_signed_in? %>


<% end %>

<h1>test</h1>