<% breadcrumb :edit_resource, @creativeWork, @watch_list %>

<% content_for :top_content do %>

<div class="reveal-blur">

    <div id="edit-form">

        <%= render 'form', keyPrefix: 'creative_work[datahash]', content: @creativeWork, dataSchema: @dataSchema %>

    </div>

</div>

<% end %>
