<% breadcrumb :edit_resource, @creativeWork, @watch_list %>

<% content_for :top_content do %>

<div class="reveal-blur">

    <div id="edit-form">

        <%= render 'data_cycle_core/creative_works/partials/edit/form', keyPrefix: 'creative_work[datahash]', dataObject: @creativeWork, dataSchema: @dataSchema %>

    </div>

</div>

<% end %>
