<h2>heading</h2>

<input class="form-control" type="text" name="creative_work[headline]" id="creative_work_headline">

<h3>Description</h3>




<%= form_for(@creativeWork) do |f| %>

    <%= f.label :headline %>
    <%= f.text_field :headline, class: 'form-control' %>

    <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
