<h2>heading</h2>
FE-Editor:
<div id="editor">

</div>


<h3>Description</h3>




<%= form_for(@creativeWork) do |f| %>

    <%= f.label :headline %>
    <%= f.text_field :headline, class: 'form-control' %>

    <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
