<% breadcrumb :'data_cycle_core/publications' %>

<% content_for(:title, t('data_cycle_core.publications_calendar', locale: active_ui_locale)) %>

<% content_for :top_content do %>
  <%= render 'filter', view_type: 'publications', additional_classes: 'column-padding', additional_request_params: [:publications_from, :publications_until] %>
<% end %>

<section class="search-results publications-list" data-pages="<%= @pages %>">
  <div class="row">
    <% if @contents&.size&.zero? %>
      <div class="small-12">
        <span class="no-results"><%= t('common.no_results', locale: active_ui_locale) %></span>
      </div>
    <% else %>
      <ul class="no-bullet accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
        <%= render 'publication_list', contents: @contents %>
      </ul>
    <% end %>
  </div>
</section>
