<span class="accordion-child-buttons">
  <span class="accordion-close-children" title="<%= t('embedded.close_all', locale: DataCycleCore.ui_language) %>"><i class="fa fa-angle-double-up"></i></span>
  <span class="accordion-open-children" title="<%= t('embedded.open_all', locale: DataCycleCore.ui_language) %>"><i class="fa fa-angle-double-down"></i></span>
</span>
