<%= render 'data_cycle_core/contents/grid/default', local_assigns do %>
  <% if thing_thumbnail_url(item).present? %>
    <div class="image-thumbnail">
      <img style="<%= image_thumb_style(item) %>" data-src="<%= thing_thumbnail_url(item) %>" alt="<%= item.try(:title) %>" class="lazyload" />
    </div>
  <% end %>
<% end %>
