<% content_for :media_thumbs do %>
  <div class="grid-thumbnails">
    <img data-src="<%= thing_thumbnail_url(item.primary_image.first) %>" alt="<%= item.primary_image.first.title %>" class="lazyload grid-item-thumbnail" />
  </div>
<% end if item.try(:primary_image).present? %>

<%= render 'data_cycle_core/contents/grid/default', local_assigns do %>
  <%= render 'data_cycle_core/contents/grid/attributes/address', local_assigns if item.try(:address_block).present? %>
<% end %>
