<%= render 'data_cycle_core/contents/grid/default', local_assigns do %>
  <% if thing_thumbnail_url(item).present? %>
    <% thumbnail_url = thing_thumbnail_url(item, 'thumbnail_image') %>
    <div class="video-thumbnail">
      <img style="<%= image_thumb_style(item) %>" data-src="<%= thumbnail_url %>" alt="<%= item.try(:title) %>" class="lazyload" />
    </div>
  <% end %>
<% end %>
