<% I18n.with_locale(@language) do %>

    <%= link_to item, class: 'content-link' do %>

        <div class="inner">

            <div class="infoRow">
                <%= render 'data_cycle_core/shared/icon', icon_type: 'merkliste' %>
                <span class="title"><%= DataCycleCore::WatchList.model_name.human(count: 1, locale: DataCycleCore.ui_language) %></span>
            </div>

            <div class="title">
                <%= item&.name %>
            </div>

        </div>

    <% end %>

<% end %>
