<% unless dataCycleObject.metadata.nil? %>

    <br /><br />

    <% if !dataCycleObject.metadata.nil? && !dataCycleObject.metadata['validation'].nil? %>

        <% validation_properties = get_ordered_validation_properties(dataCycleObject.metadata['validation']) %>

        <% if !validation_properties.nil? %>

            <!-- todo: make this more generic ? -->
            <% exludedProperties = ['givenName','familyName','jobTitle'] %>

            <div class="type properties">

                <% validation_properties.each do |key, prop| %>

                    <% if !dataCycleObjectSchema.nil? && !dataCycleObjectSchema[key].nil? && !dataCycleObjectSchema[key].blank? && !exludedProperties.include?(key) %>

                        <%= render "data_cycle_core/creative_works/partials/show/datatype/#{prop['type'].downcase}",
                                   label: prop['label'],
                                   prop: prop,
                                   key: key,
                                   value: normalize_value(dataCycleObjectSchema[key]) %>

                    <% end %>

                <% end %>

            </div>

        <% end %>

    <% end %>

    <hr>

<% end %>
