<% if can? :create, DataCycleCore::WatchList %>
    <div class="<%= content.nil? ? 'add-watchlist-to-menu' : 'add-watchlist' %>">
        <% @new_watch_list ||= DataCycleCore::WatchList.new %>

        <%= form_for(@new_watch_list, namespace: content.nil? ? "header-menu" : content.id, html: { class: "add-watchlist-form" }, remote: true) do |f| %>
            <div class="validation-container form-element">
                <%= f.text_field :headline, class: 'form-control', value:'', placeholder: 'Neue Merkliste', required: true %>
                <%= button_tag(type: 'submit', class: "button primary") do %>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                <% end %>
            </div>

        <% end %>
    </div>
<% end %>
