<li>
    <span class="watch-list-item">
        <span class="watchlist-name">
            <%= link_to (watch_list.watch_list_user_groups.size.positive? ? tag.i(class: 'fa fa-users') : '') + watch_list.name, watch_list_path(watch_list), class: 'watchlist-link', title: watch_list.name %>
        </span>
    </span>
</li>
