<section class="breadcrumb">
    <div class="row expanded">
        <div class="column">
            <ul>
                <% if @breadcrumbs %>
                    <% @breadcrumbs[0..-1].each do |item| %>
                        <li>
                        <% unless item.equal?(@breadcrumbs.last) %><a class="breadcrumb-item" href="<%= item[2] %>"><% end %>
                        <% unless item[0].nil? || item[0] == "" %>
                            <span class="breadcrumb-type"><%= item[0] %></span>: 
                        <% end %>
                        <% unless item[0].nil? || item[1] == "" %>
                            <span class="breadcrumb-title"><%= h item[1] %></span>
                        <% end %>
                        <% unless item.equal?(@breadcrumbs.last) %></a> > <% end %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</section>
