<section class="breadcrumb">
    <div class="row expanded">
        <div class="column">
            <ul><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                <% breadcrumbs(display_single_fragment: true).tap do |links| %>
                    <% if links.any? %>
                        <% links.each do |link| %>
                            <li>
                                <% unless link.current? %>
                                    <%= link_to link.url, class: (link.current? ? "current" : nil) do %>
                                        <span class="breadcrumb-text"><%= link.text %></span>
                                    <% end %>
                                    <i class="fa fa-angle-right breadcrumb-separator" aria-hidden="true"></i>
                                <% else %>
                                    <span class="breadcrumb-text"><%= link.text %></span>
                                <% end %>
                            </li>          
                        <% end %>
                    <% end %>
                <% end %>
            </ul>

        </div>
    </div>
</section>
