<section class="filters">

<div class="main-filters row expanded">
  <div class="column">
    <div class="row">


<nav id="primary_nav_wrap">
<ul>
  <li class="subtree">
    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
    <span class="title">Thema <strong>(10)</strong></span>
    <div>

    <div class="your-choice tags">
      <span class="icon"><i class="fa fa-check" aria-hidden="true"></i> Ihre Auswahl:</span>
      <a class="tag">Auto<i class="fa fa-times" aria-hidden="true"></i></a><a class="tag">Restaurant<i class="fa fa-times" aria-hidden="true"></i></a><a class="tag">Heuriger / Buschenschank<i class="fa fa-times" aria-hidden="true"></i></a><a class="tag">Rundreisen<i class="fa fa-times" aria-hidden="true"></i></a>
    </div>

    <ul>
          <li>
      <input type="checkbox" name="classification[][selected]" value="b611ef9e-2e4f-458e-9acd-1c13f75b0e56">
        
        <label for=""><span class="title">Anreise <strong>(5)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
              <ul>
                  <li>
          <input type="checkbox" name="classification[][selected]" id="cl1" value="8838e781-29f0-4e3b-b1d6-8e40b4f9a3a1">
            
            <label for="cl1"><span class="title">Auto <strong></strong></span></label>
          
        </li>

                  <li>
          <input type="checkbox" name="classification[][selected]" value="1d08e9ca-ac8b-44b9-836d-3a040f5fb67e">
            
            <label for=""><span class="title">Bahn <strong></strong></span></label>
          
        </li>

                  <li>
          <input type="checkbox" name="classification[][selected]" value="7ccfb90d-a9d8-4f28-852e-d62fbc5a7133">
            
            <label for=""><span class="title">Bus <strong></strong></span></label>
          
        </li>

                  <li>
          <input type="checkbox" name="classification[][selected]" value="277e98a6-483a-49a8-b54e-a1861ed093fd">
            
            <label for=""><span class="title">Flugzeug <strong></strong></span></label>
          
        </li>

                  <li>
          <input type="checkbox" name="classification[][selected]" value="cee6a351-fc89-4db9-87a5-5c452e239496">
            
            <label for=""><span class="title">Schiff <strong></strong></span></label>
          
        </li>

              </ul>
      
    </li>
    <li>
      <input type="checkbox" name="classification[][selected]" value="3abe81fe-2757-459c-99df-548b2beac899">
        
        <label for=""><span class="title">Essen und Trinken <strong>(9)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="b2481614-de49-41e9-9f8a-ce37e346c717">
        
        <label for=""><span class="title">Bier <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="fa8e31db-abba-481a-9dad-cf6d732a070f">
        
        <label for=""><span class="title">Most <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="a5cd5e55-24c7-4e49-b0fb-b2ac1aebb70e">
        
        <label for=""><span class="title">Nachhaltigkeit, Bio <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="0d857af6-af68-4d85-9caa-0d46e4ed7b08">
        
        <label for=""><span class="title">Regionale Spezialitäten <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" id="cb1111" value="acb07c54-6cdc-412c-b0d6-b975539e9179">
        
        <label for="cb1111"><span class="title">Restaurant <strong>(5)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>

          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="857cad5c-bcbd-4e87-b5e2-425af6985621">
        
        <label for=""><span class="title">Gasthaus <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="7386b185-3433-4982-9d98-b4091b0ef779">
        
        <label for=""><span class="title">Haubenküche <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" id="cb12345" value="73ce6965-e502-45c1-a691-b6ce4bfee7bf">
        
        <label for="cb12345"><span class="title">Heuriger / Buschenschank <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="e48c661c-e77d-4010-88ab-ba1683f6e24c">
        
        <label for=""><span class="title">Hütte <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="0052aaef-1b79-436d-b059-5023b0c1c972">
        
        <label for=""><span class="title">Kaffeehaus <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="9e12b450-bb03-46e9-89c9-63c067835811">
        
        <label for=""><span class="title">Rezepte <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="d4810b64-35e4-4680-a7e0-1e875da5ecad">
        
        <label for=""><span class="title">Schnaps <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="ad437fae-88e1-4f56-9286-34323a796793">
        
        <label for=""><span class="title">Süßspeisen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="9a920e03-de1f-430d-aa77-e894ea1f120c">
        
        <label for=""><span class="title">Wein <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

          <li>
      <input type="checkbox" name="classification[][selected]" value="cdda031a-6445-4002-b51f-2f29247cb511">
        
        <label for=""><span class="title">Familie <strong></strong></span></label>
      
    </li>

          <li>
      <input type="checkbox" id="cb1010" name="classification[][selected]" value="ec65ccea-9d3b-40c5-a4c5-bc80246ff899">
        
        <label for="cb1010"><span class="title">Rundreisen <strong>(2)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="bddf76c2-25f1-464a-b501-96bcbd53f8f8">
        
        <label for=""><span class="title">Städtereisen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="9b6b6838-5f39-46e5-b24c-70100b276186">
        
        <label for=""><span class="title">Themenstraßen <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

          <li>
      <input type="checkbox" name="classification[][selected]" value="4c7015cc-3c0b-43d3-b528-d92faca1d477">
        
        <label for=""><span class="title">Ski und Winter <strong>(3)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="4233f1cd-f48a-4914-83a7-dfc5b856d749">
        
        <label for=""><span class="title">Aktiv im Winter <strong>(9)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="913d4c6c-5f5b-45dc-aaf4-8dc5863fe6fa">
        
        <label for=""><span class="title">Eislaufen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="84e34587-6ef5-4f84-8bbd-db21f2f51133">
        
        <label for=""><span class="title">Eisstockschießen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="0c3be9a9-3f3c-45a6-9eab-02289f86888b">
        
        <label for=""><span class="title">Fun und Actionsport <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="a039d7ef-9613-49ff-8e69-4673cb3fcbee">
        
        <label for=""><span class="title">Langlaufen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="6ba17b65-abb6-4161-9958-c152446eb3c3">
        
        <label for=""><span class="title">Rodeln <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="2aeb8000-ab93-4ac1-b8eb-0ff4a949d858">
        
        <label for=""><span class="title">Skifahren <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="2d0c4b7f-c950-4a3a-8cf0-a7127a52b6d0">
        
        <label for=""><span class="title">Skitouren <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4aa62132-b018-4080-938a-f2b705e07289">
        
        <label for=""><span class="title">Snowboarden <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="49d8ed76-a04e-4f8d-af43-cc86e3474670">
        
        <label for=""><span class="title">Tourenski <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="ef26f9ae-bd0c-41bd-99f7-e4fd40f1b8c2">
        
        <label for=""><span class="title">Sanfter Winter <strong>(6)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="3ceb7468-c763-4d14-9a41-81f0e0398054">
        
        <label for=""><span class="title">Advent, Weihnachtsmärkte <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4dd7f3d2-aa67-4673-9c11-38ea110a2792">
        
        <label for=""><span class="title">Brauchtum <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="3047aaf7-9383-4b67-92fc-3c5a5f724331">
        
        <label for=""><span class="title">Fackelwandern <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="c2f8a047-b987-4436-83e6-c5b5dc2787c4">
        
        <label for=""><span class="title">Kutschenfahrten <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="e1e7bf34-3418-4551-abbf-19915dac197f">
        
        <label for=""><span class="title">Schneeschuhwandern <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="73097b41-a9f0-49d8-918d-0ad96b88b0cb">
        
        <label for=""><span class="title">Winterwandern <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="83b3413c-38ed-45a8-803e-2489f1d51756">
        
        <label for=""><span class="title">Sonnenskilauf <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

          <li>
      <input type="checkbox" name="classification[][selected]" value="263ac8ff-2603-4ff6-89e1-32f2babb165e">
        
        <label for=""><span class="title">Sommer <strong>(10)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="ac84abc4-20b4-4b09-88fc-ab30c37f25d2">
        
        <label for=""><span class="title">Erlebnisparks <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="0876bc45-140a-480c-82c5-aa2bfcda73f8">
        
        <label for=""><span class="title">Golf <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="36f9230c-7add-485b-a4bc-034f04b23223">
        
        <label for=""><span class="title">Laufen, Walking <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="d7d05b56-38f7-4708-8af6-c521e59b9da5">
        
        <label for=""><span class="title">Natur <strong>(3)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="fc776e3e-5df3-445c-96e4-d7019629c022">
        
        <label for=""><span class="title">Nationalparks, Biosphärenparks, unberührte Natur <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="bde13a41-8c80-4a88-af4b-051ecfbf05c7">
        
        <label for=""><span class="title">Naturerlebnis <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="12813798-1486-4136-beb7-100cfb60eafe">
        
        <label for=""><span class="title">Tier- und Pflanzenbeobachtungen <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="3d73114a-4098-44f3-87eb-fbfaa65a5912">
        
        <label for=""><span class="title">Paragliding <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="c9bb6e6d-088a-435f-b885-d4e400b08564">
        
        <label for=""><span class="title">Radfahren <strong>(5)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="450d4410-a41d-427c-b9c8-645c567adb30">
        
        <label for=""><span class="title">E-Bike <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="1675e684-77bd-4535-ab7e-6afc5b270774">
        
        <label for=""><span class="title">Genussradeln <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="bb1179e1-9538-4026-b613-a3a45743a4ec">
        
        <label for=""><span class="title">Mountainbike <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="690e6da8-408c-4e53-af70-08c081c55d27">
        
        <label for=""><span class="title">Radrundreise <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4626c4a1-04b3-4a29-87e3-78c2feda117e">
        
        <label for=""><span class="title">Rennrad <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="f6c0d72e-7dd4-43ac-9840-209d119fee88">
        
        <label for=""><span class="title">Reiten <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="b49f5842-f5a7-4a4c-a08b-c0f80541507f">
        
        <label for=""><span class="title">Tennis <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="ea401b2f-0ac3-4358-8052-37c0717d2a3b">
        
        <label for=""><span class="title">Wandern <strong>(9)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="3c5dcc6b-a7f1-4481-a5fc-77295a28abab">
        
        <label for=""><span class="title">Gipfelwandern <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="46d6a34c-b23c-4063-b026-a8e44124acfb">
        
        <label for=""><span class="title">Hochseilgärten <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4e1cf396-c713-49b2-82f8-94f1e759dd68">
        
        <label for=""><span class="title">Klettern + Bergsteigen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="a7043bd3-5b20-40e9-89cc-cb866d0af607">
        
        <label for=""><span class="title">Naturlehrpfade <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="442249be-2743-4628-816c-b915646cb44f">
        
        <label for=""><span class="title">Pilgern/Gehen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="8bc807dd-4ca7-4792-a0ef-655ee1dac03c">
        
        <label for=""><span class="title">Seilbahnen/Aussichtsplattformen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="7e367129-642e-4304-8349-8f147eb08ee9">
        
        <label for=""><span class="title">Themenwege <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="f8532807-f173-4266-8063-3058a72fd026">
        
        <label for=""><span class="title">Wanderguides, Bergführer <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="b410c7f6-b5a1-4331-bf31-97a63c7d3c1c">
        
        <label for=""><span class="title">Weitwandern&nbsp;/ Höhenwege <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="23c37d03-9273-45be-b266-a51f774982b2">
        
        <label for=""><span class="title">Wasser <strong>(9)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="a763dbb1-cf0e-42a3-9c65-d33c62e3ab1d">
        
        <label for=""><span class="title">Canyoning/ Rafting <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="7c867c8c-2a80-421d-9da9-d7d803dfafd5">
        
        <label for=""><span class="title">Fischen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="5edd1210-8d88-4b8a-b735-51b34a227185">
        
        <label for=""><span class="title">Kanu/Kajak <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="b838f1ac-3243-41b6-815a-34cb60e5aeaf">
        
        <label for=""><span class="title">Rudern <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="eef82700-5993-47a9-a983-00a956d8119e">
        
        <label for=""><span class="title">Schwimmen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="1f9a85cc-8a5e-4c54-b8d9-fa7771d923f1">
        
        <label for=""><span class="title">Segeln <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="600bb58b-07c6-4b2d-861f-4c889ae805ec">
        
        <label for=""><span class="title">Tauchen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="a3171849-07a8-4149-8073-de88dc0d5130">
        
        <label for=""><span class="title">Wasserski/ Kiten <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4eb995ae-00a5-4f06-958c-26d38f8dd7ab">
        
        <label for=""><span class="title">Wasserspaß, -action <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

          </ul>
      
    </li>

          <li>
      <input type="checkbox" name="classification[][selected]" value="a783afb6-2bce-4353-85f9-ff3c1eb5b052">
        
        <label for=""><span class="title">Sonstiges <strong>(11)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="d60a469b-e366-4dc3-aa1f-694d3731b645">
        
        <label for=""><span class="title">Barrierefrei <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="cf9bdc47-3daf-4655-b6c3-ca7a8b9b6754">
        
        <label for=""><span class="title">Bundesländer Cards <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="0c9cf4ae-707c-4c5f-bba4-d6e4f7638fa2">
        
        <label for=""><span class="title">Destinationen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="3bafc503-620c-4c24-bebc-f0e57be693ad">
        
        <label for=""><span class="title">Feiertage <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4ab886ac-a825-4edd-b768-37436dc63abe">
        
        <label for=""><span class="title">Frühling <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="1bab6792-f434-44cb-90f1-e14bef834944">
        
        <label for=""><span class="title">Geschichte/Fahnen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="c366f102-84ce-4008-9064-1e7fbc0852ea">
        
        <label for=""><span class="title">Herbst <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="e746b24c-60ea-4ed2-927b-78ae6aae5817">
        
        <label for=""><span class="title">Persönlichkeiten <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="1d1c1ba9-cf45-408d-90ae-f972d3623d97">
        
        <label for=""><span class="title">Praktische Hinweise <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="3daffdea-0121-4a69-af6a-4a43a0cf40aa">
        
        <label for=""><span class="title">Trends <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="8aba124b-c741-4d00-ac78-cf8fb7b9f20e">
        
        <label for=""><span class="title">Urlaub mit dem Hund <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

          <li>
      <input type="checkbox" name="classification[][selected]" value="87171c96-535f-4ce3-8412-cfe065a13a30">
        
        <label for=""><span class="title">Stadt und Kultur <strong>(8)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="9986c9e6-f760-479a-a4da-66f5e4f08631">
        
        <label for=""><span class="title">Architektur/Design <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="8f717b94-6944-4656-b442-58f942f9b8d0">
        
        <label for=""><span class="title">Brauchtum/Tradition <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="3b82b28e-bc98-4a67-a07d-fe5f510c4b76">
        
        <label for=""><span class="title">Literatur <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="7bdf5cac-7f73-41e9-90e9-ae221b28f495">
        
        <label for=""><span class="title">Manufaktur / Handwerk / Betriebe <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="2f4a2c12-fa53-4c30-ab49-146e9de56aa5">
        
        <label for=""><span class="title">Museen / Ausstellungen / Gallerien <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="786cfe92-5b06-4c8b-8af7-87a33ef54e4c">
        
        <label for=""><span class="title">Musik <strong>(4)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="becf691d-5f83-4d2b-81e5-4d3d7a8452d4">
        
        <label for=""><span class="title">Festivals <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4308a69c-0940-4d10-8237-89caf850e206">
        
        <label for=""><span class="title">Festspiele <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="f04d274a-b4a7-4e81-858e-4cb722ef617b">
        
        <label for=""><span class="title">Klassische Musik <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4ad08ca7-eeb0-4c5d-b258-0025f5e6be02">
        
        <label for=""><span class="title">Konzerte <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="3d849bef-3b16-40e8-9e1e-c9ff91708bc0">
        
        <label for=""><span class="title">Sehenswürdigkeiten <strong>(3)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="84d5705f-2ae4-4042-b565-70150344e2e9">
        
        <label for=""><span class="title">Burgen / Schlösser <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="84393cd6-d835-4bb2-b523-7e6cab46afb4">
        
        <label for=""><span class="title">Kirchen / Klöster <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="3a2b6e91-f90c-47b0-a079-1b2a023a2d31">
        
        <label for=""><span class="title">POIs <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="950b0683-654d-4c8b-96be-e1ebbc417b71">
        
        <label for=""><span class="title">Stadt und Stadtleben <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

          <li>
      <input type="checkbox" name="classification[][selected]" value="6ba73232-3e50-45a1-bf3c-7697c7cbd2a9">
        
        <label for=""><span class="title">Unterkünfte <strong>(7)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="fb96debd-cb84-4f54-a1f6-96f0a9ce4701">
        
        <label for=""><span class="title">Bauernhof <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="dd456daf-0531-4a5c-a4eb-92599e178daa">
        
        <label for=""><span class="title">Camping <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="4138e8ce-e598-4834-acc7-55a63d94dea3">
        
        <label for=""><span class="title">Dörfer <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="b9825b0a-ba61-43cc-bdd7-0b1248fad26c">
        
        <label for=""><span class="title">Ferienwohnung, Privat <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="ea5d1e35-f1aa-491a-aa28-6aefec1870d2">
        
        <label for=""><span class="title">Hotels, Gasthof <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="54195afc-2778-40b4-b377-8ca51e506212">
        
        <label for=""><span class="title">Hütten, Chalets <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="74a1f07e-0d16-48c4-be33-6535a9f97bda">
        
        <label for=""><span class="title">Luxushotel <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

          <li>
      <input type="checkbox" name="classification[][selected]" value="b208a86d-47b8-437d-a036-6bef59171b8d">
        
        <label for=""><span class="title">Wellness <strong>(5)</strong></span><span class="icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span></label>
          
          <ul>
              <li>
      <input type="checkbox" name="classification[][selected]" value="156e38aa-f9f7-4ba2-b101-11e7c2a2e024">
        
        <label for=""><span class="title">Anwendungen <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="a3f822e5-4aab-4c46-ad0f-7feb4a706511">
        
        <label for=""><span class="title">Erholung / Regeneration <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="2d751535-eaee-4044-aa91-448df5122437">
        
        <label for=""><span class="title">Gesundheit / Kur <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="fe6268cb-5bdd-4e5e-9c0c-606d317b478d">
        
        <label for=""><span class="title">Sanfte Bewegung <strong></strong></span></label>
      
    </li>

              <li>
      <input type="checkbox" name="classification[][selected]" value="ef146eb2-842d-4f57-afc1-877a08ba4816">
        
        <label for=""><span class="title">Spa / Thermen <strong></strong></span></label>
      
    </li>

          </ul>
      
    </li>

      </ul>




    </div>
  </li>
  <li>
     <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
     <span class="title">Bundesland <strong>(10)</strong></span>
     <div>
 <ul class="split-list">

      <li>
  <input type="checkbox" name="classification[][selected]" value="168764fc-fbb5-4bae-96b1-baf73e597c77">
    
    <label for=""><span class="title">Burgenland <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="0bd7cd2c-2b5e-4331-9e30-9e6176b085e3">
    
    <label for=""><span class="title">Kärnten <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="d3ed1bd1-eda9-4320-ac9c-17ad0e2932a8">
    
    <label for=""><span class="title">Niederösterreich <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="2370550a-7386-40bf-b09e-ced94d9257a0">
    
    <label for=""><span class="title">Oberösterreich <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="6ad3a74c-89ae-464e-b0b5-033245e91b55">
    
    <label for=""><span class="title">Osttirol <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="d383bb03-970d-4335-b39e-6dfa03b09123">
    
    <label for=""><span class="title">Salzburg <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="1ec31e7a-9a53-4a73-8a54-d48e99862854">
    
    <label for=""><span class="title">Steiermark <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="f71f53f2-b994-46dd-bbf5-5d9a848ca9f9">
    
    <label for=""><span class="title">Tirol <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="bfb0b627-f366-402b-8e8d-1f1b6ba0eede">
    
    <label for=""><span class="title">Vorarlberg <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="f331ed48-30e6-4e78-aca9-eb6d242af436">
    
    <label for=""><span class="title">Wien <strong></strong></span></label>
  
</li>

  </ul>
  </div>
  </li>
  <li>
    <span class="icon"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
    <span class="title">Zielmarkt <strong>(31)</strong></span>
    <div>
  <ul class="split-list">

      <li>
  <input type="checkbox" name="classification[][selected]" value="1b3bfa25-53eb-4b8f-bdd4-78326aa51bfb">
    
    <label for=""><span class="title">Australien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="c50adc32-3815-4c15-b50e-e0862e193e22">
    
    <label for=""><span class="title">Belgien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="681970f3-90cb-4814-9672-32b5a25225ce">
    
    <label for=""><span class="title">Brasilien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="fc5c77cc-f425-4b35-8da3-cb64c32d478c">
    
    <label for=""><span class="title">China <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="30ad122d-3b1a-404d-8b43-33a398ddb4f4">
    
    <label for=""><span class="title">Deutschland <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="7c484096-df66-44bf-bbc9-e59ff177bafe">
    
    <label for=""><span class="title">Dänemark <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="54c4f3f0-eb79-4cf6-8ae2-9204c9f88c36">
    
    <label for=""><span class="title">Frankreich <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="0d261823-06a7-4535-8e8c-176aaa4bfa4f">
    
    <label for=""><span class="title">Großbritannien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="1305f876-3549-4a76-91a1-950b3c8aaf5b">
    
    <label for=""><span class="title">Indien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="c3c2e288-603d-42bc-8b4a-b232bd43f9f5">
    
    <label for=""><span class="title">Italien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="7b3c8f54-7710-42d0-ad33-dc1b9e42984c">
    
    <label for=""><span class="title">Japan <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="35e1fa6a-8f6f-455a-a8a6-4a9688a065a9">
    
    <label for=""><span class="title">Kroatien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="960f70fa-f75f-4985-a6ff-cac0d32c793e">
    
    <label for=""><span class="title">Niederlande <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="fe55d0ec-fa52-4e49-9b6b-e9ca25dd8ed4">
    
    <label for=""><span class="title">Polen <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="c3fc1fe9-8fd5-4542-b1d3-9c14d9111293">
    
    <label for=""><span class="title">Rumänien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="edff321d-7b77-4541-8d3b-96fb6a67397e">
    
    <label for=""><span class="title">Russische Föderation <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="5a64cebf-8fa7-4fcf-8fb6-f388a3044673">
    
    <label for=""><span class="title">Saudi-Arabien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="7659ef16-eb1d-4e1e-b686-11c1b47355bf">
    
    <label for=""><span class="title">Schweden <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="e613ccc1-ed32-4415-bca2-44a4fd9e7538">
    
    <label for=""><span class="title">Schweiz <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="a21d8865-d275-4e70-ae57-8e5d436e19b8">
    
    <label for=""><span class="title">Slowakei <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="a183638c-83c0-40bb-a651-a421de40e8a2">
    
    <label for=""><span class="title">Slowenien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="be15bd89-fb88-44f3-b053-4263ae9be1ef">
    
    <label for=""><span class="title">Spanien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="5b698f1d-849e-4204-a3b7-7ab19435108a">
    
    <label for=""><span class="title">Südkorea <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="a07ae7e8-6835-4d60-83cb-9abc94b0d99d">
    
    <label for=""><span class="title">Taiwan <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="a5427d7c-51bd-4363-afe2-f1a0de83b874">
    
    <label for=""><span class="title">Tschechien <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="c19744f4-827c-4297-b496-077c13643d17">
    
    <label for=""><span class="title">Türkei <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="c5fc5c81-7ef7-46e8-9776-44b661d112cf">
    
    <label for=""><span class="title">USA <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="6d1f4acd-5c03-49d8-aa24-d6ceddc38b82">
    
    <label for=""><span class="title">Ukraine <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="b9f60bd1-7a8f-4919-b5c7-67398264cf42">
    
    <label for=""><span class="title">Ungarn <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="0af89bd7-c517-41b1-b6a4-b9feaf672645">
    
    <label for=""><span class="title">Vereinigte Arabische Emirate <strong></strong></span></label>
  
</li>

      <li>
  <input type="checkbox" name="classification[][selected]" value="844022d0-8e44-4580-93f9-63f31088b77e">
    
    <label for=""><span class="title">Österreich <strong></strong></span></label>
  
</li>

  </ul>
  </div>
  </li>
  <li>
      <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
      <span class="title">Sprache</span>
      <div>
        <ul class="split-list">
      <li>
        <input type="radio" name="language" value="de">
          <label for=""><span class="title">deutsch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="en">
          <label for=""><span class="title">englisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="ar">
          <label for=""><span class="title">arabisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="bg">
          <label for=""><span class="title">bulgarisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="cs">
          <label for=""><span class="title">tschechisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="da">
          <label for=""><span class="title">dänisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="es">
          <label for=""><span class="title">spanisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="fr">
          <label for=""><span class="title">französisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="it">
          <label for=""><span class="title">italienisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="hu">
          <label for=""><span class="title">ungarisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="hr">
          <label for=""><span class="title">kroatisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="ja">
          <label for=""><span class="title">japanisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="ko">
          <label for=""><span class="title">koreanisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="nl">
          <label for=""><span class="title">holländisch/span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="pt">
          <label for=""><span class="title">portugiesisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="pl">
          <label for=""><span class="title">polnisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="ru">
          <label for=""><span class="title">russisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="sl">
          <label for=""><span class="title">slowenisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="sk">
          <label for=""><span class="title">slowakisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="sv">
          <label for=""><span class="title">schwedisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="tr">
          <label for=""><span class="title">türkisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="uk">
          <label for=""><span class="title">ukrainisch</span></label>
          
        
      </li>
      <li>
        <input type="radio" name="language" value="de-CH">
          <label for=""><span class="title">schweizer-deutsch</span></label>
          
        
      </li>
  </ul>
  </div>
  </li>
</ul>
</nav>


  </div>
</div>
<div class="search row expanded">
  <div class="column">
    <div class="search">
      <%= form_tag(root_path, :method => "get", id: "search-form") do %>
          <div class="input-group">
            <div class="input-group-button">
              <button type="submit" class="search_icon "><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="search row expanded">
            <div class="column">
                <div class="search">
                    <div class="input-group">
                        <div class="input-group-button">
                            <button type="submit" class="search_icon "><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <%= text_field_tag :search, params[:search], placeholder: "Suchbegriff",class:"input-group-field" %>
                    </div>
                </div>
            </div>
        </div>
    </section>

<% end %>
