<% content_for(:title, "Backend") %>

<section>

    <div class="row">
        <div class="small-12">
            <%= paginate @dataCycleObjects %>
        </div>
    </div>

    <% if @mode == 'list' %>
        <%= render 'data_cycle_core/backend/partials/list', dataCycleObjects: @dataCycleObjects %>
    <% else %>
        <%= render 'data_cycle_core/backend/partials/grid', dataCycleObjects: @dataCycleObjects %>
    <% end %>

    <div class="row">
        <div class="small-12">
            <%= paginate @dataCycleObjects %>
        </div>
    </div>

</section>
