<span class="asset-file-links">
  <a href="<%= asset.content_url %>" class="asset-file-link-tag" target="_blank" data-dc-tooltip="<%= t('actions.open_asset', locale: active_ui_locale) %>">
    <i class="fa fa-external-link" aria-hidden="true"></i>
  </a>
</span>
