<% breadcrumb :edit, @watch_list, :headline %>

<% content_for :top_content do %>

<div class="reveal-blur">

    <div id="edit-form">

        <%= render 'form', keyPrefix: 'watch_list[datahash]', content: @watch_list %>

    </div>

</div>

<% end %>
