<% web_url = thing_thumbnail_url(object, nil, ['web_url', 'thumbnail_url']) %>
<div class="width-content reveal" id="<%= html_id %>" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="name"><%= object.title %></div>
  <div class="image">
    <img class="lazyload" data-src="<%= web_url %>" />
  </div>
</div>
