<div class="tags">
  <ul class="no-bullet no-format">
    <% item.display_classification_aliases(local_assigns[:classification_tree_visibility] || 'tile').each do |classification_alias| %>
      <li data-tooltip data-allow-html="true"
          data-tooltip-class="tooltip classification"
          aria-haspopup="true"
          class="tag <%= 'mapped' unless item.assigned_classification_aliases.include?(classification_alias) %>"
          title="<%= classification_tooltip(classification_alias) %>">
        <%= classification_alias.internal_name %>
      </li>
    <% end %>
  </ul>
</div>
