
    <% object = ("DataCycleCore::"+("#{prop['type_name']}".classify)).constantize %>

    <% unless value.blank? %>
    <div class="detail-type media">

        <span class="detail-label"><strong><%= label %></strong></span>

        <div class="media-thumbs">

            <!-- todo: remove when videos are available -->
            <% if prop['label'] != 'Videos' %>

                <% unless value.blank? %>

                    <% value.each do |item| %>

                        <% image = object.where(id: item).first %>

                        <% unless image.blank? %>

                            <div class="thumbnail" style="background-image: url(<%= image.metadata['thumbnailUrl'] %>)"></div>

                        <% end %>

                    <% end %>

                <% end %>

            <% end %>

        </div>

    </div>
    <% end %>
