<%= render 'data_cycle_core/contents/tiles/default_tile', local_assigns do %>
  <% if item.try(:image).present? %>
    <div class="video-thumbnail">
      <img data-src="<%= item.try(:image) %>" alt="<%= item.try(:title) %>" class="lazyload" />
    </div>
  <% end %>
<% end %>
