.grid-external-modules {
  .card {
    width: 100%;
    margin: 0;
  }

  .grid-parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }

  .pg-stats {
    .accordion-title {
      cursor: pointer;
      padding: 1rem;

      h6 {
        color: $black;
        font-size: 0.8rem;
      }

      h5 {
        width: calc(100% - 1.2rem);
      }
    }

    .pg-table-stats {
      list-style: none;
      margin: 0;
      font-size: 0.9rem;

      li.table-stat {
        display: flex;

        border-bottom: 1px dashed $medium-gray;
        margin-bottom: 0.2rem;
        flex-flow: row nowrap;

        .table-name {
          flex: auto;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .table-count {
          margin-left: 0.5rem;
        }

        .table-size {
          font-weight: 600;
          margin-left: 0.5rem;
        }

        .table-name,
        .table-count,
        .table-size {
          white-space: nowrap;
        }
      }
    }
  }
}

.accordion-content {
  border: none;

  &.remote-render,
  &.remote-rendering {
    padding: 1.7rem 1rem;

    &::before,
    &::after {
      margin: 1rem;
    }
  }
}

.card .card-divider h5 {
  color: var(--black);
  font-size: 1.2rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  width: auto;
}

.card .card-divider h6 {
  font-size: 0.8rem;
  margin-top: 0.5rem;

  .copy-to-clipboard {
    display: inline;
    width: auto;
  }
}

.card .card-divider {
  padding: 0.8rem 1rem;

  .header {
    display: flex;
    gap: 1rem;
  }
}

.card-divider.accordion-title {
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-bottom: none;

  h5 {
    max-width: calc(100% - 1.2rem);
  }

  h6 {
    color: var(--black);
  }

  &::before {
    color: $dark-gray;
    top: unset;
    bottom: 0.7rem;
    font-size: 1.5rem;
  }
}

.accordion.card.import-module {
  &.deactivated {
    border-color: var(--nearly-white);

    .card-divider {
      border-color: var(--nearly-white);
      background-color: var(--nearly-white);

      h5 {
        text-decoration: line-through;
      }
    }
  }

}

.accordion.import-module .accordion-item {
  .accordion-title {
    border-radius: 0;

    .header {
      .import-data-timestamps {
        display: flex;
        flex: auto;
        justify-content: flex-end;
        align-items: flex-start;
        color: var(--dark-gray);
        margin: 0;
      }
    }
  }

  .accordion-content:not(.remote-render):not(.remote-rendering) {
    padding: 0;
    // min-height: 3.5rem;
  }

  &.is-active .accordion-title {
    padding-bottom: 1rem;
  }
}

.card-section .mongo-db-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-section.buttons {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: var(--light-gray);

  &.deactivated {
    background-color: var(--nearly-white);
  }

  .download-import {
    grid-column: 1 / -1;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .deactivated {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-gray);
    font-weight: 300;
  }

  >span.button {
    opacity: 0.25;
    cursor: not-allowed;

    &:hover {
      background-color: var(--primary-color);
    }
  }
}

ul.import-data-timestamps li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;

  &::before {
    font-family: 'FontAwesome';
    content: '\f111';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1.5rem;
    font-size: 0.4rem;
  }

  &.check-icon {
    &::before {
      font-size: 0.9rem;
      content: '\f00c';
    }
  }

  &.success-color {
    color: var(--success-color);

    &::before {
      font-size: 0.9rem;
      content: '\f00c';
    }
  }

  &.alert-color {
    color: var(--alert-color);

    &::before {
      font-size: 0.9rem;
      content: '\f00d';
    }
  }

  &.primary-color {
    color: var(--primary-color);

    &::before {
      font-size: 0.9rem;
      content: '\f110';
      animation: fa-spin 2s infinite linear;
    }
  }
}

.dash_board {
  h4 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .fa {
      font-size: inherit;
    }
  }

  .card.background-jobs {
    .card-section {
      h5 {
        font-size: 1.1rem;
        color: var(--dark-gray);
        margin-bottom: 0.1rem;

        &.has-jobs {
          color: var(--black);
          font-weight: normal;
        }
      }
    }
  }
}

.rebuild_classification_mappings {
  &.disabled {
    pointer-events: none;
  }
}

.maintenance-administration {
  a>.fa {
    font-size: 0.9rem;
  }
}
