.detail-header {
  background: $light-gray;
  min-height: 10rem;
}

.detail-content {
  .object[data-editor='included-object'] {
    >.detail-type>.buttons {
      top: 0;
    }
  }
}

// Details for Show
.detail-content {
  .buttons {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    margin: 0;

    a {
      position: relative;
      padding: 0 3px;
      display: inline-block;

      &:last-child {
        padding: 0 0 0 3px;
      }
    }

    .button-prime {
      &.small {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;

        .fa {
          line-height: 1.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }

  .show-content {
    .detail-header-info {
      font-size: 0.9rem;
      text-align: center;

      .fa {
        font-size: 1rem;
      }
    }
  }

  &:not(.imageobject) {
    p {
      margin-bottom: 0.5rem;

      &:last-child {
        margin: 0;
      }
    }

    .type {
      &.properties {
        .detail-type.object_browser {
          li.content {
            background-color: transparent;

            &.has-changes {

              &.new.bild .thumbnail,
              &.new.image-object .thumbnail,
              &.new.video .thumbnail,
              &.new.video-object .thumbnail,
              &.new:not(.image) {
                background-color: rgba($success-color, 0.3) !important;
                box-shadow: 0 0 1px darken($success-color, 20%);
              }

              &.remove.bild .thumbnail,
              &.remove.image-object .thumbnail,
              &.remove.video .thumbnail,
              &.remove.video-object .thumbnail,
              &.remove:not(.image) {
                background-color: rgba($alert-color, 0.2) !important;
                box-shadow: 0 0 1px $alert-color;
              }
            }
          }
        }

        .detail-type.has-changes .detail-label,
        .detail-type.selected .detail-label {
          background: none;
        }

        .has-changes.tag {
          &.new {
            background-color: rgba($success-color, 0.9) !important;
          }

          &.remove {
            background-color: rgba($alert-color, 0.9) !important;
          }
        }

        .translatable-attribute-container {
          .translatable-attribute {

            &.remote-render,
            &.remote-rendering,
            &.remote-render-failed {
              box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
              padding: 2.2rem 1rem 1rem 1rem;
              border-radius: $global-radius;
              min-height: 4.7rem;

              &::before,
              &::after {
                margin: 2.2rem 1rem 1rem 1rem;
              }
            }
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }

        .detail-type.object {
          .translatable-attribute-container {
            .translatable-attribute {

              &.remote-render,
              &.remote-rendering,
              &.remote-render-failed {
                box-shadow: none;
                padding: 0.4rem 0 0.4rem 0.7rem;
                min-height: 2.3rem;

                &::before,
                &::after {
                  margin: 0.4rem 0 0.4rem 0.7rem;
                }
              }
            }
          }
        }

        .detail-type {
          position: relative;
          box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
          padding: 2.2rem 1rem 1rem 1rem;
          border-radius: $global-radius;
          min-width: 150px;
          background-color: $white;

          .detail-type {
            background-color: transparent;
          }

          &.has-changes:not(.geographic),
          &.has-changes.geographic .map-info {
            background-color: rgba($light-gray, 0.5);

            &::after {
              content: '\f040';
              font-family: FontAwesome;
              font-size: 1.5rem;
              font-weight: normal;
              font-style: normal;
              margin: 0;
              text-decoration: none;
              position: absolute;
              top: 0.1rem;
              right: 0.2rem;
              color: darken($light-gray, 10%);
              line-height: 1;
              z-index: -1;
            }

            &:not(.object_browser) {
              &.new {
                &::after {
                  content: '\f067';
                  color: rgba($success-color, 0.3);
                }

                background-color: rgba($success-color, 0.1) !important;
                box-shadow: 0 0 1px darken($success-color, 20%);
              }

              &.remove {
                &::after {
                  content: '\f1f8';
                  color: rgba($alert-color, 0.3);
                }

                background-color: rgba($alert-color, 0.1) !important;
                box-shadow: 0 0 1px $alert-color;
              }

              &.irrelevant {
                &::after {
                  display: none;
                }

                background-color: rgba($light-gray, 0.5) !important;
                background-image: repeating-linear-gradient(135deg,
                  transparent,
                  transparent 35px,
                  rgba(255, 255, 255, 0.5) 35px,
                  rgba(255, 255, 255, 0.5) 70px);
                opacity: 0.7;
              }
            }

            >span {
              display: inline-block;
              margin-right: 2rem;
            }
          }

          &.has-changes.geographic {
            &.new {

              .geographic,
              .map-info {
                background-color: rgba($success-color, 0.1) !important;
                box-shadow: 0 0 1px darken($success-color, 20%);
              }

              .map-info::after {
                content: '\f067';
                color: rgba($success-color, 0.7);
              }
            }

            &.remove {

              .geographic,
              .map-info {
                background-color: rgba($alert-color, 0.1) !important;
                box-shadow: 0 0 1px $alert-color;
              }

              .map-info::after {
                content: '\f1f8';
                color: rgba($alert-color, 0.7);
              }
            }
          }

          &.selected {
            background: rgba($primary-color, 0.1);
            box-shadow: 0 0 1px $primary-color;
          }

          &:not(:last-child) {
            margin-bottom: 1rem;
          }

          >div:not(.detail-type, .map-info, .geographic) {
            &:not(:last-child) {
              margin-bottom: 1rem;
            }
          }

          &.media {
            position: relative;
            text-align: left;
            padding-top: 2.5rem;

            .media-thumbs {
              display: flex;
            }
          }

          .detail-label {
            position: absolute;
            left: 0;
            top: 0;
            background: transparent;
            color: $dark-gray;
            padding: 0.4rem 0.7rem;
            font-size: 0.9rem;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            >*:not(:last-child) {
              margin-right: 0.3rem;
            }

            .copy-to-clipboard {
              display: inline-flex;
            }
          }

          .detail-content {
            position: relative;
            display: inline-block;

            &.tags {
              display: inline-flex;
              gap: 0.3rem;
            }
          }
        }
      }
    }
  }

  .type {
    &.translations {
      .header {
        margin: 0 0 1rem 1.25rem;
      }
    }
  }

  .object.detail_object {
    padding-bottom: 1rem;

    >.detail-type {
      padding-left: 1rem;
    }
  }
}

.content-diff-wrapper {
  .content-diff-header {
    margin-top: 1rem;

    .detail-header-info.diff {
      display: flex;
      background: rgba($light-gray, 0.5);
      padding: 1rem;
      box-shadow: 0 0 0 1px rgba($dark-gray, 0.5) inset;
      border-radius: $global-radius;

      .meta-data-splitter {
        flex: 0;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa {
          font-size: 1.6rem;
          line-height: 1.2rem;
        }

        a {
          display: flex;
          align-items: center;

          &:hover .fa::before {
            content: '\f0ec';
          }
        }
      }

      .history-different-locales {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.5rem;
        color: $warning-color;

        .fa {
          font-size: 1.4rem;
        }
      }

      .metadata {
        position: relative;
        flex: 1;

        .diff-header {
          cursor: pointer;
        }
      }
    }
  }

  .detail-content-wrapper {
    padding-top: 1rem;
    border-top: 1px solid rgba($light-gray, 0.5);
  }
}

.has-changes {
  ins {
    background-color: rgba($success-color, 0.5);
    text-decoration: none;
  }

  del {
    background-color: rgba($alert-color, 0.5);
  }
}

.type {
  color: var(--classification-color, inherit);
}

.validation-message {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
