@media print {
  * {
    overflow: visible !important;
  }
  /* fix for firefox bug */
  body,
  h1,
  h2,
  h3,
  ol,
  ul,
  div {
    float: none !important;
  }
  /* fix end */
  @page {
    margin: 0 10mm 10mm;
  }
  body {
    background: #fff;
    line-height: 2;
    border-top: none;
    margin: 10mm 0 0;
    font-size: 16px;
  }
  .column,
  .columns {
    padding-left: 0;
    padding-right: 0;
  }
  a {
    &[href]:after {
      content: none !important;
    }
    &:visited,
    &:link {
      text-decoration: none;
    }
  }
  img {
    &[src]:after {
      content: none !important;
    }
  }
  .top-bar-right,
  .detail-header-functions,
  .detail-header .edit,
  .detail-content .buttons,
  .edit-header,
  .detail-header .embedded_object .addContentObject,
  i.fa.fa-times,
  i.fa.fa-plus {
    display: none !important;
  }
  .off-canvas-wrapper,
  .off-canvas-content {
    display: block;
    position: relative;
    padding-top: 0;
  }
  .off-canvas-content {
    &:after {
      box-shadow: none;
    }
  }
  header {
    position: relative;
    display: block;
    border-bottom: 0.3rem solid #c30000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    .top-bar {
      max-height: none;
      .top-bar-title {
        display: block;
        line-height: inherit;
        .logo {
          img {
            max-height: 35px;
            width: auto;
          }
        }
        .title {
          text-align: center;
          position: absolute;
          width: 100%;
          font-weight: bold;
          -webkit-print-color-adjust: exact;
          color: #6f6f6f !important;
        }
      }
    }
  }
  .no-edit-bar {
    padding-top: 0;
  }
  .breadcrumb {
    padding: 0;
    height: auto;
    li,
    ul li .breadcrumb-text {
      max-width: none;
      i.fa {
        font-size: 0.9rem;
      }
    }
  }
  .fa {
    font-size: 1rem;
  }
  .tags {
    font-size: 0.9rem;
    .tag-group-wrapper {
      margin: 0 0.5rem;
      .tag {
        font-size: 0.9rem;
        line-height: inherit;
        margin: 0;
        padding: 0;
        &:not(:last-child):after {
          content: ', ';
        }
      }
    }
  }
  .detail-header {
    padding-top: 0;
    min-height: 0;
    .detail-header-info {
      position: relative;
      top: 0;
      left: 0.5rem;
      text-align: left;
    }
    .validity_period {
      font-size: 0.9rem;
      margin: 0 0.5rem;
    }
    .status-container {
      font-size: 0.9rem;
      text-align: left;
      margin: 0.5rem;
      display: block;
      i {
        display: none;
      }
    }
    > .title {
      color: #c30000 !important;
    }
  }
  .detail-content,
  .detail-content:not(.imageobject) {
    .type.properties {
      .detail-type {
        border: 1px solid #c1c1c1;
        page-break-inside: avoid;
        .detail-label {
          vertical-align: top;
          opacity: 1;
          color: #c30000 !important;
        }
        .detail-type {
          padding: 0.2rem;
          &.geographic {
            padding: 1rem;
          }
        }
        &.media {
          .thumbnail {
            height: 225px;
            background-image: inherit !important;
            .description {
              height: auto;
              opacity: 1;
              display: block;
            }
          }
        }
      }
    }
  }
  .edit-content-form .asset-object .inner {
    border: 1px solid #c1c1c1;
  }
  footer {
    .print-footer {
      display: block;
      position: fixed;
      bottom: 0rem;
      width: 100%;
      background: #fff !important;
      .left {
        float: left !important;
      }
      .right {
        float: right !important;
      }
      .logo {
        display: block;
        a {
          display: block;
          img {
            max-height: 35px;
            width: auto;
          }
        }
      }
      .title {
        display: none;
      }
    }
  }
  section.filters > .row > .accordion {
    display: none;
  }
  .publications-list {
    .accordion {
      > .accordion-item {
        > .accordion-title {
          span.title {
            border-bottom: 1px solid $black;
            > span.title-container {
              margin-left: 0;
              > .icon {
                display: none;
              }
            }
          }
        }
      }
    }
    span.title::before {
      display: none;
    }
    .publication-day {
      > .title-row {
        border-bottom: 1px solid $dark-gray;
      }
    }
    .publication-content {
      .flex span.title {
        display: inline;
        white-space: normal;
      }
      &::before {
        display: none !important;
      }
    }
  }
}
