<div class="glass home-container">
  <div class="home-container-content">
    <!--[if lt IE 9]>
      <div class="legacy-ie-fix"></div>
    <![endif]-->
    <div class="columns">
      <%= render 'logo' %>
      <h1><%= t('welcome', locale: active_ui_locale) %></h1>
    </div>

    <div class="columns centered-text">
      <%= link_to 'Pixelpoint Login', user_pixelpoint_aad_v2_omniauth_authorize_path, method: :post, class: 'button', style: "display: inline-flex; align-items: center; margin: 0 0 1rem 0;" %>
    </div>
  </div>

  <%= render 'footer_logo' %>
</div>
