<%= render 'data_cycle_core/contents/viewers/attribute_viewer', key: key, definition: definition, value: value, options: options do %>

    <% image = value.first %>
    <div class="thumb">
        <% if !image.file.thumb_preview.file.nil? && image.file.thumb_preview.file.exists? %>
            <a href="<%= image.file.url %>" target="_blank">
                <img src="<%= image.file.thumb_preview.url %>" />
            </a>
        <% else %>
            <div class="placeholder">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <span>
                    Asset wird verarbeitet.
                </span>
            </div>
        <% end %>
    </div>

<% end %>
