<%= render 'data_cycle_core/contents/viewers/attribute_viewer', key: key, definition: definition, value: value, options: options do %>

    <span class="detail-label"><%= definition['label'] %></span>
    <span class="detail-content"><%= value.to_datetime.to_s(:german_date_format) unless value.blank? %></span>

<% end %>