<% if DataCycleCore::Feature::LifeCycle.allowed?(content) && [@split_source, @diff_source].all?(&:nil?) %>
  <div class="content-pool-buttons">
    <% DataCycleCore::Feature::LifeCycle.ordered_classifications(content).each do |stage_name, stage| %>

      <span class="content-pool<%= content.life_cycle_stage?(stage[:id]) ? ' active' : ' hollow button' + (can?(:set_life_cycle, content, stage.merge({ name: stage_name })) ? '' : ' disabled') %>">
        <%= link_to_if(!content.life_cycle_stage?(stage[:id]) && can?(:set_life_cycle, content, stage.merge({ name: stage_name })),
          stage_name,
          polymorphic_path(content, life_cycle: {
            id: stage[:id],
            name: stage_name
          }, action: :update_life_cycle_stage),
          method: :patch,
          title: t('actions.move_to', data: stage_name, locale: DataCycleCore.ui_language),
          data: {
            tooltip: true,
            click_open: false
          }) do %>
          <%= stage_name %>
        <% end %>
      </span>

    <% end %>
  </div>
<% elsif DataCycleCore::Feature::LifeCycle.allowed?(content) && [@split_source, @diff_source].any?(&:present?) %>
  <%= render 'data_cycle_core/contents/viewers/classification', local_assigns %>
<% end %>
