<%= render 'data_cycle_core/contents/viewers/attribute', local_assigns do %>

  <div class="inner">
    <div class="thumb">
      <% if content.try(:content_url).present? %>
        <a href="<%= content.try(:content_url) %>" target="_blank">
          <img src="<%= value.try(:html_safe) %>" />
        </a>
      <% else %>
        <img src="<%= value.try(:html_safe) %>" />
      <% end %>
    </div>
  </div>

<% end %>
