<%= render 'data_cycle_core/contents/viewers/attribute_viewer', key: key, definition: definition, value: value, options: options, data_attributes: { editor: definition.dig('editor', 'type').try(:underscore) } do %>

    <span class="detail-content"><%= value.html_safe unless value.nil? %></span>

<% end %>
