<%= render 'data_cycle_core/contents/viewers/attribute_viewer', key: key, definition: definition, value: value, options: options do %>

    <span class="detail-content"><%= link_to value.html_safe, value.html_safe, target: :_blank unless value.nil? %></span>

<% end %>
