body {
  background-color: $body-background;
  border-top: 0.3rem solid $customercolor;
}

/* Headings */
h2 {
  &.form-heading {
    text-align: center;
    font-size: 2rem;
    padding: 4rem 0;

    i {
      font-size: 2rem;
      margin-right: 0.75rem;
    }
  }
}

a,
button,
.button,
.reveal {
  outline: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

h5 {
  color: $dark-gray;
}

/* Forms */
form {
  label {
    font-size: 0.9rem;
  }

  input {
    font-size: 1rem;
  }
}

button,
.button {
  font-weight: normal;
  cursor: pointer;
  line-height: 1.3;
  padding: 0.75rem 1rem;
}

.button.success {
  color: white;

  &:focus,
  &:hover {
    color: white;
  }
}

.html-feature-missing {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.5);
  z-index: 999999999999;
  h2 {
    display: block;
    margin: 40% 3rem 0 3rem;
    color: $alert-color;
    text-align: center;
    background: white;
    padding: 2rem;
  }
}

.pagination-container {
  padding: 1rem 0;
  a,
  button {
    margin: 0;
  }
}

.edit-form {
  padding-bottom: 400px;
}

.no-edit-bar {
  padding-top: 3.5rem;
}

.form-element {
  position: relative;
}

.edit-header {
  background-color: lighten($primary-color, 50%);
  height: 3.5rem;
  line-height: 3.5rem;

  &.fix-edit-bar {
    position: fixed;
    width: 100%;
    z-index: 1006;
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .edit-name {
    color: $primary-color;
    position: absolute;
    left: 1.5rem;
  }

  .history-switcher {
    position: absolute;
    right: 2rem;

    a#show-history-link {
      padding-bottom: 12px;
    }

    ul {
      margin-top: 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      &::before {
        content: '▲';
        font-size: 28px;
        top: -32px;
        color: white;
        transform: scaleX(3);
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
        position: absolute;
        left: auto;
        right: 10px;
        width: 0;
        height: 0;
      }

      li {
        position: relative;
        text-align: left;
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 0 0 0.5rem 0;
        display: block;
      }
    }
  }
}

footer {
  // background-image: url('dc-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 8rem;
  opacity: 0.33;
  background-size: 180px;
}

.detail-header {
  position: relative;
  background: $light-gray;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
  margin: 1rem 0 0 0;

  form.button_to {
    display: inline-block;
  }

  > .title,
  > .name input,
  > .headline_external input,
  > .headline input {
    font-size: 2rem;
    font-weight: 200;
    padding: 0 5rem 0 5rem;
    text-align: center;
    position: relative;
  }

  .hidden-classifications {
    text-align: left;
    .accordion-item {
      .accordion-content {
        position: relative;
        background: none;
        padding: 0;
        margin-left: 1.5rem;
        > .classification {
          position: relative;
        }
      }
      .accordion-title {
        display: inline-block;
        text-align: left;
        padding: 0.2rem 0;
        font-size: 1rem;
        color: $black;

        &::before {
          font-family: 'FontAwesome';
          content: '\f107';
          margin: 0 0.3rem 0 0;
          position: relative;
          top: 0;
          right: 0;
          left: 0;
          display: inline-block;
          text-align: center;
          width: 1rem;
        }
      }
      &.is-active .accordion-title::before {
        content: '\f106';
      }
    }
  }

  .external-connections {
    border-bottom: 0px;
    margin-top: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    .external-connection {
      position: relative;
      margin: 0 1rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      .external-link {
        margin-left: 0.5rem;
      }
      .external-link-icon {
        vertical-align: middle;
      }
    }
  }

  > .title {
    padding: 0 5rem 1rem 5rem;
    word-break: break-word;
  }

  .button-prime {
    outline: none;
    display: inline-block;
    vertical-align: middle;
  }

  .headline_external,
  .name,
  .headline {
    position: relative;
  }

  > .detail-type,
  > .hidden-classifications .detail-type {
    text-align: left;

    &.mapped-classification {
      color: $dark-gray;
      .tag {
        background-color: rgba($dark-gray, 0.5);
      }
    }

    &.classification .icon,
    &.validity_period .icon.gultigkeitszeitraum {
      i:before {
        content: '\f02c';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }

      &.themenbereiche {
        i:before {
          content: '\f07c';
        }
      }

      &.zielmarkt {
        i:before {
          content: '\f192';
        }
      }

      &.bundesland {
        i:before {
          content: '\f041';
        }
      }

      &.gultigkeitszeitraum {
        i:before {
          content: '\f017';
        }
      }
    }
  }

  > .description {
    position: relative;
    padding: 0 5rem 1rem 5rem;
  }

  .detail-header-info {
    position: absolute;
    left: 1rem;
    top: 1rem;

    .type {
      display: inline-block;
      transition: opacity ease-in-out 0.25s;
    }
  }

  &.editor {
    .detail-header-info {
      position: relative;
      left: 0;
      top: 0;
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  .bookmark {
    position: absolute;
    right: 1rem;
    top: -4px;
    color: $dark-gray;

    .bookmarkinfo {
      font-size: 0.8rem;
      font-style: italic;
    }

    &:focus,
    &:hover {
      color: $primary-color;
    }

    &.marked {
      color: $primary-color;

      i:before {
        content: '\f02e';
      }
    }
  }

  //.tags {
  .validity_period {
    text-align: left;
    margin-top: 0.5rem;
    color: $dark-gray;

    .date {
      color: $black;
    }
  }

  .daterange span.bis,
  .daterange span.icon {
    color: $dark-gray;
  }

  .daterange span.bis {
    font-style: italic;
  }

  .daterange {
    padding: 1rem 1rem 0 1rem;
    text-align: left;

    &.validation-container {
      margin-bottom: 1rem;
    }

    label {
      position: relative;
      display: inline-block;
      top: initial;
      left: initial;
    }

    input {
      min-width: 100px;
    }

    &.focus {
      border-color: $primary-color;
      background: white;

      input {
        background: $white;
      }
    }
  }

  .external-source {
    padding-top: 1em;
  }

  .edit {
    position: absolute;
    right: 1rem;
    bottom: 1rem;

    a span {
      display: block;
      text-indent: -9999px;
    }

    .delete-content-link {
      background-color: map-get($foundation-palette, alert);
    }
  }

  label {
    text-align: left;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
    z-index: 12;
    color: rgba($dark-gray, 50%);
    transition: color ease-in-out 0.25s;

    &.fixed-toolbar {
      position: fixed;
      top: 55px;
      left: 2rem;
      z-index: 13;
    }

    &.fixed-split-toolbar {
      position: fixed;
      top: 182px;
      left: 52%;
      z-index: 13;
    }
  }

  .translated + label {
    left: 2.3rem;
  }
  .translated + label.fixed-toolbar {
    left: 2.3rem;
  }
  .translated + label.fixed-split-toolbar {
    left: 53%;
  }

  .focus {
    .ql-disabled {
      .ql-editor {
        background: $light-gray;

        &:focus {
          background: $light-gray;
        }
      }
    }
  }

  input,
  .ql-editor,
  .daterange,
  .embedded_object:not(.publication_schedule),
  .detail_object,
  .readonly-select,
  .select2 {
    border: 1px solid $light-gray;
    background: $light-gray;
    outline: none;
    height: auto;
    line-height: 1;
    margin: 0;
    border-color: $light-gray;
    box-shadow: 0 0 0 $dark-gray;
    position: relative;
    transition: box-shadow 0.1s, border-color 0.25s ease-in-out;
    min-width: 280px;

    &:hover {
      box-shadow: 0 0 7px $primary-color; // z-index: 1;
    }

    &:focus {
      border-color: $primary-color;
      background: white;
    }

    &::placeholder {
      font-weight: 200;
      color: $dark-gray;
    }

    &[readonly] {
      background: $light-gray;
    }
  }

  .form-element.release_status_comment {
    .ql-editor {
      background-color: white;
    }
  }

  .form-element.focus > .editor-block > .ql-toolbar.fixed-toolbar,
  .form-element.focus > .editor-block > .ql-toolbar.fixed-split-toolbar {
    background: white;
    border-right: 1px solid $primary-color;
    border-left: 1px solid $primary-color;
  }

  .form-element.focus > .editor-block > .quill-editor > .ql-editor {
    border-color: $primary-color;
    background: white;
  }

  .focus {
    label {
      z-index: 20;
    }
  }

  &.editor {
    padding: 0;
    background: none;

    .translated {
      position: absolute;
      z-index: 12;
      left: 1rem;
      top: 0.7rem;
      color: $dark-gray;
      line-height: 1.5;

      &.fixed-toolbar {
        position: fixed;
        top: 62px;
        z-index: 13;
      }
      &.fixed-split-toolbar {
        position: fixed;
        top: 190px;
        left: 52%;
        z-index: 13;
      }
    }

    .validation-container {
      position: relative;
    }

    .form-element {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &.release_status_comment {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-gray;
      }

      &.object {
        > .translated {
          top: 1.5rem;
          left: 1.5rem;
          color: $black;
        }
        &:hover,
        &:focus {
          > .translated {
            color: $black;
          }
        }
      }

      label {
        padding-top: 0.5rem;
        opacity: 1;
        color: rgba($dark-gray, 50%);
      }

      [type='checkbox'] + label[for],
      [type='radio'] + label[for] {
        margin-left: 0.5rem;
        left: 2rem;
        padding: 0;
        top: 0;
      }

      &:focus,
      &:hover {
        > label,
        > .translated {
          color: $primary-color;
        }
      }
    }

    .bookmark {
      .detail-header-info {
        top: -2rem;
        left: 0.5rem;
      }
      display: none;
    }

    .input input,
    .string:not(.date, .name, .datetime, .headline, .headline_external, .text_editor) input,
    input.single_date,
    .single_date input.form-control,
    .number input {
      padding: 2.5rem 1rem 2rem 1rem;
      line-height: initial;
    }

    .headline_external input,
    .name input,
    .headline input {
      padding: 1rem 5rem 1.5rem 5rem;
    }

    .publish_at {
      > input.date.read-only {
        padding: 2.5rem 1rem 1rem 1rem;
        line-height: initial;
      }
    }

    .description {
      padding: 0;
    }

    .daterange {
      .form-element .icon {
        i:not(.fa-ban) {
          display: none;
        }
      }

      .form-element {
        display: inline-block;
        white-space: nowrap;

        input {
          box-shadow: none !important;
          border: 0 !important;
          display: inline-block;
        }

        .single_error {
          left: 1rem;
          top: -2rem;
          right: auto;
        }

        .single_warning {
          left: 1rem;
          top: -2rem;
          right: auto;
        }
      }
    }
  }
}

.tooltip.classification {
  max-width: 20rem;
}

.editor-block {
  position: relative;

  .ql-toolbar {
    position: absolute;
    z-index: 12;
    right: 0;
    border: 0;

    .ql-formats {
      margin-right: 0;
    }

    &.fixed-toolbar,
    &.fixed-split-toolbar {
      background: $light-gray;
      position: fixed;
      border-right: 1px solid $light-gray;
      border-left: 1px solid $light-gray;
      box-shadow: 0 1px 0 $dark-gray;
      text-align: right;

      .ql-formats {
        text-align: left;
      }
    }

    &.fixed-toolbar {
      top: 55px;
      right: 1rem;
      width: calc(100% - 2rem);
    }

    &.fixed-split-toolbar {
      top: 182px;
      right: 2rem;
      width: calc(50% - 3rem);
    }
  }

  .ql-editor {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1rem;

    p:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  .ql-container.ql-snow {
    border: 0;
  }

  .ql-tooltip {
    z-index: 21;
  }
}

.edit-header-functions {
  .form-element.agbs {
    display: inline;
    .single_error {
      top: auto;
      bottom: -3.3rem;
      &::before {
        bottom: auto;
        top: -1.2rem;
        border-top: none;
        border-bottom: 20px solid map-get($foundation-palette, alert);
      }
    }
  }
}

span.single_error,
span.single_warning,
.form-error {
  position: absolute;
  top: -3.3rem;
  right: 2rem;
  background-color: map-get($foundation-palette, alert);
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 100;
  -webkit-transition: all 0.4s ease;
  line-height: 1.5;
  text-align: left;
  font-size: 0.9rem;
  .close-error {
    display: block;
    width: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
  }
}

span.single_warning {
  background-color: map-get($foundation-palette, warning);
  .close-warning {
    display: block;
    width: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
  }
}

span.single_error:before,
span.single_warning:before,
.form-error:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid map-get($foundation-palette, alert);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transition: all 0.4s ease;
  left: 30%;
  bottom: -1.2rem;
}

span.single_warning:before {
  border-top: 20px solid map-get($foundation-palette, warning);
}

.detail-header-wrapper {
  /*background: $white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);*/
  .infolist {
    margin: 0;

    li {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  .row {
    margin-bottom: 1rem;
  }
}

.detail-content {
  .image:not(.detail-type) {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;

    .image-container {
      position: relative;
      width: 66%;
      float: left;
      text-align: center;

      .overlay-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2.5rem;
        margin-top: -2.5rem;

        .fa {
          font-size: 5rem;
        }
      }
    }
  }

  .video video {
    max-width: 100%;
    border: solid 4px $white;
    border-radius: 0;
    box-shadow: 0 0 1px rgba($black, 0.8);
  }

  .stripes {
    background: repeating-linear-gradient(
      45deg,
      lighten($light-gray, 6%),
      lighten($light-gray, 6%) 10px,
      #fcfcfc 10px,
      #fcfcfc 20px
    );
  }

  .images {
    max-width: 900px;
    margin: 2rem auto;
  }

  .image-data {
    float: right;
    background: white;
    position: relative;
    text-align: left;
    width: 33%;
    padding: 0 1.5rem;

    dl {
      dt {
        margin: 1rem 0 0 0;
        color: $dark-gray;
        font-weight: 200;
      }
    }

    &:before {
      content: '';
      position: absolute;
      position: absolute;
      left: -60px;
      top: 50px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 60px 50px 0;
      border-color: transparent #ffffff transparent transparent;
    }

    .detail-type.object_browser {
      position: relative;
    }
  }

  hr {
    padding: 1rem 0;
  }
}

.type {
  font-size: 1rem;
  font-weight: normal;
}

.select2-selection__choice {
  font-size: 0.9rem;
  word-break: break-word;
  white-space: normal;
}

.select2-selection {
  line-height: 1.2;
}

.tags,
body .v-select {
  .tag,
  .selected-tag,
  .select2-selection__choice {
    display: inline-block;
    background-color: rgba($primary-color, 0.5);
    font-size: 0.8rem;
    color: $white;
    padding: 0 0.3rem;
    margin: 0.1rem 0;
    line-height: 1.2rem;
    border-radius: $object-border-radius;
    font-weight: normal;
    word-break: break-word;
    white-space: normal;

    i {
      font-size: 0.8rem;
      margin-left: 0.2rem;
    }

    .close {
      font-size: 1.2rem;
      color: white;
      text-shadow: none;
      opacity: 0.7;
    }
  }

  .selected-tag {
    float: left;
    margin-top: 5px;
    font-family: $body-font-family;
    border: 0;
    height: auto;
    position: relative;
    padding-right: 20px;

    .close {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      padding-right: 5px;
    }
  }

  .selected-tag {
    float: left;
    margin-top: 5px;
    font-family: $body-font-family;
  }

  a.tag:hover,
  a.selected-tag:hover {
    background-color: rgba($primary-color, 0.8);
  }

  .selected-tag:hover {
    background-color: rgba(map-get($foundation-palette, alert), 0.5);
  }

  .tag {
    background-color: rgba($dark-gray, 0.8);

    &.mapped {
      background-color: rgba($dark-gray, 0.5);
    }

    &.has-changed {
      &.removed {
        background-color: rgba($alert-color, 0.8);
      }

      &.added {
        background-color: rgba($success-color, 0.8);
      }
    }
  }
}

.longtext {
  max-width: 900px;
  margin: 0 auto;
}

.reveal.without-overlay:not(.full) {
  background: none;
}

.no-results {
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.overflow-hidden {
  overflow: hidden;
}

.warning {
  color: map-get($foundation-palette, alert);
  font-style: italic;
  display: block;
  margin-top: 1rem;
}

/* Korrektur für Fehler im Neuen Eintrag erstellen reveal  */
.new-item,
.new-content-reveal {
  .validation-container {
    position: relative;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .form-crumbs {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    font-style: italic;
    padding: 0.5rem 0;
    border-top: 1px lighten($dark-gray, 20%) dashed;
    border-bottom: 1px lighten($dark-gray, 20%) dashed;

    .locale {
      margin-left: 0.2rem;
    }

    .fa {
      margin: 0 0.3rem;
      font-size: 0.8rem;
    }
  }
  .buttons .fa {
    font-size: 1rem;
  }

  .multi-step {
    &.disabled {
      button {
        .fa-spin {
          display: none;
        }
      }
    }
    .set-all-attributes {
      .copy-icon {
        display: inline-block;
        margin: -0.5rem -0.5rem -0.5rem 0.5rem;
      }
    }
    fieldset:not(.active) {
      display: none;
    }

    > .buttons {
      padding-top: 1rem;
      border-top: 1px lighten($dark-gray, 20%) dashed;

      .submit {
        display: none;
      }
    }
    fieldset.template.active ~ .translated-attribute-locales,
    fieldset.template.active ~ .form-thumbnail {
      display: none;
    }
    > .form-thumbnail {
      position: absolute;
      height: 2.8rem;
      bottom: 1rem;
      left: 1rem;
      box-shadow: 0 0 3px $dark-gray;
    }
    fieldset {
      &.active:first-of-type ~ .buttons {
        .prev {
          display: none;
        }
      }
      &.active:last-of-type ~ .buttons {
        .next {
          display: none;
        }
      }
      &.active:not(.iframe):last-of-type ~ .buttons {
        .submit {
          display: inline-block;
        }
      }
      legend {
        display: none;
      }
      .form-loading {
        text-align: center;
        line-height: 5.5rem;
        .fa {
          font-size: 2rem;
          color: $light-gray;
        }
      }

      .copy-attribute-to-all {
        position: relative;
        float: right;
        width: 2.3rem;
        height: 2.3rem;
        margin-top: 1.6rem;
        padding: 0.4rem;
        text-align: center;
        cursor: pointer;

        .loading-icon {
          display: none;
          font-size: 1.4rem;
          line-height: 1.5rem;
        }

        &:hover {
          color: $dark-gray;
        }
        &.disabled {
          color: $light-gray;
          cursor: not-allowed;
          pointer-events: none;

          .loading-icon {
            display: block;
          }
          .copy-icon {
            display: none;
          }
        }
      }

      .copy-attribute-notice {
        position: absolute;
        right: 3rem;
        display: block;
        background: white;
        color: $black;
        padding: 3px 7px;
        white-space: nowrap;
        z-index: 13;
        border-radius: 5px;
        top: 0;
        box-shadow: 0 0 3px #ccc;
        line-height: 1.5rem;
        font-size: 0.9rem;
      }

      .copy-attribute-to-all + .form-element {
        margin-right: 4rem;
      }
      .form-element {
        min-height: 3rem;
        margin-bottom: 1rem;
        .translated {
          display: none;
        }
        input {
          margin: 0;
        }
        .editor-block {
          box-shadow: inset 0 1px 2px rgba($black, 0.1);
          border: 1px solid $medium-gray;
          .ql-editor {
            padding-bottom: 0.7rem;
            padding-top: 2.1rem;
          }
          .ql-toolbar {
            .ql-formats:last-child {
              margin-right: 0;
            }
          }
        }
        &.linked {
          .object-browser {
            padding: 0.1rem;
          }
        }

        .select2 {
          padding: 0;
          width: 100% !important;
          background: $white;
          box-shadow: inset 0 1px 2px rgba($black, 0.1);
          border: 1px solid $medium-gray;
          .select2-selection {
            margin: 0.2rem 0.5rem;
            &.select2-selection--multiple {
              margin: 0.5rem;
            }
          }
          .select2-search__field {
            background: $white;
          }
        }
        &.focus {
          .editor-block,
          .select2 {
            border: 1px solid $dark-gray;
            box-shadow: 0 0 5px $medium-gray;
          }
        }
        &.daterange {
          label,
          .form-element {
            margin: 0;
            display: inline-block;
            .icon i {
              display: none;
            }
          }
          > label {
            display: block;
          }
        }
        &.agbs {
          label.agb-link {
            font-size: 1rem;
          }
        }
      }
    }
    fieldset.no-submit ~ .buttons {
      .submit {
        display: none !important;
      }
    }
  }
}

.required-field-marker {
  color: $alert-color;
}

.reveal {
  border: none;
  box-shadow: 0 0 3px rgba($black, 0.3);
  transition: top 0.3s;
  .buttons {
    text-align: right;
  }
}

body.login-page {
  background-color: darkgrey;
}

/* tabs  */
.tabs {
  border: 0;

  .tabs-title > a {
    span {
      color: $dark-gray;
      font-size: rem-calc(12);
    }
  }
}

.tabs-content {
  border: 0;
  border-top: 1px solid $light-gray;
}

/* Animations für lazyloaded iamges */
.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

a[data-toggle] {
  display: inline-block;
  &.has-tip {
    padding-bottom: 0;
  }
}

.show-sidebar {
  vertical-align: top;
}

.dropdown-pane {
  color: $black;
  line-height: 1rem;
  font-size: 0.8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1006;
  max-width: 300px;
  top: calc(100% + 1rem) !important;

  &::before {
    content: '▲';
    font-size: 28px;
    top: -17px;
    color: white;
    transform: scaleX(3);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 30px;
    width: 2rem;
    height: 1.1rem;
    line-height: 1rem;
    display: block;
    text-align: center;
    overflow: hidden;
  }

  a:not(.button) {
    color: $primary-color;
  }

  input {
    max-width: 100%;
    min-width: initial;

    &[readonly] {
      cursor: pointer !important;
    }
  }

  button,
  .button {
    font-weight: bold;
    margin: 1rem 0 0 0;
  }

  > ul {
    margin: 0;

    &.list-items {
      overflow-y: auto;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      .delete-translation-link {
        float: right;
        color: $alert-color;
      }

      .buttons {
        position: relative;
        top: 0;
        right: 0;
        float: right;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        > * {
          margin-left: 0.3rem;
        }

        span,
        a {
          color: $primary-color;
          cursor: pointer;

          &:hover,
          &:focus {
            color: darken($primary-color, 30%);
          }

          &.invalidate-data-link {
            color: map-get($foundation-palette, alert);

            &:hover,
            &:focus {
              color: darken(map-get($foundation-palette, alert), 30%);
            }
          }
        }
      }
    }

    > li {
      position: relative;
      text-align: left;
      font-size: 0.8rem;
      line-height: 1.4rem;
      padding: 0.2rem 0;
      border-bottom: 1px solid $light-gray;

      i:not(.fa) {
        color: $dark-gray;
      }
    }
  }

  &.data-links {
    text-align: center;

    li {
      text-align: left;
      display: flex;
      &.invalid {
        color: $dark-gray;
      }
      &:nth-child(even).invalid {
        color: darken($dark-gray, 10%);
      }
    }

    .center-text {
      text-align: center;
    }

    .email,
    .buttons {
      flex: auto;
      white-space: nowrap;
    }

    .buttons {
      text-align: right;
      > *,
      i.fa {
        vertical-align: middle;
        text-align: center;
      }
      .has-tip {
        border: none;
      }
    }

    .email {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
      .fa {
        font-size: 0.9rem;
        vertical-align: middle;
      }
    }
  }

  &.align-right {
    right: -18px !important;
    left: auto !important;

    &:before {
      content: '▲';
      font-size: 28px;
      top: -17px;
      color: white;
      transform: scaleX(3);
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: auto;
      right: 18px;
      width: 2rem;
      height: 1.1rem;
      line-height: 1rem;
      display: block;
      text-align: center;
      overflow: hidden;
    }
  }

  &.align-top {
    top: auto !important;
    bottom: calc(100% + 1rem) !important;

    &:before {
      top: auto;
      bottom: -17px;
      transform: scaleX(3) rotate(180deg);
    }
  }
}

.button.progress-button {
  position: relative;

  .progresstitle {
    position: relative;
    display: block;
    z-index: 2;
  }

  .progressbar-meter {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 0;
    background: darken($primary-color, 20%);
    z-index: 1;
  }
}

ul.no-format {
  margin: 0;
  line-height: initial;
}

label.has-tip {
  font-weight: normal;
}

.copy-icon.fa-stack {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  .fa {
    display: inline-block;
    position: absolute;

    &.fa-clone {
      display: block;
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
    &.fa-arrow-right {
      font-size: 0.6rem;
      top: 3px;
      left: 2px;
      line-height: 1.3rem;
      display: block;
      position: absolute;
    }
  }
}
