body{
  background-color: $white;
}

/* Headings */
h2{
  &.form-heading{
    text-align: center;
    font-size: 2rem;
    padding: 4rem 0;
    i{
      font-size: 2rem;
      margin-right: 0.75rem;
    }
  }
}

/* Forms */
form {
  label{
    font-size: 1rem;
  }
  input{
    font-size: 1rem;
  }
  button[type="submit"]{
    &.button{
      padding: 0.2rem 4.5rem;
      i{
        font-size: 3rem;
      }
    }
  }
}
