body{
  background-color: $white;
}

/* Headings */
h2{
  &.form-heading{
    text-align: center;
    font-size: 2rem;
    padding: 4rem 0;
    i{
      font-size: 2rem;
      margin-right: 0.75rem;
    }
  }
}

/* Forms */
form {
  label{
    font-size: 1rem;
  }
  input{
    font-size: 1rem;
  }
  button[type="submit"]{
    &.button{
      padding: 0.2rem 4.5rem;
      i{
        font-size: 3rem;
      }
    }
  }
}




.pagination {
  border-radius: 30px;
  background: lighten($light-gray, 6%);
  a, button {
    border-radius: 0; 
    line-height: inherit;
    line-height: 30px;
    &:hover {
      text-decoration: underline;
      background: none;
      color: $primary-color;
    }
  }
  .current {
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background: $light-gray;

      a { 
        padding: 0; 
        color: $dark-gray; 
        cursor: default; 
        text-decoration: none;
      }
  }
}




.detail-header {

  position: relative;
  background: $light-gray;
  text-align: center;
  padding: 4rem;
  margin-bottom: 1rem;

  > .title {
    font-size: 2rem;
    font-weight: 200;
  }

  .type {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  .bookmark {
    position: absolute;
    right: 1rem;
    top: -4px;
    color: $dark-gray;
    .bookmarkinfo {
      font-size: 0.8rem;
      font-style: italic;
    }
    &:hover {
      color: $primary-color;
    }
  }

}



.detail-content {
  .row {
    margin-bottom: 1rem;
  }

  .infolist li { display: inline-block; margin-right: 1rem; }
  .image { 
    margin: 2rem 0 0 0; 
    text-align: center; 
    position: relative;
    border-top: 5px solid #fff;
    background: repeating-linear-gradient( -55deg,  lighten($light-gray, 8%), lighten($light-gray, 8%) 10px, #fff 10px, #fff 20px );
    &:before {
      content: " ";
      position: absolute;
      z-index: -1;
      left: 0;
      top: -6px;
      border: 1px solid $light-gray;
      width: 100%;
    }
  }
}


.type{
  font-size: 1rem;
  font-weight: normal;
  &.bilder {
      color: #efa367;
  }
}

.tags{
  .tag{
      display: inline-block;
      background-color: rgba($primary-color, 0.5);
      font-size: 0.8rem;
      color: $white;
      padding: 0 0.3rem;
      margin: 0 0.1rem;
      border-radius: $object-border-radius;
  }
  a.tag:hover {
      background-color: rgba($primary-color, 0.8);
  }
}

.reveal-overlay {
  background: none;
}
.reveal-blur {
    
  &.show {
    transition: all ease-out 0.1s;
    filter: blur(3px);
    opacity: 0.3;
  }
}