.detail-header {
  background: $light-gray;
  min-height: 10rem;
}

// Details for Show
.detail-content {
  .edit-link {
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
  }
  &:not(.imageobject) {
    p {
      margin: 0;
    }
    .type {
      &.properties {
        .detail-type {
          position: relative;
          box-shadow: 0 0 1px #9d9d9d;
          padding: 2.2rem 1rem 1rem 1rem;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          >div:not(.detail-type) {
            margin-bottom: 1rem;
          }
          .detail-type {
            box-shadow: none;
            padding: 0;
            &.object {
              box-shadow: 0 0 1px #9d9d9d;
              padding: 2.2rem 1rem 1rem 1rem;
              >.detail-label {
                position: absolute;
                float: none;
              }
            }
            .detail-label {
              position: relative;
              margin-right: 1rem;
            }
          }
          &.media {
            .media-thumbs { display: flex; }
            position: relative;
            .thumbnail {
              position: relative;
              width: 194px;
              height: 170px;
              margin-right: 0.5rem;
              background-position: center center;
              background-size: contain;
              background-repeat: no-repeat;
              background-color: white;
              overflow: hidden;
              border: 0;
              &.has-restrictions {
                box-shadow: 0 0 2px 1px red;
              }
              &:hover {
                .description {
                  opacity: 1;
                }
              }
              .description {
                opacity: 0;
                width: 100%;
                background: rgba(255, 255, 255, 0.9);
                height: 100%;
                line-height: 1rem;
                font-size: 0.8rem;
                color: $body-font-color;
                overflow: hidden;
                /* white-space: nowrap; */
                /* text-overflow: ellipsis; */
                padding: 0.5rem;
                text-align: center;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: center;
                justify-content: center;
              }
            }
          }
          .detail-label {
            position: absolute;
            left: 0;
            top: 0;
            background: inherit;
            color: $dark-gray; //box-shadow: 1px 1px 2px #9d9d9d;
            padding: 1px 8px;
            .icon {
              .fa {
                font-size: inherit;
              }
            }
          }
          .detail-content {
            position: relative;
            display: inline-block;
          }
        }
      }
    }
  }
  .type {
    &.translations {
      .header {
        margin: 0 0 1rem 1.25rem
      }
    }
  }
}