.detail-header {
  background: $light-gray;
}

// Details for Show
.detail-content.creativework {
  .row {
    max-width: 1200px;
  }
  p {
    margin: 0;
  }
  .detail-type {
    position: relative;
    box-shadow: 0 0 1px #9d9d9d;
    padding: 2.2rem 1rem 1rem 1rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .detail-type {
      box-shadow: none;
      padding: 0;
      &.object {
        box-shadow: 0 0 1px #9d9d9d;
        padding: 2.2rem 1rem 1rem 1rem;
        >.detail-label {
          position: absolute;
          float: none;
        }
      }
      .detail-label {
        position: relative;
        float: left;
        margin-right: 1rem;
      }
    }
    &.media {
      .thumbnail {
        width: 229px;
        height: 157px;
        margin-right: 0.5rem;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        overflow: hidden;
      }
    }
    .detail-label {
      position: absolute;
      left: 0;
      top: 0;
      background: inherit;
      color: inherit;
      box-shadow: 1px 1px 2px #9d9d9d;
      padding: 1px 8px;
      .icon {
        .fa {
          font-size: inherit;
        }
      }
    }
    .detail-content {
      position: relative;
      display: inline-block;
    }
  }
}