/* todo: merge styles */
/* dev styles */

.thumbs {
	.item {
		margin: 0.3rem;
	  text-align: right;			
		img {
			max-height: 10rem;
		}
		.delete-item {
	    position: relative;
	    display: inline-block;
		}
	}
}
#mediabrowser {
	h4, #media-info {
		backface-visibility: hidden;
	}
	#media-info {
		overflow-y: scroll;
	}
}
.breadcrumb {
	ul {
		color: #fefefe;
		font-size: 1.2rem;
		font-weight: 200;
		li {
			display: inline-block;
			.breadcrumb-separator {
				margin: 0px 10px;
				font-size: 1.4rem;
			}
			.breadcrumb-type {
				font-style: italic;
			}
			.breadcrumb-title {
				font-weight: 600;
			}
		}
	}
}