/* todo: merge styles */

.detail-header {
  .destroy {
    position: absolute;
    right: 5rem;
    bottom: 1rem;
  }
}

.data-cycle-object {
  .remove-from-watchlist-link {
    position: absolute;
    right: 3px;
    top: 0;
  }
}

.edit-link-url {
  position: relative;
  padding: 1rem 2rem 1rem 1rem;
  background: #eee;
  border-radius: 3px;
  .remove-edit-link {
    position: absolute;
    right: 0.5rem;
  }
}

.media-preview {
  padding-top: 2.5rem;
  .preview-title {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .description {
    margin-top: 0.5rem;
  }
}

.confirm {
  position: absolute;
  top: -5rem;
  left: 1rem;
  border: 2px solid map-get($foundation-palette, alert);
  background-color: white; //map-get($foundation-palette, alert);
  padding: 0.5rem 1rem;
  color: $black;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 100;
  -webkit-transition: all 0.4s ease;
  line-height: 1.5;
  text-align: left;
  span {
    display: block;
    margin-bottom: 1rem;
  }
  .buttons {
    text-align: right;
  }
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid map-get($foundation-palette, alert);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    left: 30%;
    bottom: -1.3rem;
  }
}

#newContent {
  overflow-y: visible;
  .custom-select .dropdown {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(51, 51, 51, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: #333333;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    .selected-tag {
      font-family: inherit;
      font-size: 1rem;
      font-weight: normal;
      color: #333333;
      background: inherit;
      display: inline-block;
      padding: 0.5rem;
      margin: 2px 0 0 0;
    }
    input[type=search] {
      margin-top: 2px;
    }
  }
  .validation-container {
    clear: both;
  }
}

#edit-form {
  .edit-header {
    .submit {
      button {
        z-index: 1000;
      }
    }
  }
  .flex-box {
    height: calc(100vh - 13rem);
    .detail-content {
      padding: 0 1rem;
      .button-prime {
        &.small {
          width: 2rem;
          height: 2rem;
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
          .fa {
            line-height: 2rem;
            font-size: 1.2rem;
          }
        }
      }
      .copy-to-clipboard {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        cursor: pointer;
        display: none;
      }
      .string {
        &:hover,
        &:focus {
          .copy-to-clipboard {
            display: block;
          }
        }
      }
    }
    .split-content {
      display: inline-block;
      width: 49%;
      vertical-align: top;
      height: 100%;
      overflow-y: scroll;
    }
    .topleftinfo {
      width: 100%;
      text-align: left;
      div {
        vertical-align: middle;
      }
      .metadata {
        max-width: calc(100% - 180px);
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        text-overflow: ellipsis;
      }
    }
  }
}

.send-link {
  button[type="submit"] {
    &.button {
      padding: 0.85em 1em;
    }
  }
}