body.documentation {
  section.breadcrumb {
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
  }

  pre {
    border: 1px solid #e5e5e5;
    background-color: #e6e6e6;
    padding: 1rem;
  }

  p, pre {
    margin-bottom: 1rem;
  }

  li > p {
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 1rem;
  }
  li li li:last-child {
    margin-bottom: 0;
  }

  footer {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 7rem;
    margin: 1rem;
    opacity: .33;
  }
}
