@media print {
  * {
    overflow: visible !important;
  }

  /* fix for firefox bug */
  body, h1, h2, h3, ol, ul, div {
    float: none !important;
  }
  /* fix end */

  @page {
    margin: 3mm;
  }
  body{
    background: #fff;
    line-height: 2;
    border-top: none;
    //margin: 16mm;
    font-size: 16px;
  }
  .column, .columns{
    padding-left: 0;
    padding-right: 0;
  }
  a{
    &[href]:after { content: none !important }
    &:visited, &:link {text-decoration: none;}
  }
  img{
    &[src]:after { content: none !important; }
  }
  .top-bar-right,
  .detail-header-functions,
  .detail-header .edit,
  .detail-content .buttons,
  .edit-header,
  .detail-header .embedded_object .addContentObject,
  i.fa.fa-times,
  i.fa.fa-plus{
    display: none !important;
  }
  .off-canvas-wrapper, .off-canvas-content{
    display: block;
    position: relative;
    padding-top: 0;
  }
  .off-canvas-content {
    &:after {
      box-shadow: none;
    }
    .reveal-blur {
      position: relative;
      >.row.expanded{
        padding-bottom: 50px;
      }
    }
  }
  header{
    position: relative;
    display: block;
    border-bottom: 0.3rem solid #c30000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    .top-bar{
      max-height: none;
      .top-bar-title{
        display: block;
        line-height: inherit;
        .logo{
          img{
            max-height: 35px;
            width: auto;
          }
        }
        .title{
          text-align: center;
          position: absolute;
          width: 100%;
          font-weight: bold;
          color: #6f6f6f !important;
        }
      }
    }
  }
  .tags{
    font-size: 0.9rem;
    .tag{
      font-size: 0.9rem;
    }
  }
  .no-edit-bar{
    padding-top: 0;
  }
  .breadcrumb{
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    li, ul li .breadcrumb-text i.fa{
      font-size: 0.9rem;
    }
  }
  .fa{
    font-size: 1rem;
  }

  .tags {
    .tag{
      font-size: 1rem;
      line-height: inherit;
    }
  }
  .detail-header {
    padding-top: 0;
    min-height: 0;
    .detail-header-info{
      position: relative;
      top: 0;
      left: 1rem;
      text-align: left;
    }
    .gueltigkeit{
      margin-top: 0;
    }
    .status-container {
      text-align: left;
      margin: 1rem 0 0 1rem;
      display: block;
      i{
        display: none;
      }
    }
    > .title{
      color: #c30000 !important;
    }
  }
  .detail-content, .detail-content:not(.imageobject) {
    .type.properties{
      .detail-type {
        border: 1px solid #c1c1c1;
        page-break-inside: avoid;
        .detail-label {
          vertical-align: top;
          opacity: 1;
          color: #c30000 !important;
        }
        .detail-type {
          padding: 0.2rem;
          &.geographic {
            padding: 1rem;
          }
        }
        &.media{
          .thumbnail{
            background-image: inherit !important;
            .description{
              height: auto;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .edit-content-form .asset-object .inner{
    border: 1px solid #c1c1c1;
  }
  footer{
    .print-footer{
      display: block;
      position: fixed;
      bottom: 0rem;
      width: 100%;
      background: #fff !important;
      .left{
        float: left !important;
      }
      .right{
        float: right !important;
      }
      .logo{
        display: block;
        a{
          display: block;
          img{
            max-height: 35px;
            width: auto;
          }
        }
      }
      .title{
        display: none;
      }
    }
  }
}
