
button, input, optgroup, select, textarea {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.fa {
    font-size: 1.2rem;
}

/* Header */
header{
  .top-bar{
    padding: 0;
    background-color: $black;
    line-height: 4rem;
    background: linear-gradient(to bottom, darken($black,10%) 0%, $black 50%, lighten($black,3%) 100%); 
    .logo{
      padding: 0;
      display: inline-block;
      img{
        max-height: 50px;
        width: auto;
      }
    }
    .title{
      color: $white;
      display: inline-block;
      position: relative;
      left: 1rem;
      padding: 0;
      font-size: 1.5em;
      font-weight: 200;
    }
    .top-bar-title{
      padding: 0;
    }
  }
  ul.menu{
    li{
      a, button{
        color: $white;
        font-size: 1rem;
        padding: 0 1.5rem;
        line-height: 4rem;
        i.icon-right{
          margin-left: 0.75rem;
          margin-right: 0;
        }
                &:hover {
            color: $light-gray;
        }
      }
      button{
        background-color: $black;
        background: linear-gradient(to top, darken($black,3%) 0%, $black 50%, lighten($black,10%) 100%); 
        &[aria-expanded=true]{
          outline: none;
          background: map-get($foundation-palette, primary);
        }
        &:hover {
          background: linear-gradient(to bottom, $black 0%, $black 50%, lighten($black,5%) 100%); 
          box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.7);
        }
        span{
          position: relative;
        }
      }
      &:last-child{
        a{
          padding-right: 0.5rem;
        }
      }
    }


  }
}

/* new object element */
#new-object-circle{
  position: fixed;
  z-index: 3;
  bottom: 2rem;
  right: 2rem;
  > a{
    position: relative;
    display: block;
    background-color: map-get($foundation-palette, primary);
    border-radius: 50%;
  	width: 5rem;
  	height: 5rem;
    text-align: center;
    z-index: 1006;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.6));
    i{
      color: $white;
      position: relative;
      display: block;
      line-height: 5rem;
      font-size: 3rem;
    }
  }
}
#new-object.reveal{
  position: absolute;
  bottom: 8rem;
  right: 1rem;
  top: auto !important;
  padding: 0 0 1.5rem 0;
  border: 0;
  background-color: transparent;
  max-width: 28rem;
  &:focus, &:active{
    border: 0;
    outline: 0;
  }
  div.option{
    margin-bottom:0.5rem;
    border: 3px solid $white;
    box-shadow: 2px 4px 35px -15px rgba(0, 0, 0, 0.75);
    &.last{
      margin-bottom: 0;
    }
    &.color-scheme-1{
      background-color: #63C0B6;
    }
    &.color-scheme-2{
      background-color: #91C062;
    }
    &.color-scheme-3{
      background-color: #C0A262;
    }
    a{
      display: block;
      padding: 0.5rem 1rem;
      color:$black;
      font-size: 1.5rem;
    }
  }
  &:after{
    @include css-triangle(1.5rem, $white, 'down');
    position: absolute;
    bottom: 0;
    right: 1rem;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
  }
}

/* Home */
.callout{
  &.home{
    background-color: $medium-gray;
    border: 0;
    padding: 5rem;
    margin-top: 1rem;
    text-align: center;
    color: $black;
    h1{
      padding-bottom: 2rem;
    }
    p{
      font-size: 1.2rem;
    }
  }
}
.home-login{
  padding-bottom: 1rem;
  > div{
    padding: 1rem 3rem 5rem 3rem;
  }
  .right{
    border-left: 1px solid $black;
  }
}
