html,
body {
  height: 100%;
  min-height: 100%;
}

.off-canvas-wrapper {
  display: table;
  height: inherit;
  width: 100%;
  position: absolute;
  padding-top: 4.4rem;
  top: 0;
}

.off-canvas-content {
  display: table-cell;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fa {
  font-size: 1.1rem;
}

/* Header */

header {
  z-index: 3;
  position: relative;
  .top-bar {
    max-height: 4.1rem;
    overflow: hidden;
    padding: 0;
    background-color: $black;
    line-height: 4.1rem;
    background: linear-gradient(
      to bottom,
      darken($black, 15%) 0%,
      $black 50%,
      lighten($black, 7%) 100%
    );
    .logo {
      padding: 0 0 0 1rem;
      float: left;
      img {
        max-height: 80px;
        width: auto;
      }
    }
    .title {
      color: $white;
      float: left;
      position: relative;
      left: 1rem;
      padding: 0;
      font-size: 1.2em;
      font-weight: 200;
    }
    .top-bar-title {
      padding: 0;
    }
  }
  ul.menu {
    line-height: 4rem;
    li {
      a,
      button {
        color: $white;
        font-size: 1rem;
        padding: 0 1.5rem;
        line-height: 64px;
        border-bottom: 0;
        i.icon-right {
          margin-left: 0.75rem;
          margin-right: 0;
        }
        &:focus,
        &:hover {
          color: $light-gray;
        }
      }
      button {
        background-color: $black;
        background: linear-gradient(
          to top,
          darken($black, 3%) 0%,
          $black 50%,
          lighten($black, 10%) 100%
        );
        &[aria-expanded='true'] {
          outline: none;
          background: map-get($foundation-palette, primary);
        }
        &:focus,
        &:hover {
          background: linear-gradient(
            to bottom,
            $black 0%,
            $black 50%,
            lighten($black, 10%) 100%
          );
          box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.7);
        }
        span {
          position: relative;
        }
      }
      &:last-child {
        a {
          padding-right: 0.5rem;
        }
      }
    }
  }
}

/* new object element */

#new-object-circle {
  position: fixed;
  z-index: 5;
  bottom: 2rem;
  right: 2rem;
  > a {
    z-index: 1006;
  }
}

#new-object.reveal {
  position: absolute;
  overflow: initial;
  bottom: 9rem;
  right: 1rem;
  top: auto !important;
  padding: 0;
  border: 0;
  background-color: white;
  max-width: 32rem;
  box-shadow: 1px 4px 2px 0px rgba(0, 1, 1, 0.2);
  &:focus,
  &:active {
    border: 0;
    outline: 0;
  }
  .new-object-links {
    max-height: 80vh;
    overflow-y: auto;
  }
  a.option {
    border-bottom: 1px solid $light-gray;
    padding: 0.5rem;
    display: block;
    padding: 1rem;
    color: $black;
    font-size: 1.5rem;
    font-weight: 200;
    transition: all ease-in-out 0.1s;
    .fa {
      font-size: 1.5rem;
      width: 2rem;
      margin-right: 1rem;
      text-align: center;
    }
    &:last-child {
      border-bottom: 0;
      &:after {
        transition: all ease-in-out 0.1s;
        @include css-triangle(1.5rem, $white, 'down');
        position: absolute;
        bottom: -1.5rem;
        right: 1rem;
        filter: drop-shadow(1px 4px 2px rgba(0, 1, 1, 0.2));
      }
      &:hover:after {
        @include css-triangle(1.5rem, $primary-color, 'down');
      }
    }
    &:focus,
    &:hover {
      background: $primary-color;
      color: white;
    }
  }
}

a.button-prime,
button.button-prime {
  position: relative;
  display: block;
  text-align: center;
  background-color: map-get($foundation-palette, primary);
  border-radius: 50%;
  outline: none;
  box-shadow: 1px 3px 5px 0px rgba(0, 1, 1, 0.38);
  transition: all ease-in-out 0.1s;
  width: 5rem;
  height: 5rem;
  &.alert {
    background-color: map-get($foundation-palette, alert);
    &:focus,
    &:hover {
      background-color: lighten(map-get($foundation-palette, alert), 10%);
    }
  }
  &.success {
    background-color: map-get($foundation-palette, success);
    &:focus,
    &:hover {
      background-color: lighten(map-get($foundation-palette, success), 10%);
    }
  }
  i {
    color: $white;
    position: relative;
    display: block;
    line-height: 5rem;
    font-size: 3rem;
  }
  &:focus,
  &:hoverprime {
    background-color: lighten($primary-color, 10%);
  }
  &:active {
    top: 2px;
    box-shadow: 0 0 1px 0px rgba(0, 1, 1, 0.18);
  }
  &.small {
    height: 3rem;
    width: 3rem;
    i {
      line-height: 3rem;
      font-size: 1.5rem;
    }
  }
}

/* Home */

body.login-page {
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .off-canvas-content {
    background: none;
  }
  header,
  .off-canvas-wrapper {
    display: none;
  }
}

.home-container {
  max-width: 500px;
  overflow: hidden;
  margin: 50px auto;
  width: 70%;
  padding: 0;
  transition: box-shadow 1s ease-in-out;
  .home-container-content {
    .centered-text {
      text-align: center;
    }
    a.button {
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem 2rem;
    }
    .login-form {
      h3 {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding-top: 0.5rem;
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
      }
      button[type='submit'].button {
        background-color: $dark-gray;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        padding: 0.8rem 1rem;
        &:hover,
        &:focus {
          background-color: darken($dark-gray, 10%);
        }
      }
    }
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  &.show {
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.3);
    .home-container-content {
      opacity: 1;
    }
  }
  .home-logo {
    padding: 10px 0 0 0;
  }
  h1 {
    text-align: center;
  }
  .accordion {
    margin-bottom: 0;
    background: none;
    line-height: initial;
    li.accordion-item {
      a.accordion-title {
        &.without-content {
          &::before {
            content: '';
          }
        }
        border: 0;
        color: white;
        text-align: center;
        font-size: 2rem;
        padding: 1rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        i {
          font-size: 2rem;
          margin-right: 0.75rem;
        }
        &::before {
          top: 30%;
        }
        &:hover,
        &:focus {
          background: none;
        }
        &:hover {
          color: white;
          opacity: 0.7;
        }
      }
    }
    .accordion-content {
      border: 0;
      padding: 0;
      border: 0;
      background: none;
      color: white;
    }
  }
  form {
    margin-top: 1rem;
    label {
      color: white;
    }
  }
}

.glass {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  &::after {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    content: '';
    transition: all 1s ease-out;
  }
  &.show::after {
    filter: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%3E%3CfeGaussianBlur%20stdDeviation%3D%225%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E#blur');
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  .legacy-ie-fix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=20)';
  }
}

.flash-notification {
  &.alert,
  &.info,
  &.success {
    position: fixed;
    display: none;
    line-height: 4rem;
    margin: 0;
    padding: 0.1rem 1rem;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10001;
    border: 0;
    border-top: 0.3rem solid $customercolor;
    color: white;
    .close-button,
    .close-button.medium {
      line-height: 3rem;
      color: white;
    }
  }
  &.success {
    background: rgba(map-get($foundation-palette, success), 0.95);
  }
  &.alert {
    background: rgba(map-get($foundation-palette, alert), 0.95);
  }
  &.info {
    background: rgba(map-get($foundation-palette, warning), 0.95);
  }
}
