
$fa-font-path: "/assets";

@import "../../../../node_modules/quill/dist/quill.snow";


/* Word Counter Module */
.editor-block {
	#counter {
		position: absolute;
		right: 10px;
		bottom: 3px;
		z-index: 99;
		text-align: right;
		font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
		font-size: 100%;
	}
}