
@import 'settings';
/*
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
*/
body{
  background-color: $light-gray;
}
.callout{
  &.home{
    background-color: $medium-gray;
  }
}
header{
  .top-bar{
    background-color: $dark-gray;
  }
}
