
<section class="filters row expanded">
  <div class="column">
    <div class="row">
      <div class="filter categories columns small-3">
          <span class="icon"><i class="material-icons">more_vert</i></span>
          <span class="title">Kategorien <strong>(3)</strong></span>
          <span class="icon"><i class="material-icons">expand_more</i></span>
        </div>
        <div class="filter type columns small-3">
          <span class="icon"><i class="material-icons">format_align_left</i></span>
          <span class="title">Artikel <strong>(3)</strong></span>
          <span class="icon"><i class="material-icons">expand_more</i></span>
        </div>
        <div class="filter search columns small-3">
          <form action="">
            <div class="input-group">
              <div class="input-group-button">
                <button type="submit" class="search_icon "><i class="material-icons">search</i></buttton>
              </div>
              <input class="input-group-field" type="text" placeholder="Suchen...">
            </div>
          </form>
        </div>
        <div class="filter language columns small-3">
          <span class="icon"><i class="material-icons">chat_bubble</i></span>
          <span class="title">deutsch <strong>(3)</strong></span>
          <span class="icon"><i class="material-icons">expand_more</i></span>
        </div>
      </div>
    </div>
  </div>
</section>
