<section class="views row expanded">
  <div class="columns small-6">
    <div class="view-heading">
      <strong>4</strong> Themen entsprechen Ihren Filterkriterien
    </div>
  </div>
  <div class="columns small-6 text-right">
    <div class="view-icons">
      <span class="view-icon">
        <a href="#" class="active">
          <i class="material-icons">dashboard</i>
        </a>
      </span>
      <span class="view-icon">
        <a href="#">
          <i class="material-icons">view_module</i>
        </a>
      </span>
      <span class="view-icon">
        <a href="#">
          <i class="material-icons">view_comfy</i>
        </a>
      </span>
      <span class="view-icon">
        <a href="#">
          <i class="material-icons">view_list</i>
        </a>
      </span>
    </div>
  </div>
</section>
