<!DOCTYPE html>
<html>
<head>
  <title>Data cycle core</title>
  <%= stylesheet_link_tag    "data_cycle_core/application", media: "all" %>
  <%= javascript_include_tag "data_cycle_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
