<% breadcrumb :reports %>

<section>
  <h1><%= t('data_cycle_core.reports.available_reports', locale: active_ui_locale) %></h1>
  <% @reports.each do |key, report| %>
    <div class="row">
      <h3><%= t("feature.report_generator.#{key}", locale: active_ui_locale) %></h3>
      <div class="row">
        <ul class="report-list">
          <% report.dig('allowed_formats').each do |format| %>
            <li>
              <%= link_to download_reports_path(type: format, identifier: key), class: '' do %>
                <span class="icon"><i class="fa fa-download" aria-hidden="true"></i></span>
                <span class="title">Download <%= format %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

</section>
