<%
  relation_mode = filter_mode == 'relation_mode' || filter_mode == nil
  content_mode = filter_mode == 'content_mode'
%>


<div class="advanced-filter-selector">

  <% if content_mode %>

    <% select_value = value&.[]('content_type') %>
    <% if data_type_restriction.present? %>
      <% if data_type_restriction.size > DataCycleCore.max_asynch_classification_items %>
        <%= select_tag(
              "f[#{identifier}][v][content_type]",
              async_classification_select_options(@selected_classification_aliases&.values_at(*select_value)),
              {
                multiple: true,
                class: 'async-select',
                data: {
                  tree_label: filter_title,
                  max: 20,
                  placeholder: '',
                  find_path: find_classifications_path,
                  search_path: search_classifications_path
                }
              }
            ) %>
      <% else %>
        <%= select_tag(
              "f[#{identifier}][v][content_type]",
              simple_classification_select_options(DataCycleCore::ClassificationAlias.where(id: select_value), data_type_restriction),
              {
                multiple: true,
                class: 'multi-select',
                data: {
                  tree_label: filter_title,
                  max: 20,
                  placeholder: ''
                }
              }
            ) %>
      <% end %>
    <% end %>
  <% elsif relation_mode %>
    <% if relation_restriction.present? %>
      <% if relation_restriction.size > DataCycleCore.max_asynch_classification_items %>
        <%= select_tag(
              "f[#{identifier}][v][relation_type]",
              relation_restriction_options,
              {
                multiple: false,
                class: 'async-select',
                include_blank: true,
                data: {
                  tree_label: filter_title,
                  max: 20,
                  placeholder: '',
                  alias_ids: true,
                  find_path: find_classifications_path,
                  search_path: search_classifications_path
                }
              }
            ) %>
      <% else %>
        <%= select_tag(
              "f[#{identifier}][v][relation_type]",
              relation_restriction_options,
              {
                multiple: false,
                class: 'single-select',
                include_blank: true,
                data: {
                  tree_label: filter_title,
                  max: 20,
                  placeholder: ''
                }
              }
            ) %>
      <% end %>
    <% end %>
  <% end %>
</div>