<div class="hidden-filters">
  <% hidden_filters.each do |filter| %>
    <div class="hidden-filter" data-id="<%= filter['identifier'] %>">
      <% filter.except('identifier').each do |key, value| %>
        <%= filter_to_hidden_fields("f[#{filter['identifier']}][#{key}]", value) %>
      <% end %>
    </div>
  <% end %>
</div>
