<% content_for(:advanced_filters, flush:true) do %>
  <% filter&.dig(:filters)&.each do |advanced_filter| %>
    <%= render_advanced_filter_partial({
          filter_type: advanced_filter['t'],
          filter_title: advanced_filter['n'],
          filter_name: advanced_filter['n'].presence&.underscore_blanks,
          filter_method: advanced_filter['m'],
          filter_code: advanced_filter['c'],
          filter_buttons: advanced_filter['buttons'],
          filter_advanced_type: advanced_filter['q'],
          identifier: advanced_filter['identifier'],
          value: advanced_filter['v'] }) %>
  <% end %>

  <div class="add-advanced-filter-container">
    <%= select_tag :add_advanced_filter,
                    grouped_options_for_select(filter_feature.available_user_advanced_filters(current_user, :users)),
                    prompt: t("filter.add", locale: active_ui_locale),
                    class: 'single-select',
                    data: { allow_clear: false } %>
  </div>
<% end %>

<% if content_for?(:advanced_filters) %>
  <div class="advanced-filters accordion" data-accordion data-allow-all-closed="true">
    <div class="accordion-item" data-accordion-item>
      <div class="accordion-content" data-tab-content>
        <%= yield_content!(:advanced_filters) %>
      </div>
      <a href="#" class="accordion-title">
        <span><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
      </a>
    </div>
  </div>
<% end %>
