<% @user_group = DataCycleCore::UserGroup.new %>

<div class="reveal new-item" id="newContent" data-reveal data-multiple-opened="true">
    <h3><%= t('actions.new.user_group') %></h3>

    <%= form_for @user_group do |f| %>

      <div class="form-element validation-container">
          <%= f.text_field :name, required: true %>
      </div>

      <%= f.submit t(:submit), class: "button primary" %>

    <% end %>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
