<% if dataCycleObject.edit_link.nil? %>
    <%= link_to "Externen Bearbeitungslink generieren", new_edit_link_path(item_id: dataCycleObject.id, item_type: dataCycleObject.class.name), class: "edit-link" %>
<% else %>
    <a class="edit-link" data-open="show-edit-link">Link anzeigen</a>

    <div class="small reveal" id="show-edit-link" data-reveal>
    <p class="lead">Generierter Link zum Editieren:</p>
    <p class="edit-link-url"><%= link_to h(edit_link_url(dataCycleObject.edit_link)), edit_link_url(dataCycleObject.edit_link) %>
        <%= link_to dataCycleObject.edit_link, method: :delete, class: "remove-edit-link" do %>
            <i aria-hidden="true" class="fa fa-times"></i>
        <% end %>
    </p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
<% end %>