<% if !dataCycleObject.metadata.nil? && !dataCycleObject.metadata['creator'].nil? %>
	<% creator = get_user_for_id(dataCycleObject.metadata['creator']) %>
	<span class="metadata">
        <span>erstellt am </span>
        <span><strong><%= Time.at(dataCycleObject.created_at).to_s(:german_datetime_format) %></strong></span>
        <span> von </span>
        <span><strong><a href="mailto:<%= "#{creator.email}" %>"><%= "#{creator.name}" %></strong></a>.</span>
	    <!--<span>Letzte Bearbeitung: </span>
	    <span><strong><%= Time.at(dataCycleObject.updated_at).to_s(:german_datetime_format) %></strong></span>-->
	</span>
<% end %>
