<% content_for :additional_tile_attributes, flush: true do %>
  <div class="tile-property address-line">
    <%= sanitize(object.address_block, tags: ['br']) %>
  </div>
<% end %>

<%= render 'data_cycle_core/contents/grid/compact/default', local_assigns %>
