<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sehr geehrter User,</h1>
    <p>Ein abonnierter Inhalt hat sich geändert.</p>
    <%# FIXME: change to '@content.histories.first' when histories are fixed %>
    <p><%= link_to polymorphic_url([:history, @content], history_id: @content.histories.sort_by{|h| h.history_valid.last }.last.id) do %>
        <%= @content.metadata['validation']['name'] %>: <%= @content.title.blank? ? @content.id : @content.title %>
      <% end %>
    </p>

    <p>Vielen Dank, dass Sie unsere Abo-Funktion nutzen und somit immer auf dem neuesten Stand bleiben.</p>
  </body>
</html>
