<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sehr geehrter User,</h1>
    <% if @contents.size > 1 %>
      <p>Folgende abonnierte Inhalte haben sich geändert:</p>
    <% else %>
      <p>Ein abonnierter Inhalt hat sich geändert:</p>
    <% end %>
    <%# FIXME: change to '@contents.histories.first' when histories are fixed %>
    <% @contents.each do |content| %>
      <% I18n.with_locale(content.first_available_locale) do %>
        <p>
          <%= link_to polymorphic_url([:history, content], history_id: content.histories.sort_by{|h| h.history_valid&.first }.last.id) do %>
            <%= content.template_name %>: <%= content.title.blank? ? content.id : content.title %>
          <% end %>
        </p>
      <% end %>
    <% end %>

    <br><br>
    <p>Vielen Dank, dass Sie unsere Abo-Funktion nutzen und somit immer auf dem neuesten Stand bleiben.</p>
  </body>
</html>
