.edit-content-form {
  .asset {
    padding: 2.5rem 0.5rem 1rem 0.5rem;
  }
}

.asset-list-container {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 2rem);
  .scrollable-asset-list {
    overflow-y: auto;
    flex: 1;
  }
  .select-asset-link {
    margin: 0;
  }
}

ul.asset-list {
  display: flex;
  flex-flow: row wrap;
  li {
    position: relative;
    display: block;
    flex: auto;
    word-wrap: break-word;
    width: 250px;
    max-width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 0 0 1px rgba($dark-gray, 0.5);

    .asset-deselect {
      display: none;
      position: relative;
      float: right;
      line-height: 1;
      font-size: 1.2rem;
      margin-left: 5px;
      color: $alert-color;
    }
    .inner > span {
      display: block;
      &.asset-title {
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 200;
      }
      &.asset-file-link {
        float: right;
      }
    }
    .inner > .thumb {
      margin-top: 0.5rem;
      text-align: center;
      img {
        max-height: 300px;
      }
    }
    transition: all 0.1s ease-in-out;
  }

  &.editable {
    li {
      .asset-deselect {
        display: block;
      }
    }
  }

  &.selectable {
    li {
      cursor: pointer;

      &.active {
        border-color: $primary-color;
        background-color: $primary-color;
        box-shadow: 0 0 0 1px rgba($primary-color, 1);
        color: $white;
        a {
          color: $white;
        }
      }
      &:hover,
      &:focus {
        box-shadow: 0 0 6px 1px rgba($primary-color, 0.5);
      }
    }
  }
}
