.edit-content-form {
  .asset {
    padding: 2.5rem 0.5rem 1rem 0.5rem;
  }
}

.asset,
.data-link-reveal {
  h4.list-title {
    display: none;
  }
}

.asset-list-container {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 2rem);
  .content-upload-link {
    position: absolute;
    right: 3rem;
    top: 0.8rem;
  }
  .scrollable-asset-list {
    overflow-y: auto;
    flex: 1;
  }
  .buttons {
    display: flex;
    .button,
    button {
      flex: 1;
      margin: 0;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

ul.asset-list {
  display: flex;
  flex-flow: row wrap;
  h4.list-title {
    width: 100%;
  }
  .asset-upload-date {
    display: none;
    font-size: 0.9rem;
    font-style: italic;
  }
  .asset-type {
    font-size: 0.9rem;
  }
  li {
    position: relative;
    display: block;
    flex: auto;
    word-wrap: break-word;
    width: 250px;
    max-width: 300px;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 0 0 1px rgba($dark-gray, 0.5);

    .asset-deselect,
    .asset-destroy {
      display: none;
      position: relative;
      float: right;
      line-height: 1;
      font-size: 1.2rem;
      margin-left: 5px;
      color: $alert-color;
    }

    .inner > span {
      display: block;
      &.asset-title {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 200;
      }
      &.asset-file-link {
        float: right;
        margin-left: 0.5rem;
      }
    }
    .inner > .thumb {
      margin-top: 0.5rem;
      text-align: center;
      img {
        max-height: 300px;
      }
    }
    transition: all 0.1s ease-in-out;
  }

  &.selectable,
  &.timestamps {
    .asset-destroy {
      display: inline-block;
    }
  }

  &.timestamps {
    .asset-upload-date {
      display: block;
    }
  }

  &.editable {
    li {
      .asset-deselect {
        display: block;
      }
    }
  }

  &.selectable {
    li {
      cursor: pointer;

      &.active {
        border-color: $primary-color;
        background-color: $primary-color;
        box-shadow: 0 0 0 1px rgba($primary-color, 1);
        color: $white;
        a {
          color: $white;
        }
      }
      &:hover,
      &:focus {
        box-shadow: 0 0 6px 1px rgba($primary-color, 0.5);
      }
    }
  }
}

// File Upload Reveal
.asset-upload-reveal {
  .upload-file {
    display: none;
  }

  .button {
    margin: 0;
  }

  .uploader-flex {
    display: flex;
    flex-flow: column;
    height: calc(100vh - 6rem);
    .content-upload-form {
      overflow-y: auto;
      .buttons {
        position: absolute;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: white;
        text-align: right;
        .button,
        button {
          margin: 0;
          flex: 1;
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  .accordion {
    .accordion-item {
      padding: 0;
      &.is-active {
        .accordion-title {
          border-bottom: 1px solid rgba($dark-gray, 0.25);
        }
      }
      .accordion-title {
        color: $black;
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 200;
        &::before {
          margin-top: -0.9rem;
        }
      }
      .accordion-title,
      .accordion-content {
        border: none;
        background-color: transparent;
      }
    }
  }

  .file-for-upload {
    position: relative;
    display: block;
    padding: 0.2rem 4rem 0.5rem 4rem;
    min-height: 4rem;
    border: 1px solid lighten($dark-gray, 10%);
    background-color: lighten($light-gray, 5%);
    transition: background-color 0.25s ease-in-out;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    .file-thumb {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 3rem;
      height: calc(100% - 1rem);
      display: flex;
      align-items: center;
      justify-content: center;

      .fa {
        font-size: 2.5rem;
      }
      img {
        max-height: 100%;
      }
    }

    .upload-number {
      display: none;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      text-align: right;
      font-size: 0.9rem;
      align-items: center;
      justify-content: center;
      height: calc(100% - 1rem);
    }

    .remove-file {
      display: block;
      position: absolute;
      right: 0.5rem;
      line-height: 1;
      top: 0.5rem;
      color: $alert-color;
    }

    .file-title-label {
      position: relative;
      padding-left: 1.2rem;
      .fa-pencil {
        position: absolute;
        top: 0;
        left: 0;
        vertical-align: middle;
        width: 1.2rem;
        line-height: 1.5;
        cursor: pointer;
        color: $primary-color;
      }
    }
    .file-title {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      font-weight: 200;
      font-size: 1rem;
      line-height: 1.5;
      margin: 0;
      background-color: transparent;
      border: 1px solid transparent;
      box-shadow: none;
      height: auto;
      padding: 0 0.2rem;

      &:hover:not([disabled]),
      &:focus:not([disabled]) {
        background-color: $white;
        border: 1px solid $medium-gray;
        box-shadow: inset 0 1px 2px rgba($dark-gray, 0.1);
      }
    }

    .file-override {
      cursor: help;
      position: absolute;
      right: 2.5rem;
      top: 0.5rem;
      color: $warning-color;
      font-size: 1.2rem;
      text-shadow: 0 0 1px;
    }

    .file-info {
      display: block;
      font-size: 0.9rem;
      margin: 0;

      dt,
      dd {
        display: inline;
      }

      dd {
        margin-left: 0.3rem;
      }
    }

    .type-selector {
      display: block;
      font-size: 0.9rem;

      label {
        display: inline-block;
        margin-right: 1rem;
        cursor: pointer;
        input {
          margin: 0 0.3rem 0 0;
          cursor: pointer;
        }
      }
    }

    .file-title-restore {
      position: absolute;
      top: 0;
      right: 0;
      vertical-align: middle;
      width: 1.2rem;
      line-height: 1.5;
      cursor: pointer;
      color: $primary-color;
    }

    .upload-progress {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.5rem;
      width: 100%;
      background: $light-gray;

      .upload-progress-bar {
        display: block;
        height: 100%;
        width: 0;
        background: $primary-color;
      }
    }

    .error {
      display: block;
      color: $alert-color;
      font-size: 0.9rem;
    }

    &.uploading {
      .remove-file {
        display: none;
      }

      .upload-number {
        display: block;
      }

      .upload-progress {
        display: inline-block;
      }
    }

    &.finished {
      background-color: lighten($success-color, 35%);

      .upload-number {
        display: flex;
        right: auto;
        top: 0.5rem;
        left: 0.5rem;
        color: $success-color;

        .fa {
          font-size: 3rem;
        }
      }

      > .file-thumb {
        opacity: 0.1;
      }
    }

    &.error {
      height: auto;
    }
  }
}
