.breadcrumb {
  background-color: $dark-gray;
  padding: 1rem 0 1rem 0.5rem; //box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
  ul {
    color: #fefefe;
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
    list-style: none;
    line-height: 1.4;
    .fa {
      display: inline-block;
      vertical-align: middle;
    }
    li {
      display: inline-block;
      .breadcrumb-separator {
        margin: 0;
        font-size: 1.4rem;
        display: inline-block;
        vertical-align: middle;
      }
      .breadcrumb-text {
        display: inline-block;
        vertical-align: middle;
        text-overflow: ellipsis;
        max-width: 20rem;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 0.5rem;
        i {
          font-style: italic;
          &.fa {
            font-style: normal;
            margin-right: 0.3rem;
            font-size: 1.2rem;
          }
        }
        b {
          font-weight: 600;
        }
      }
      a {
        color: $white;
        font-size: 1.2rem;
        font-weight: 200;
      }
    }
  }
}