.breadcrumb {
  background-color: $dark-gray;
  padding: 1rem 0 1rem 0.5rem;
  ul {
    color: #fefefe;
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      .breadcrumb-separator {
        margin: 0px 10px;
        font-size: 1.4rem;
        display: inline-block;
      }
      .breadcrumb-text {
        text-overflow: ellipsis;
        max-width: 20rem;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.2rem;
        i {
          font-style: italic;
          &.fa {
            font-style: normal;
            margin-right: 0.3rem;
            font-size: 1.2rem;
          }
        }
        b {
          font-weight: 600;
        }
      }
      a {
        color: $white;
        font-size: 1.2rem;
        font-weight: 200;
      }
    }
  }
}