ul.classifications {
  font-style: italic;
  list-style: none;
  margin-left: 0;

  :before {
    content: '(';
  }
  :after {
    content: ')';
  }
}

#classification-administration {
  li:not(.active) form {
    display: none;
  }

  li.active a {
    display: none;
  }
}
