.detail-header-functions,
.edit-header-functions {
  .button {
    margin: 1rem 0 0 0;
    font-weight: bold;
  }
  .fa {
    min-width: 1.2rem;
  }
  >ul {
    position: relative;
    >li {
      &.buttons {
        .close-show-button {
          .fa {
            font-size: 1.5rem;
          }
        }
        .submit {
          float: right;
          margin-top: -10%;
          margin-bottom: -10%;
          z-index: 100;
          &:disabled {
            background-color: map-get($foundation-palette, alert);
            cursor: not-allowed;
          }
        }
        a {
          padding: 0;
        }
        button,
        a {
          display: inline-block;
        }
        >.button,
        >a>.button {
          margin: 0;
          display: block;
          background: none;
          outline: none;
          color: rgba($primary-color, 0.5);
          i {
            font-size: 1.5rem;
          }
          &:hover,
          &:focus {
            color: $primary-color;
          }
          &.discard {
            color: rgba($black, 0.5);
            &:hover,
            &:focus {
              color: $black;
            }
          }
          &.delete {
            color: rgba(map-get($foundation-palette, alert), 0.5);
            &:hover,
            &:focus {
              color: map-get($foundation-palette, alert);
            }
          }
        }
      }
      &.has-dropdown.right {
        .dropdown-pane {
          right: -18px !important;
          left: auto !important; // top: 2rem !important;
          &::before {
            content: '▲';
            font-size: 28px;
            top: -18px;
            color: white;
            transform: scaleX(3);
            text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
            position: absolute;
            left: auto;
            right: 18px;
            width: 2rem;
            height: 1.1rem;
            line-height: 1rem;
            display: block;
            text-align: center;
            overflow: hidden;
          }
        }
      }
      display: inline-block;
      position: relative;
      vertical-align: top;
      >a,
      >.link {
        color: $body-font-color;
        opacity: 0.3;
        transition: all ease-in-out 0.25s;
        padding: 0 0.5rem 1rem 0.5rem;
        cursor: pointer;
        &:focus,
        &:hover {
          opacity: 1;
          color: lighten($body-font-color, 30%);
        }
        &.hascontent {
          opacity: 1;
        }
      }
      .dropdown-pane {
        line-height: 1rem;
        font-size: 0.8rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        text-align: center;
        z-index: 100;
        &::before {
          content: '▲';
          font-size: 28px;
          top: -18px;
          color: white;
          transform: scaleX(3);
          text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
          position: absolute;
          left: 30px;
          width: 2rem;
          height: 1.1rem;
          line-height: 1rem;
          display: block;
          text-align: center;
          overflow: hidden;
        }
        input {
          max-width: 100%;
          min-width: initial;
          &[readonly] {
            cursor: pointer !important;
          }
        }
        >ul {
          margin: 0;
          &.list-items {
            max-height: 24rem;
            overflow-y: auto;
            .buttons {
              float: right;
              vertical-align: middle;
              span,
              a {
                color: $primary-color;
                cursor: pointer;
                &:hover,
                &:focus {
                  color: darken($primary-color, 30%);
                }
                &.invalidate-data-link {
                  color: map-get($foundation-palette, alert);
                  &:hover,
                  &:focus {
                    color: darken(map-get($foundation-palette, alert), 30%);
                  }
                }
              }
            }
          }
          >li {
            position: relative;
            text-align: left;
            font-size: 0.8rem;
            line-height: 1.2rem;
            padding: 0 0 0.2rem 0;
            i:not(.fa) {
              color: $dark-gray;
            }
          }
        }
        &.data-links {
          text-align: center;
          li {
            text-align: left;
          }
          .center-text {
            text-align: center;
          }
          .invalid {
            color: $dark-gray;
          }
          .email {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 3rem);
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.detail-header-functions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  input {
    padding: 0 0.5rem;
    height: 2.2rem;
    &.copy-input {
      padding-right: 2.3rem;
      text-overflow: ellipsis;
    }
  }
}

.edit-header-functions {
  .agb-link {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 0.2rem;
  }
  >ul {
    text-align: right;
    margin: 0;
    list-style: none;
    line-height: 3.5rem;
    &.no-bullet {
      margin: auto; // text-align: left;
    }
    >li {
      position: relative;
      button.has-tip {
        border-bottom: none;
        cursor: pointer;
      }
      &.buttons {
        a {
          vertical-align: top;
          padding: 0.1rem;
        }
      }
    }
  }
}
