.confirmation-modal {
  padding: 3rem 3rem 6rem 3rem;
  min-width: 20rem;
  .confirmation-text {
    text-align: center;
  }
  .confirmation-buttons {
    position: absolute;
    display: table;
    table-layout: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    button,
    .button {
      display: table-cell;
      line-height: 2rem;
      position: relative;
      font-weight: bold;
    }
  }
}
