.detail-header-functions,
.edit-header-functions {
  button,
  a {
    display: inline-block;
  }
  .button {
    margin: 1rem 0 0 0;
    font-weight: bold;
  }
  .fa {
    min-width: 1.2rem;
  }
  >ul {
    position: relative;
    >li {
      &.buttons {
        .close-show-button {
          .fa {
            font-size: 1.5rem;
          }
        }
        .submit {
          float: right;
          margin-top: -10%;
          margin-bottom: -10%;
          z-index: 100;
          i {
            display: inline-block;
          }
          &:disabled {
            // background-color: map-get($foundation-palette, alert);
            cursor: not-allowed;
          }
        }
        a {
          padding: 0;
        }
        >.button,
        >a>.button {
          margin: 0;
          display: block;
          background: none;
          outline: none;
          color: rgba($primary-color, 0.5);
          i {
            font-size: 1.5rem;
          }
          &:hover,
          &:focus {
            color: $primary-color;
          }
          &.discard {
            color: rgba($black, 0.5);
            &:hover,
            &:focus {
              color: $black;
            }
          }
          &.delete {
            color: rgba(map-get($foundation-palette, alert), 0.5);
            &:hover,
            &:focus {
              color: map-get($foundation-palette, alert);
            }
          }
        }
      }
      display: inline-block;
      position: relative;
      vertical-align: top;
      >a,
      >.link {
        color: $body-font-color;
        opacity: 0.3;
        transition: all ease-in-out 0.25s;
        padding: 0 0.5rem 1rem 0.5rem;
        cursor: pointer;
        line-height: 1.6;
        &:hover {
          opacity: 1;
          color: lighten($body-font-color, 30%);
        }
      }
    }
  }
}

.detail-header-functions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  input {
    padding: 0 0.5rem;
    height: 2.2rem;
    &.copy-input {
      padding-right: 2.3rem;
      text-overflow: ellipsis;
    }
  }
}

.edit-header-functions {
  .agb-link {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 0.2rem;
  }
  >ul {
    text-align: right;
    margin: 0;
    list-style: none;
    line-height: 3.5rem;
    &.no-bullet {
      margin: auto; // text-align: left;
    }
    >li {
      position: relative;
      button.has-tip {
        border-bottom: none;
        cursor: pointer;
      }
      &.buttons {
        a {
          vertical-align: top;
          padding: 0.1rem;
        }
      }
    }
  }
}
