/* CreativeWorks */


/* gridItems */

.flex {
  .data-cycle-object {
    .inner {
      .description {
        max-height: 300px;
        overflow: hidden;
      }
    }
  }
}

.data-cycle-object {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.2s;
  background: $white;
  -webkit-filter: blur(0);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.3); //background: $primary-color;
    transform: perspective(1px) scale(1.029);
    z-index: 2; //a, .type, .inner > .title, .row, .description { color: white; }
    .tags .tag {
      //background: rgba($white, 0.3);
      // color: rgba($white, 0.8);
    }
  }
  .inner {
    position: relative;
    overflow: hidden;
    >div {
      padding-bottom: 0.5rem;
    }
  }
  .type {
    &.thema {
      //color:orange;
    }
    font-size: 1rem;
    font-weight: normal;
  }
  .inner>.title {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 200;
    color: $black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .description {
    color: $black;
    p {
      margin: 0;
    }
  }
  /* Icon Rows */
  .row {
    .column {
      padding: 0;
    }
    color: $dark-gray;
  }
}


/* listItems */

.data-cycle-object.list-item {
  border: 2px solid $dark-gray;
  margin-bottom: 1.5rem;
  padding: 1rem;
  >div {
    padding-bottom: 0;
    >div>div {
      padding-bottom: 1rem;
    }
  }
}

@include breakpoint(xxxlarge) {
  .row .large-6 {
    width: 33%;
  }
}


/* Objectbrowser */

.media-thumbs {
  .media {
    display: block;
    float: left;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 0.85rem 1rem;
    margin: 0 1rem 1rem 0;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    &.thumbnail {
      position: relative;
      width: 229px;
      height: 157px;
      padding: 0;
      cursor: pointer;
      &.has-restrictions {
        box-shadow: 0 0 2px 1px red;
      }
      .description {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 221px;
        background: rgba(0, 0, 0, 0.5);
        height: 2rem;
        display: block;
        line-height: 1rem;
        font-size: 1rem;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem;
        text-align: center;
      }
    }
    span.caption {
      display: none;
    }
    &.add {
      border-color: $primary-color;
      background-color: $primary-color;
    }
    .delete-thumbnail {
      background: white;
      color: $dark-gray;
      padding: 0 0.2rem;
      cursor: pointer;
      &:hover {
        color: map-get($foundation-palette, alert);
      }
    }
  }
}

.object-browser {
  text-align: left;
  padding: 3rem 0 0 0.1rem;
  overflow: hidden;
  input {
    display: none;
  }
}

#object-browser {
  margin: 8.1rem 0 0 0 !important;
  outline: none;
  padding: 0;
  .object-browser-header {
    .buttons {
      position: absolute;
      right: 1rem;
      top: 1rem;
      .button,
      button {
        margin: 0;
        vertical-align: top;
      }
      .new-item-button {
        padding: 0.6rem 0.8rem;
        cursor: pointer;
      }
      .close-object-browser {
        margin: 0.5rem;
        cursor: pointer;
        .fa {
          color: $dark-gray;
          font-size: 1.5rem;
          &:hover,
          &:focus {
            color: $black;
          }
        }
      }
      .save-object-browser {
        .chosen-items {
          display: none;
          padding-top: 1rem;
          .chosen-item {
            padding: 0.5rem 2rem 0.5rem 0;
            text-align: left;
            position: relative;
            .remove {
              position: absolute;
              right: 0;
              top: 0.25rem;
              display: block;
              width: 1.5rem;
              height: 1.5rem;
              text-align: center;
              line-height: 1.5rem;
              &:hover,
              &:focus {
                color: red;
              }
            }
          }
        }
        &:hover,
        &:focus {
          .chosen-items {
            display: block;
          }
        }
      }
    }
    #object-browser-search {
      margin-top: 0.5rem;
      line-height: initial;
    }
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    color: $primary-color;
    font-size: 1.2rem;
    position: fixed;
    width: calc(100% - 400px);
    padding: 1rem 1rem 1rem 1rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&1+0,0.78+50,0+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.78) 50%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.78) 50%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.78) 50%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
  }
  .pagination {
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    clear: both;
    .active {
      border-radius: 30px;
      width: 30px;
      height: 30px;
      background: $light-gray;
      a {
        padding: 0;
        color: $dark-gray;
        cursor: default;
        text-decoration: none;
      }
    }
  }
  .items {
    padding: 7rem 1rem 1rem 1rem;
    margin-right: 400px;
    height: calc(100% - 8.1rem);
    overflow-y: scroll;
    .media {
      width: auto;
      height: auto;
      padding: 0.85rem 1rem;
      display: block;
      overflow: hidden;
      box-shadow: none;
      outline: none;
      border-radius: 0;
      overflow: hidden;
      background-color: white;
      border: solid 8px #fefefe;
      box-shadow: 0 0 0 1px rgba(51, 51, 51, 0.2);
      transition: box-shadow 200ms ease-out;
      cursor: pointer;
      &:hover,
      &:focus {
        box-shadow: 0 0 6px 1px rgba($primary-color, 0.5);
      }
      &.thumbnail {
        width: 247px;
        height: 170px;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        &.has-restrictions {
          box-shadow: 0 0 2px 1px red;
        }
      }
    }
    a.delete-thumbnail {
      display: none;
    }
    .loading {
      text-align: center;
      padding: 10rem 0;
      .fa {
        font-size: 3rem;
        color: $light-gray;
      }
    }
    .no-entries {
      text-align: center;
      padding: 10rem 0;
    }
    .item {
      &.active {
        .media {
          border-color: $primary-color;
          background-color: $primary-color;
        }
      }
      display: block;
      float: left;
      margin: 0 1rem 1rem 0;
      .delete-thumbnail {
        display: none;
      }
      .description {
        display: none;
      }
    }
  }
  .item-info {
    width: 400px;
    background: $white;
    position: fixed;
    right: 0;
    top: 8.1rem;
    bottom: 0;
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    background: $white;
    overflow-y: scroll;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 3;
    .edit-link {
      position: absolute;
      right: 1rem;
      top: 3.5rem;
    }
    dl {
      margin: 0;
      dt,
      dd {
        margin: 0;
        display: block;
      }
      dd {
        margin-bottom: 0.5rem;
      }
    }
  }
}

span.single_error.object-browser-error {
  right: initial;
  z-index: 9999;
  &:before {
    left: 5px;
  }
}

.close-object-browser-error {
  color: white;
  margin-left: 0.5rem;
  display: inline-block;
  &:hover,
  &:focus {
    color: $white;
  }
}


/* Object Browser New Items */

.reveal {
  &.new-item {
    background: $white;
    .loading {
      display: none;
      vertical-align: text-bottom;
      .fa {
        font-size: 2rem;
        color: $light-gray;
      }
      &.show {
        display: inline-block;
      }
    }
  }
}


/* embedded Objects */

.detail-header {
  .embedded_object {
    margin-bottom: 1rem;
    padding: 0.5rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    h2 {
      .icon {
        .fa {
          font-size: inherit;
        }
      }
    }
    .addContentObject {
      margin: 0;
      .fa {
        padding-left: 0.5rem;
      }
    }
    .content-object-item {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      position: relative;
      background-color: white;
      padding: 5rem 1rem 1rem 1rem;
      border-radius: 3px;
      box-shadow: 0 0 3px #9d9d9d inset;
      .removeContentObject {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
      .embedded-header {
        position: absolute;
        left: 1rem;
        top: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}


/* Duration Slider */

.detail-header.editor {
  .duration {
    .duration-slider {
      padding-left: 8rem;
      .small-2 {
        position: relative;
        padding-right: 0;
      }
      input {
        min-width: 100%;
        text-align: right;
        padding: 1rem 3rem 1rem 1rem;
        height: 2.5rem;
      }
      .duration-label {
        position: absolute;
        right: 1rem;
        top: 0;
        display: inline-block;
        height: 2.5rem;
        line-height: 2.5rem;
      }
    }
  }
}