.embedded-viewer {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  counter-reset: embedded;

  .accordion-title {
    background: transparent;
    color: $dark-gray;
    font-weight: normal;
    font-size: 1rem;
    border: none !important;
    padding: 0.8rem 2.5rem 0.8rem 1rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    line-height: initial;

    &:hover {
      color: $black;
    }

    &::before {
      content: '\f107';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 1.5rem;
      line-height: 1rem;
    }

    > .embedded-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-style: italic;

      &:before {
        content: '-';
        padding: 0 0.6rem 0 0.5rem;
      }
    }

    .icon {
      margin-right: 0.3rem;
      .fa {
        font-size: 1rem;
      }
    }
  }

  .accordion-content {
    border: none !important;
    padding-top: 0.4rem;
    background: transparent;
  }

  [data-accordion-item].is-active > .accordion-title {
    &::before {
      content: '\f106';
    }
  }

  .detail-type.embedded:not(:only-of-type) {
    counter-increment: embedded;
    > .accordion-title > .title::after {
      content: counter(embedded);
      margin-left: 0.3rem;
    }
  }
}
.detail-content .type.properties .embedded-viewer {
  .event_period {
    padding: 0.4rem 1rem;
  }
}

.detail-content .type.properties .detail-type {
  .detail-type {
    &[data-editor='text_editor'] {
      .detail-content {
        display: block;
        padding-left: 1rem;
      }
    }
  }
  &.embedded {
    padding: 0 !important;
  }
}

.embedded-object {
  counter-reset: embedded;

  .content-object-item:not(:only-of-type) {
    counter-increment: embedded;

    > .accordion-title > .embedded-label::after {
      content: counter(embedded);
      margin-left: 0.3rem;
    }
  }
}

.accordion-item {
  .accordion-title {
    &.with-accordion-all-buttons {
      padding-right: 7rem;
    }
  }

  .accordion-child-buttons {
    position: absolute;
    right: 2.5rem;
    top: 0;
    padding: 0;
    height: 3rem;
    display: flex;

    .accordion-close-children,
    .accordion-open-children {
      cursor: pointer;
      color: $dark-gray;
      padding: 0.8rem 0.5rem;

      .fa {
        font-size: 1.5rem;
        line-height: 1rem;
        vertical-align: middle;
      }

      &:hover {
        color: $black;
      }
    }
  }

  &.content-object-item {
    .accordion-child-buttons {
      right: 5.5rem;
      top: 0.5rem;
    }
  }
}

.detail-header .edit .button-prime {
  &.accordion-close-all,
  &.accordion-open-all {
    background-color: $dark-gray;
  }
}

.edit-links-bar {
  .accordion-child-buttons {
    display: flex;

    .accordion-close-all,
    .accordion-open-all {
      .fa {
        font-size: 1.5rem;
        line-height: 1rem;
        vertical-align: middle;
      }
    }
  }
}
