
/* Masonry */
.grid{
  .grid-sizer{
    width: 32%
  }
  .gutter-sizer{
    width: 2%
  }
  .grid-item {
    width: 32%;
    padding: 1rem;
    margin-bottom: 1%;
    overflow: hidden;
    z-index: 1;

    /* testing */
    &.layout-1, &.layout-3{
      padding-bottom: 1rem;
    }
    &.layout-0, &.layout-5{
      padding-bottom: 10rem;
    }
    &.layout-2, &.layout-4{
      padding-bottom: 20rem;
    }
    /* testing */
  }
}

.grid.large{
  .grid-item{
    .inner{
      height: 500px;
      max-height: 500px;
      overflow: hidden;
      img {
        max-height: 350px;
      }
    }
    &:hover, &:focus {
      z-index: 2;
      .inner {
        max-height: none;
        min-height: 500px;
        height: auto;
      }
    }
    /* reset testing */
    &.layout-1, &.layout-3, &.layout-0, &.layout-5, &.layout-2, &.layout-4{
      padding-bottom: 1rem;
    }
    /* testing */
  }
}

.grid.small{
  .grid-sizer{
    width: 23.3%
  }
  .gutter-sizer{
    width: 2%
  }
  .grid-item{
    width: 23.3%;
    .inner{
      height: 250px;
      max-height: 250px;
      overflow: hidden;
      img {
        max-height: 150px;
      }
      > .title {
        font-size: 0.9rem;
        font-style: italic;
      }
    }
    &:hover, &:focus {
      z-index: 2;
      .inner {
        max-height: none;
        min-height: 250px;
        height: auto;
      }
    }
      /* reset testing */
      &.layout-1, &.layout-3, &.layout-0, &.layout-5, &.layout-2, &.layout-4{
        padding-bottom: 1rem;
      }
      /* testing */
  }
}

  @include breakpoint(large) {


    .grid{
      .grid-sizer{
        width: 23.7%
      }
      .gutter-sizer{
        width: 1.5%
      }
      .grid-item {
        width: 23.7%;
      }
    }

    .grid.small{
      .grid-sizer{
        width: 15.3%
      }
      .gutter-sizer{
        width: 1.5%
      }
      .grid-item{
        width: 15.3%;
      }
    }



  }

  @include breakpoint(xlarge) {


    .grid{
      .grid-sizer{
        width: 19.2%
      }
      .gutter-sizer{
        width: 1%
      }
      .grid-item {
        width: 19.2%;
      }
    }

   .grid.small{
      .grid-sizer{
        width: 10.2%
      }
      .gutter-sizer{
        width: 1%
      }
      .grid-item{
        width: 10.2%;
      }
    }


  }