.remove-from-watchlist-link {
  color: map-get($foundation-palette, alert);
  &:hover,
  &:focus {
    color: lighten(map-get($foundation-palette, alert), 10%);
  }
}

.detail-header {
  .destroy {
    a {
      span {
        display: none;
      }
    }
  }
  #add-watchlist {
    li {
      position: relative;
      .check {
        color: green;
      }
      .remove-link {
        position: absolute;
        right: 0;
        .remove-from-watchlist-link {
          padding: 0;
        }
      }
      .add-link {
        color: green;
        position: absolute;
        right: 0;
        &:hover,
        &:focus {
          color: lighten(green, 10%);
        }
      }
    }
  }
}

#settings-off-canvas {
  .settings-row {
    &.watchlists {
      a {
        margin: 0;
      }
      .add-watch-list {
        float: right;
      }
      .item {
        padding: 0.5rem;
      }
      span.icon {
        display: inline-block;
        width: 2rem;
      }
    }
  }
}