.detail-header {
  .destroy {
    a {
      span {
        display: none;
      }
    }
  }
}

.remove-from-watchlist-link {
  color: map-get($foundation-palette, alert);
  &:hover,
  &:focus {
    color: lighten(map-get($foundation-palette, alert), 10%);
  }
}

.watch-lists {
  li {
    .watch-list-item {
      .check {
        position: absolute;
        left: 0;
        color: $light-gray;
        &.checked {
          color: map-get($foundation-palette, primary);
        }
      }
      width: 100%;
      display: inline-block;
      padding: 0 1.5rem 0 1.5rem;
      position: relative;
      line-height: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
    }
    .change-link {
      position: absolute;
      right: 0;
      padding: 0;
    }
    &.add-watchlist {
      position: relative;
      margin-top: 1rem;
      label {
        display: none;
      }
      input {
        border: 1px solid $light-gray;
        background: $light-gray;
        outline: none;
        padding: 0 2rem 0 0.5rem;
        height: 2.2rem;
        line-height: 1;
        margin: 0;
        border-color: $light-gray;
        box-shadow: 0 0 0 $dark-gray;
        position: relative;
        transition: box-shadow 0.1s, border-color 0.25s ease-in-out;
        &::placeholder {
          color: $dark-gray;
        }
      }
      form {
        [type=submit] {
          position: absolute;
          right: 0;
          top: 0;
          padding: 0.4rem 0.5rem;
          margin: 0;
        }
        button[type="submit"].button i {
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}

#settings-off-canvas {
  .settings-row {
    &.watchlists {
      a {
        margin: 0;
      }
      .add-watch-list {
        float: right;
      }
      .item {
        padding: 0.5rem;
      }
      span.icon {
        display: inline-block;
        width: 2rem;
      }
    }
  }
}