.counter {
  &.warning {
    color: $warning-color;
  }
  &.error {
    color: $alert-color;
    font-weight: bold;
  }
  position: absolute;
  right: 10px;
  bottom: 3px;
  z-index: 1;
  text-align: right;
  font-size: 100%;
  font-style: italic;
}
