<div class="form-element">
  <%= label_tag "#{local_assigns.dig(:options, :prefix)}parent_id", t('common.parent', locale: active_ui_locale) %>

  <div class="v-select white">
    <% I18n.with_locale(active_ui_locale) do %>
      <%= select_tag(
            'parent_id',
            async_thing_select_options(local_assigns[:parent], true),
            {
              multiple: false,
              include_blank: false,
              class: 'async-select',
              id: "#{local_assigns.dig(:options, :prefix)}parent_id",
              data: {
                max: 20,
                allow_clear: false,
                placeholder: t('common.parent', locale: active_ui_locale),
                search_path: select_search_things_path,
                query_params: {
                  template_name: local_assigns[:parent_templates]
                }
              }
            }
          ) %>
    <% end %>
  </div>
</div>
