<% crumbs.presence&.each do |crumb| %>
  <%= link_to crumb[:title], crumb[:url], remote: true, method: :post, class: 'form-crumb-link' %>
<% end %>
<span class="form-crumb-link">
  <%= title %>
</span>
