<li class="has-dropdown preview_links">
  <% random_id = SecureRandom.hex(10) %>

  <a data-toggle="<%= random_id %>"><i class="fa fa-eye" aria-hidden="true"></i></a>
  <div class="dropdown-pane no-bullet bottom" id="<%= random_id %>" data-dropdown>

    <h5><%= t('common.preview_links', locale: active_ui_locale) %></h5>

    <ul class="list-items">
      <% content.try(:output_channel).to_a.each do |channel| %>
        <% uri = channel.uri.presence || channel.primary_classification_alias&.uri %>
        <% if uri.present? %>
          <% preview_url = format(uri, locale: active_ui_locale, id: content&.id) %>
          <li class="active content-preview-link">
            <%= link_to safe_join([tag.span(channel.name), tag.i(class: 'fa fa-share', aria_hidden: true)]), preview_url, target: :_blank %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</li>
