<div class="detail-content detail-content-wrapper">

    <div class="row align-center">

        <% unless content.schema.nil? %>

            <% validation_properties = get_ordered_validation_properties(content.schema) %>

            <% if validation_properties.present? %>

                <div class="type properties">

                    <% validation_properties.each do |key, prop| %>

                        <% value = content.try(key.to_sym) %>

                        <%= render_attribute_history_viewer key: key, definition: prop, value: value, parameters: { options: options ||= {}, content: content } %>

                    <% end %>

                </div>

            <% end %>

        <% end %>

        <%= render 'translations', language: nil, dataCycleObject: content %>

    </div>

</div>
