<div class="translatable-attribute-container">
  <div class="translatable-attribute active <%= I18n.locale.to_s %>">
    <%= render_specific_translatable_title_attribute_viewer(
          key: key,
          locale: I18n.locale,
          content: content
        ) %>
  </div>

  <% content&.translated_locales&.except(I18n.locale)&.each do |a_locale| %>
    <div class="translatable-attribute remote-render <%= a_locale.to_s %>"
      data-remote-render-function="render_specific_translatable_title_attribute_viewer"
      data-remote-render-params="<%= to_query_params(
        locale: a_locale,
        key: key,
        content: content
      ).to_json %>">
    </div>
  <% end %>
</div>
