<div class="detail-content detail-content-wrapper">

  <div class="row align-center">

    <div class="type properties">

      <% ordered_validation_properties(validation: content.schema).each do |key, prop| %>

        <% value = content.try(key.to_sym) %>

        <%= render_attribute_viewer key: key,
                                    definition: prop,
                                    value: value,
                                    parameters: {
                                      options: options.merge({
                                        item_diff: attribute_changes(@diff_schema, key),
                                        mode: changes_mode(attribute_changes(@diff_schema, key))
                                      })
                                    },
                                    content: content %>

      <% end %>

    </div>

  </div>

</div>
