<% unless dataCycleObject.schema.nil? %>

    <% validation_properties = get_ordered_validation_properties(dataCycleObject.schema) %>

    <% if !validation_properties.nil? %>

        <!-- todo: make this more generic ? -->
        <% exludedProperties = @splitSource.nil? && @historySource.nil? ? ['headline','validity_period'] : []  %>

        <div class="type properties">

            <% validation_properties.each do |key, prop| %>

                <% value = prop.dig('type') == "object" ? dataCycleObject.try(key.to_sym) : dataCycleObjectSchema[key] %>

                <% value = value.presence&.page(1)&.per(DataCycleCore.linked_objects_page_size) if value.is_a?(ActiveRecord::Relation) %>

                <% if !exludedProperties.include?(key) %>
                    <%= render_attribute_viewer key: key, definition: prop, value: normalize_value(value), parameters: { options: options, content: dataCycleObject } %>
                <% end %>

            <% end %>

        </div>

    <% end %>

<% end %>
