<% unless content.schema.nil? %>

    <% validation_properties = ordered_validation_properties(content.schema) %>

    <% if !validation_properties.nil? %>

        <!-- todo: make this more generic ? -->
        <% exludedProperties = @splitSource.nil? && @historySource.nil? ? ['headline','validity_period'] : []  %>

        <div class="type properties">

            <% validation_properties.each do |key, prop| %>

                <% value = content.try(key.to_sym) %>
                <% value = value.presence&.page&.per(DataCycleCore.linked_objects_page_size) if value.is_a?(ActiveRecord::Relation) && prop['type'] == 'object' %>

                <% if !exludedProperties.include?(key) %>
                    <%= render_attribute_viewer key: key, definition: prop, value: value, parameters: { options: options }, content: content %>
                <% end %>

            <% end %>

        </div>

    <% end %>

<% end %>
