<% unless content.schema.nil? %>

  <div class="type properties">

    <% ordered_validation_properties(
        validation: content.schema,
        content_area: local_assigns.dig(:options, :force_render).to_s == 'true' ? '' : 'content',
        scope: :show,
        exclude_types: local_assigns.dig(:options, :exclude_types)
      ).except(DataCycleCore::Feature::LifeCycle.attribute_keys(content)&.first).each do |key, prop| %>

      <%= render_attribute_viewer key: "#{DataCycleCore::AttributeEditorHelper::ATTRIBUTE_FIELD_PREFIX}[#{key}]",
                                  definition: prop,
                                  parameters: {
                                    options: options
                                  },
                                  content: content %>
    <% end %>

  </div>

<% end %>
