<li class="has-dropdown">
  <a data-toggle="language-menu"><i class="fa fa-language" aria-hidden="true"></i></a>
  <div class="dropdown-pane align-right no-bullet bottom" id="language-menu" data-dropdown data-hover="true" data-hover-pane="true">
    <h5><%= t('common.choose_language', locale: DataCycleCore.ui_language) %></h5>
    <ul class="list-items">
      <% locales.each do |locale| %>
        <li class="<%= "active" if locale.first == I18n.locale %>">
          <%= link_to_unless locale.first == I18n.locale, locale.last, edit_polymorphic_path(content, watch_list_id: @watch_list, locale: locale.first) %>
          <%== '<span class="buttons"><i class="fa fa-language" aria-hidden="true"></i></span>' if content.translated_locales.include?(locale.first) %>
        </li>
      <% end %>
    </ul>
  </div>
</li>
