<div class="external-source">
    <span>Externe Datenquelle: <%= content.external_source.name %></span>
    <% if content.external_key.present? %>
        <span> (ID: <%= content.external_key %>)</span>
    <% end %>
</div>