<div class="status-container">
  Status:
  <%= tag.span class: "status dc-foundation-toolti",
    data: {
      allow_html: true
    },
    title: content.release_status_comment do %>
    <%= tag.strong content.release_status_id.first&.primary_classification_alias&.internal_name %>
    <%= tag.i class: 'fa fa-comment' if content.release_status_comment.present? %>
  <% end %>
</div>
