<div class="status-container">
  Status:
  <%= tag.span class: 'status',
    data: {
      tooltip: content.release_status_comment.present? ? true : nil,
      allow_html: content.release_status_comment.present?
    },
    title: content.release_status_comment do %>
    <%= tag.strong content.release_status_id.first&.primary_classification_alias&.name %>
    <%= tag.i class: 'fa fa-comment' if content.release_status_comment.present? %>
  <% end %>
</div>
