<ul data-accordion class="accordion content-version-and-status" data-allow-all-closed="true">
  <li class="accordion-item " data-accordion-item>
    <div class="accordion-content" data-tab-content>
      <div class="content-version-and-status-attributes">
        <% if DataCycleCore::Feature::NamedVersion.enabled? %>
          <div class="clearfix form-element version-name string">
            <%= label_tag 'thing[version_name]', t('feature.named_version.input_label', locale: active_ui_locale) %>
            <%= text_field_tag 'thing[version_name]', nil, id: 'thing_version_name', class: 'form-control' %>
          </div>
        <% end %>

        <% content.property_definitions.slice(*DataCycleCore::Feature::Releasable.allowed_attribute_keys(content)).each do |key, prop| %>
          <% concat render_attribute_editor(
                  content: content,
                  key: key,
                  prefix: key_prefix,
                  value: content.try(key.to_sym),
                  definition: prop,
                  parameters: { options: {}, hide_embedded: @hide_embedded }
                ) %>
        <% end %>
      </div>
    </div>

    <a href="#" class="accordion-title"><span class="content-version-and-status-button"><%= t('feature.releasable.version_and_status', locale: active_ui_locale) %></span></a>
  </li>
</ul>
