<% content_for :head do %>
  <style>
    .header table {
      width: 100%;
      border-collapse: collapse;
    }
    .header td {
      padding: 0;
    }

    .header .header_top td {
      height: 5px;
      background: <%= DataCycleCore.logo.dig('customercolor') || '#cc0000' %>;
    }

    .header .header_main td {
      background: #333333;
      text-align: center;
    }
    .header .header_main td:not(:first-child):not(:last-child) {
      width: 34%;
    }
    .header .header_main img {
      display: block;
      width: 120px;
      height: 65px;
      margin: 0 auto;
    }

    .show-for-print {
      display: none;
    }

    .header .header_bottom td {
      background: #d6d6d6;
      text-align: center;
    }
    .header .header_bottom img {
      display: block;
      height: 8px;
      width: 102px;
      margin: 0 auto;
    }
  </style>
<% end %>

 <tr class="header">
  <td>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr class="header_top">
        <td colspan="3"></td>
      </tr>

      <tr class="header_main">
        <td colspan="3" width="100%" align="center">
          <%= email_image_tag DataCycleCore.logo['inverted'], style: "height: #{DataCycleCore.logo.dig('mail_dimensions', 'height')}; width: #{DataCycleCore.logo.dig('mail_dimensions', 'width')};" %>
        </td>
      </tr>

      <tr class="header_bottom">
        <td align="center" colspan="3">
          <%= email_image_tag 'eml-datacycle-border.png', border: 0, width: 101, height: 0, alt: 'dataCycle Boder' %>
        </td>
      </tr>
    </table>
  </td>
</tr>
