<% content_for :head do %>
  <style>
    .header table {
      width: 100%;
      border-collapse: collapse;
    }
    .header td {
      padding: 0;
    }

    .header .header_top td {
      height: 5px;
      background: #cc0000;
    }

    .header .header_main td {
      width: 33%;
      background: #333333;
      text-align: center;
    }
    .header .header_main td:not(:first-child):not(:last-child) {
      width: 34%;
    }
    .header .header_main img.logo {
      display: block;
      width: 120px;
      height: 65px;
      margin: 0 auto;
    }

    .header .header_bottom td {
      background: #d6d6d6;
      text-align: center;
    }
    .header .header_bottom img.logo_border {
      display: block;
      height: 8px;
      width: 102px;
      margin: 0 auto;
    }
  </style>
<% end %>

 <tr class="header">
  <td>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr class="header_top">
        <td colspan="3"></td>
      </tr>

      <tr class="header_main">
        <td width="33%">

        <td width="34%" align="center">
          <img border="0" width="120" height="65" src="<%= image_url('eml-datacycle.png') %>" alt="dataCycle Logo">
        </td>

        <td width="33%"></td>
      </tr>

      <tr class="header_bottom">
        <td align="center" colspan="3">
          <img border="0" width="101" height="8" src="<%= image_url('eml-datacycle-border.png') %>" alt="dataCycle Border">
        </td>
      </tr>
    </table>
  </td>
</tr>
