<li id="<%= classification_tree.id %>">
  <span class="inner-item">
    <%= link_to classification_tree_label_path(classification_tree_label, classification_tree_id: classification_tree.id), data: {remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}"}, class: 'tree-link' do %>
      <%= classification_tree.sub_classification_alias.try(:name) %>
      <% if content_counts[classification_tree.id].positive? %>
        <span class="children-count">(<%= content_counts[classification_tree.id] %>)</span>
      <% end %>
    <% end %>
  </span>
  <ul class="children"></ul>
  <ul class="contents no-bullet"></ul>
</li>
