<% contents.presence&.each do |content| %>
  <% I18n.with_locale(content.first_available_locale) do %>
    <li id="<%= content.id %>" class="content-row">
      <%= render 'data_cycle_core/contents/tiles/attributes/type', item: content %>
      <%= render 'data_cycle_core/contents/tiles/attributes/title', item: content if content.try(:title).present? %>
      <%= render 'data_cycle_core/contents/tiles/attributes/tags', item: content if content.try(:display_classification_aliases).present? %>
    </li>
  <% end %>
<% end %>
