<% contents.presence&.each do |content| %>
  <% I18n.with_locale(content.first_available_locale) do %>
    <%= render_content_list_item(item: content, parameters: local_assigns) %>
  <% end %>
<% end %>
<% if @page < @total_pages %>
  <li class="content-row button-row">
    <%= link_to params.permit(language: [], f: [:c, :t, :n, :m, v: []]).merge({ classification_tree_id: local_assigns[:classification_parent_tree]&.id || classification_tree.id, container_id: local_assigns[:container]&.id, classification_parent_tree_id: local_assigns[:classification_parent_tree]&.id, page: (@page + 1) }), data: {remote: true, disable_with: "<i class='fa fa-spinner fa-spin'></i> #{t('common.loading', locale: DataCycleCore.ui_language)}"} do %>
      <%= t('common.load_more', locale: DataCycleCore.ui_language) %>
    <% end %>
  </li>
<% end %>
