<% breadcrumb :classification_tree_label, @classification_tree_label %>

<% content_for :top_content do %>
  <%= render 'filter', filter: { language: true, classification_trees: ['Inhaltstypen', 'Märkte'] } if user_signed_in? %>
<% end %>

<div id="classification-tree-label-list" class="row">
  <div class="small-12 columns">
    <ul class="backend-treeview-list">
      <li id="<%= @classification_tree_label.id %>"><h1><%= t("tree_view.#{@classification_tree_label.name}") %></h1>
        <ul class="children">
          <%= render 'classification_trees', classification_tree_label: @classification_tree_label, classification_trees: @classification_trees, content_counts: @content_count %>
        </ul>
      </li>
    </ul>
  </div>
</div>
