
<% unless dataCycleObject.metadata.nil? %>

    <br /><br />

    <% if !dataCycleObject.metadata.nil? && !dataCycleObject.metadata['validation'].nil? %>

        <% validation_properties = get_ordered_validation_properties(dataCycleObject.metadata['validation']) %>

        <% if !validation_properties.nil? %>

            <!-- todo: make this more generic ? -->
            <% exludedProperties = ['headline','validityPeriod'] if @splitSource.nil? %>

            <div class="type properties">

                <% validation_properties.each do |key, prop| %>

                    <% value = prop.dig('type') == "object" ? dataCycleObject.try(key.to_sym) : dataCycleObjectSchema[key] %>

                    <% if !value.blank? && !exludedProperties.include?(key) %>

                        <%= render "data_cycle_core/creative_works/partials/show/datatype/#{prop['type'].downcase}",
                                label: prop['label'],
                                prop: prop,
                                key: key,
                                value: normalize_value(value) %>

                    <% end %>

                <% end %>

            </div>

        <% end %>

    <% end %>




    <hr>

<% end %>
