
<% unless dataCycleObject.metadata.nil? %>

    <br /><br />

    <% if !dataCycleObject.metadata.nil? && !dataCycleObject.metadata['validation'].nil? %>

        <% validation_properties = get_ordered_validation_properties(dataCycleObject.metadata['validation']) %>

        <% if !validation_properties.nil? %>

            <!-- todo: make this more generic ? -->
            <% exludedProperties = @splitSource.nil? ? ['headline','validity_period'] : []  %>

            <div class="type properties">

                <% validation_properties.each do |key, prop| %>

                    <% value = prop.dig('type') == "object" ? dataCycleObject.try(key.to_sym) : dataCycleObjectSchema[key] %>

                    <% if !exludedProperties.include?(key) %>

                    <%= render_attribute_viewer key: key, definition: prop, value: normalize_value(value), parameters: { options: prop.dig('editor', 'options') || {} } unless dataCycleObjectSchema.nil? %>

                    <% end %>

                <% end %>

            </div>

        <% end %>

    <% end %>

    <hr>

<% end %>
