<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sehr geehrter Besucher,</h1>
    <p>
      <%= @user.name %> hat einen Link mit Ihnen geteilt: <br>
      <%= link_to @url, @url %>.<br>
    </p>
    <p>Mit diesem Link können Sie einen spezifischen Inhalt <%= @action %>.</p>
    <% unless @comment.blank? %>
      <span>Kommentar:</span>
      <p>
        <%= simple_format(@comment) %>
      </p>
    <% end %>
  </body>
</html>
