<div class="grid <%= @mode %>">

	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
	<div class="grid-loading">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>

	<% unless dataCycleObjects.nil? %>

		<% dataCycleObjects.each do |dataCycleObject| %>

			<% if !dataCycleObject.metadata.nil? && !dataCycleObject.metadata['validation'].nil? %>

				<%# if !dataCycleObject.metadata['validation']['content_type'].nil? && dataCycleObject.metadata['validation']['content_type'] != 'embedded' %>

					<% if !dataCycleObject.metadata['validation']['name'].nil? && !dataCycleObject.metadata['validation']['name'].blank? %>

						<%= render "data_cycle_core/backend/partials/render/grid#{@mode.camelcase}Item", item: dataCycleObject %>

					<% end %>

				<% end %>

			<%# end %>

		<% end %>

	<% end %>

</div>
