<%= render 'data_cycle_core/contents/editors/attribute_editor', key: key, definition: definition, value: value, options: options do %>

  <div class="<%= 'content-object-item' unless definition.dig('editor', 'options', 'class')&.match?(/daterange/) %>">

    <% unless definition.dig('editor', 'options', 'class')&.match?(/daterange/) %>
      <span class="embedded-header"><span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span> <%= definition['label'] %></span>
    <% end %>

    <% get_ordered_validation_properties(definition).each do |o_key, o_definition| %>
      <%= render_attribute_editor key: "#{key}[#{o_key}]", definition: o_definition, value: value.try(:[], o_key), parameters: { options: o_definition.dig('editor', 'options') || {}, content: content } %>
    <% end %>

  </div>

<% end %>
