<%= render 'data_cycle_core/contents/viewers/attribute_viewer', key: key, definition: definition, value: value, options: options do %>

    <span class="detail-content">
      <%= definition&.dig('validations', 'format') == 'float' ? value.to_f : value.to_i %>
      <%= definition&.dig('editor', 'options', 'data-unit').presence&.html_safe %>
    </span>

<% end %>
