<a id="send-link-link" data-toggle="send-link"><i class="fa fa-share" aria-hidden="true"></i><i class="fa <%= !dataCycleObject.show_link.nil? || (defined?(dataCycleObject.edit_link) && !dataCycleObject.edit_link.nil?) ? 'fa-user' : 'fa-user-o' %>" aria-hidden="true"></i> <%= t('actions.send') %></span></a>

<ul class="dropdown-pane no-bullet bottom data-links" id="send-link" data-dropdown data-hover="true" data-hover-pane="true">

  <% if defined?(dataCycleObject.show_link) %>
    <%= render 'data_cycle_core/shared/email_data_link', id: "show-link-email-overlay", type: t('actions.show'), content: dataCycleObject, link_type: "show_link", permission: 'read' %>
  <% end %>

  <% if defined?(dataCycleObject.edit_link) && dataCycleObject.metadata.dig('validation', 'permissions', 'read_write') %>
    <hr />
    <%= render 'data_cycle_core/shared/email_data_link', id: "edit-link-email-overlay", type: t('actions.edit'), content: dataCycleObject, link_type: "edit_link", permission: 'write' %>
  <% end %>

</ul>
