<% case icon_type %>
<% when "thema", 'aktuelle_inhalte' %>
    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
<% when "thema_archiv", 'archiv' %>
    <span class="icon"><i class="fa fa-archive" aria-hidden="true"></i></span>
<% when "recherche", "thema_recherche" %>
    <span class="icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
<% when "thema_vorschlage", 'vorschlage' %>
    <span class="icon"><i class="fa fa-sticky-note" aria-hidden="true"></i></span>
<% when "artikel", "standard-artikel" %>
    <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<% when "angebot" %>
    <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<% when "bild", "foto-serie", "datacycle_-_bild" %>
    <span class="icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
<% when "bundesländer", 'bundeslander' %>
    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
<% when "märkte", "zielmärkte", 'markte' %>
    <span class="icon"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
<% when "sprache" %>
    <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
<% when "socialmediaposting" %>
    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
<% when "portrait" %>
    <span class="icon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
<% when "biografie" %>
    <span class="icon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
<% when "zitat" %>
    <span class="icon"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
<% when "zeitleiste", "zeitleiste-eintrag" %>
    <span class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
<% when "app" %>
    <span class="icon"><i class="fa fa-android" aria-hidden="true"></i></span>
<% when "voting" %>
    <span class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
<% when "rezept", "rezept-komponente" %>
    <span class="icon"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
<% when "linktipps", "mobileapplication" %>
    <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
<% when "website" %>
    <span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
<% when "interview" %>
    <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
<% when "quiz" %>
    <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
<% when "frage" %>
    <span class="icon"><i class="fa fa-question" aria-hidden="true"></i></span>
<% when "antwort" %>
    <span class="icon"><i class="fa fa-reply" aria-hidden="true"></i></span>
<% when "person", "user" %>
    <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
<% when "organization", "user_organization" %>
    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
<% when "contentlocation" %>
    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
<% when "ortlichkeit", "örtlichkeit" %>
    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
<% when "poi" %>
    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
<% when "unterkunft" %>
    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
<% when "tour" %>
    <span class="icon"><i class="fa fa-map" aria-hidden="true"></i></span>
<% when "merkliste" %>
    <span class="icon"><i class="fa fa-list-ul" aria-hidden="true"></i></span>
<% when "inhaltstypen" %>
    <span class="icon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
<% when "inhaltsarten" %>
    <span class="icon"><i class="fa fa-file" aria-hidden="true"></i></span>
<% when "jahreszeiten" %>
    <span class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
<% when "ausgabekanäle" %>
    <span class="icon"><i class="fa fa-tag" aria-hidden="true"></i></span>
<% when "gruppe" %>
    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
<% when "anonym" %>
    <span class="icon"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
<% when "video", "video-serie", "youtube-video", "datacycle_-_video" %>
    <span class="icon"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
<% when "event", "subevent" %>
    <span class="icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
<% when "prospekt" %>
    <span class="icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
<% when "pdf", "datacycle_-_pdf" %>
    <span class="icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
<% when "pdf", "datacycle_-_audio" %>
    <span class="icon"><i class="fa fa-file-audio-o" aria-hidden="true"></i></span>
<% else %>
    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
<% end %>
