<% case icon_type %>
<% when "thema" %>
    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
<% when "recherche" %>
    <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
<% when "standard-artikel" %>
    <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<% when "angebot" %>
    <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<% when "bild" %>
    <span class="icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
<% when "bundesländer" %>
    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
<% when "märkte" %>
    <span class="icon"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
<% when "sprache" %>
    <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
<% when "socialmediaposting" %>
    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
<% when "portrait" %>
    <span class="icon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
<% when "biografie" %>
    <span class="icon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
<% when "zitat" %>
    <span class="icon"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
<% else %>
    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
<% end %>