<% case icon_type %>
<% when "thema" %>
    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
<% when "recherche" %>
    <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
<% when "standard-artikel" %>
    <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<% when "angebot" %>
    <span class="icon"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<% when "bild" %>
    <span class="icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
<% when "bundesländer" %>
    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
<% when "märkte" %>
    <span class="icon"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></span>
<% when "sprache" %>
    <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
<% when "socialmediaposting" %>
    <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
<% when "portrait" %>
    <span class="icon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
<% when "biografie" %>
    <span class="icon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
<% when "zitat" %>
    <span class="icon"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
<% when "zeitleiste", "zeitleiste-eintrag" %>
    <span class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
<% when "app" %>
    <span class="icon"><i class="fa fa-android" aria-hidden="true"></i></span>
<% when "voting" %>
    <span class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
<% when "rezept", "rezept-komponente" %>
    <span class="icon"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
<% when "linktipps", "mobileapplication" %>
    <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
<% when "website" %>
    <span class="icon"><i class="fa fa-laptop" aria-hidden="true"></i></span>
<% when "interview" %>
    <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
<% when "quiz" %>
    <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
<% when "frage" %>
    <span class="icon"><i class="fa fa-question" aria-hidden="true"></i></span>
<% when "antwort" %>
    <span class="icon"><i class="fa fa-reply" aria-hidden="true"></i></span>
<% else %>
    <span class="icon"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
<% end %>