<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">DataCycle Import</li>
      <!-- <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li> -->
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if user_signed_in? %>
        <li><%= current_user.email %></li>
        <li><%=link_to 'logout', data_cycle_core.destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%=link_to 'login', data_cycle_core.new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
