<div id="new-object-circle">
    <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
        <!--<a class="option" href="#"><i class="fa fa-commenting" aria-hidden="true"></i>Themenvorschlag einbringen</a>-->
        <a class="option" href="#" data-open="recherche"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Recherche beginnen</a>
        <a class="option last" href="#" data-open="newCreativeWork"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Neues Thema erstellen</a>
    </div>
</div>

<%= render 'data_cycle_core/creative_works/partials/shared/new' %>
