<div id="new-object-circle">
    <a data-toggle="new-object" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
        <a class="option last" href="#" data-open="newPerson"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Neue Person erstellen</a>
    </div>
</div>

<%= render 'data_cycle_core/persons/partials/shared/new' %>
