<div id="new-object-circle">
  <a data-toggle="new-object"><i class="fa fa-plus" aria-hidden="true"></i></a>
  <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
    <div class="option color-scheme-1"><a href="#">Themenvorschlag einbringen</a></div>
    <div class="option color-scheme-2"><a href="#">Recherche beginnen</a></div>
    <div class="option color-scheme-3 last"><a data-open="newCreativeWork">Neues Thema erstellen</a></div>
  </div>
</div>

<!-- testing -->

<% if !@creativeWork.nil? %>

    <div class="reveal" id="newCreativeWork" data-reveal>
  <h3>Neues Thema erstellen</h3>

  <%= form_for(@creativeWork) do |f| %>

      <%= f.text_field :headline, class: 'form-control', readonly: true, value:params[:search] %>
      <% if params[:search].present? %>
        <%= f.submit "Erstellen", class: "button primary" %>
      <% end %>
  <% end %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<% end %>