<div id="new-object-circle">
  <a data-toggle="new-object"><i class="fa fa-plus" aria-hidden="true"></i></a>
  <div class="reveal" id="new-object" data-reveal data-append-to="#new-object-circle" data-v-offset="auto">
    <div class="option color-scheme-1"><a href="#">Themenvorschlag einbringen</a></div>
    <div class="option color-scheme-2"><a href="#">Recherche beginnen</a></div>
    <div class="option color-scheme-3 last"><a href="#">Neues Thema erstellen</a></div>
  </div>
</div>
