<span class="template-title" title="<%= content.translated_template_name(active_ui_locale) %>">
  <%= content.translated_template_name(active_ui_locale) %>
</span>

<% if local_assigns[:languages].present? %>
  <span class="template-locale" data-locale="<%= languages.first %>">
    (<%= languages.first %>)
  </span>
<% end %>
