<% content_for :new_content_form_title, t('actions.choose_type', locale: DataCycleCore.ui_language) %>
<% content_for :form_crumbs, render('data_cycle_core/contents/new/shared/crumbs', crumbs: local_assigns[:form_crumbs], title: yield(:new_content_form_title)) %>

<%= form_with url: contents_new_path do |f| %>
  <%= render 'data_cycle_core/contents/new/shared/crumb_form_tags',
    additional_params: to_query_params(local_assigns),
    url: (@active_url || contents_new_path(to_query_params(local_assigns))),
    title: yield(:new_content_form_title) %>

  <div class="form-element">
    <div class="v-select white">
      <%= select_tag(
        :new_template,
        options_for_select(new_content_select_options(query_methods: local_assigns[:query_methods], content: local_assigns[:content], scope: local_assigns[:scope])),
        {
          class: 'single-select',
          data: {
            tree_label: 'Inhaltstypen',
            allow_clear: false
          }
        }
      ) %>
    </div>
  </div>

  <div class="buttons">
    <%= f.button t('actions.next', locale: DataCycleCore.ui_language), type: :submit, class: "button primary", data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin fa-fw'></i> #{t('actions.next', locale: DataCycleCore.ui_language)}" } %>
  </div>
<% end %>
