<section class="breadcrumb">
    <div class="row expanded">
        <div class="column">
            <ul>
                <% breadcrumbs(display_single_fragment: true).tap do |links| %>
                    <% if links.any? %>
                        <% links.each do |link| %>
                            <li>
                                <% if link.current? %>
                                    <span class="breadcrumb-text"><%= link.text %></span>
                                <% elsif current_user.role&.rank&.zero? %>
                                    <span class="breadcrumb-text"><%= link.text %></span>
                                    <i class="fa fa-angle-right breadcrumb-separator" aria-hidden="true"></i>
                                <% else %>
                                    <%= link_to link.url, class: (link.current? ? "current" : nil) do %>
                                        <span class="breadcrumb-text"><%= link.text %></span>
                                    <% end %>
                                    <i class="fa fa-angle-right breadcrumb-separator" aria-hidden="true"></i>
                                <% end %>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>
            </ul>

        </div>
    </div>
</section>
