<footer>
    <div class="print-footer show-for-print">
        <div class="left">
            <%= Time.zone.now.to_s(:german_date_format) %>
        </div>
        <div class="right">
            <%= render 'logo' %>
        </div>
    </div>
</footer>
