<footer style="--dc-footer-image-url: url('<%= dc_image_path('dc-logo.svg') %>');">
  <% if DataCycleCore.logo.dig('footer_links').present? %>
    <div class="columns footer-links-container">
      <ul class="footer-links">
        <% DataCycleCore.logo.dig('footer_links').each do |url, text| %>
          <li><%= link_to url, text, target: :_blank %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</footer>
