<h5><%= t('history.latest_edits', locale: DataCycleCore.ui_language) %>:</h5>
<ul class="list-items">
  <% last_history_id = content.histories.last.id %>
  <% content.histories.includes(:translations, :created_by_user, :updated_by_user).each do |item| %>
    <%= history_dropdown_line(item, content, last_history_id, local_assigns[:history_id]) %>
  <% end %>
</ul>
