<div id="show-history-link" data-toggle="show-history" class="link">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <% visible_date = visible_content_date(dataCycleObject) %>
  <%= visible_date[:updated] || visible_date[:created] %>
</div>

<% if dataCycleObject.histories.exists? %>
  <%= render 'histories', content: dataCycleObject %>
<% end %>
