<% random_id = SecureRandom.hex(10) %>

<div id="show-history-link" data-toggle="<%= random_id %>" class="link">
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <% date = visible_content_date(dataCycleObject) %>
  <%= date %>
</div>

<% if date %>
  <div class="dropdown-pane no-bullet bottom left-auto content-diff-dropdown"
    id="<%= random_id %>"
    data-dropdown
    data-alignment="left">
    <div class="remote-render"
        data-remote-path="data_cycle_core/application/histories"
        data-remote-options="<%= to_query_params({ content: dataCycleObject, history_id: dataCycleObject.id }).to_json %>">
    </div>
  </div>
<% end %>
