<div id="show-history-link" data-toggle="show-history" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>
    bearbeitet am <%= l(Time.zone.at(Time.zone.at(dataCycleObject.updated_at)), locale: DataCycleCore.ui_language) %>
    <% person = dataCycleObject.try(:creator)&.first %>

    <% if person.kind_of?(Object) && !person.nil? %>
        <span> von </span>
        <span><strong><a class="email-link" href="mailto:<%= "#{person.email}" %>"><%= "#{person.full_name}" %></a></strong></span>
    <% else %>
        <span> von </span>
        <span><strong>System</strong></span>
    <% end %>

</div>

<% if dataCycleObject.histories.size > 0 %>
    <%= render 'histories', content: dataCycleObject %>
<% end %>
