<h5><%= t('history.latest_edits', locale: active_ui_locale) %>:</h5>
<ul class="list-items">
  <% history_entries = complete_history_list(content) %>
  <% history_entries.each do |item| %>
    <%= history_dropdown_line(content, item, @watch_list&.id, local_assigns[:history_id] == item[:id]) %>
  <% end %>
</ul>
