<span class="logo">
    <%= image_tag 'logo.svg', alt: 'dataCycle Logo', style: 'height: 3rem;', class: 'hide-for-print' %>
    <%= image_tag 'logo.png', alt: 'dataCycle Logo', style: 'height: 3rem;', class: 'show-for-print' %>
</span>
