<div id="new-object-circle">
    <a data-toggle="new-content-reveal" class="button-prime"><i class="fa fa-plus" aria-hidden="true"></i></a>
</div>

<div class="reveal new-content-reveal" id="new-content-reveal" data-reveal data-remote-path="data_cycle_core/contents/new/new_stage" data-remote-target=".new-content-form" data-remote-options="<%= { test: 'haha' }.to_json %>">
  <div class="new-content-form">
    <div class="loading show"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
