<section class="search-results">
  <% if @total.presence&.positive? %>
    <% @mode ||= 'grid' %>

    <div class="mode-switcher">
      <% Array(local_assigns[:modes] || 'grid').each do |mode| %>
        <%= link_to_unless @mode == mode, mode_icon(mode), request.params.merge(mode: mode) %>
      <% end %>
    </div>

    <ul class="no-bullet no-format <%= @mode %>">
      <%= render "data_cycle_core/application/presentation/#{valid_mode(@mode)}", contents: contents %>
    </ul>

  <% else %>

    <div class="row">
      <div class="small-12">
        <span class="no-results"><%= t('common.no_results', locale: DataCycleCore.ui_language) %></span>
      </div>
    </div>

  <% end %>
</section>
