<section class="search-results" id="search-results">
  <% @mode ||= 'grid' %>

  <% if @mode == 'tree' || contents.present? %>

    <ul class="no-bullet no-format <%= @mode %>">
      <%= render "data_cycle_core/application/presentation/#{valid_mode(@mode)}", contents: contents %>
    </ul>

  <% else %>

    <div class="row">
      <div class="small-12">
        <span class="no-results"><%= t('common.no_results', locale: active_ui_locale) %></span>
      </div>
    </div>

  <% end %>
</section>
