<section class="search-results">

    <% if contents&.size&.positive? %>

        <div class="row">
            <div class="small-12">
                <%= paginate @paginate_object, total_pages: @total_pages %>
            </div>
        </div>

        <%= render 'data_cycle_core/application/presentation/grid', contents: contents, no_cache: no_cache ||= false %>

        <div class="row">
            <div class="small-12">
                <%= paginate @paginate_object, total_pages: @total_pages %>
            </div>
        </div>

    <% else %>

        <div class="row">
            <div class="small-12">
                <span class="no-results"><%= t('common.no_results', locale: DataCycleCore.ui_language) %></span>
            </div>
        </div>

    <% end %>

</section>
