<a data-toggle="split-sources"><i class="fa fa-columns" aria-hidden="true"></i></a>
<div class="dropdown-pane align-right no-bullet bottom" id="split-sources" data-dropdown data-hover="true" data-hover-pane="true">
    <h5><%= title_text %></h5>
    <div id="split-source-selector">
        <%= form_tag(url, method: :get) do %>

            <% sources = [] %>
            <% contents.each do |content| %>
                <% I18n.with_locale(content.first_available_locale) do %>
                    <% sources.push(["#{content.title} (#{content.template_name}, #{I18n.locale})", "source_id=>#{content.id},source_table=>#{content.class.table_name}"]) %>
                <% end %>
            <% end %>

            <% selected_value = '' %>
            <% I18n.with_locale(selected.first_available_locale) do %>
                <% selected_value = ["#{selected.title} (#{selected.template_name}, #{selected.translated_locales.first})", "source_id=>#{selected.id},source_table=>#{selected.class.table_name}"] %>
            <% end unless selected.blank? %>

            <div class="form-element">
                <div class="v-select white">
                    <%= select_tag('source', options_for_select(sources, selected_value), {class: 'single-select select', data: {placeholder: 'Vorlage wählen'}, include_blank: true}) %>
                </div>
            </div>

            <button class="button"><%= t('common.load_splitsource', locale: DataCycleCore.ui_language) %></button>
        <% end %>
    </div>
</div>
