<ul class="clickable-menu">
  <li class="dropdown-menu-item search-history-short">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span class="title"><%= t('data_cycle_core.stored_searches.last', locale: active_ui_locale) %></span>

    <ul class="no-bullet remote-render" data-remote-path="data_cycle_core/stored_filters/search_history_short">
    </ul>
  </li>

  <li class="dropdown-menu-item search-favorites-short">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <span class="title"><%= t('data_cycle_core.stored_searches.saved', count: 2, locale: active_ui_locale) %></span>

    <ul class="no-bullet remote-render" data-remote-path="data_cycle_core/stored_filters/search_favorites_short">
    </ul>
  </li>
</ul>
